[2019-11-25 23:59] pannapat commented on #104
Thanks! The new design looks very cool!

[2019-11-26 00:02] anhek commented on #104
Thank you 😊😊

[2019-11-26 00:06] pannapat commented on #104
Do you want one person can hit multiple claps?

[2019-11-26 00:13] anhek commented on #104
It's up to the project maintainers to choose but in my opinion, one person can only hit clap once

[2019-11-26 00:38] pannapat commented on #104
@anhek Is it okay to make one pull request first for adding applause-button with no sorting feature?

[2019-11-26 00:53] anhek commented on #104
I think it's okay

[2019-11-26 01:24] pannapat commented on #104
How can we check that this isn't a new swag opportunity proposal?

[2019-11-26 01:42] pannapat commented on #104
@anhek Please refer to this pull request https://github.com/anhek/swag-for-dev/pull/1
I found one of the tests failed. Looks like it has failed since before the pull request?

[2019-11-26 10:19] aslafy-z opened #476 "Blockstack - Can't be evil stickers"
#107 Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Blockstack

Q. Where have you seen the announcement (URL)?
A. : https://blockstack.myshopify.com/collections/frontpage/products/dont-be-evil-stickers

(Up to 5 free stickers)

Q. What kind of swag (clothing, stickers, ...)?
A. : stickers

Q. Have you received swag from this

[2019-11-27 08:11] crashoverloaded commented on #476
I've received it and it does ship worldwide !!

[2019-11-28 06:58] fzs1994 commented on #476
https://github.com/swapagarwal/swag-for-dev/pull/335#issuecomment-537033676

[2019-11-28 16:43] vikaspotluri123 commented on #476
@fzs1994 these stickers are not advertised specifically for a community ~ your PR linked to a form which says

We don't want to advertise community offerings like that since it's not in the spirit of devSwage 😄

[2019-12-01 18:36] KiranAkadas commented on #468
Hello I feel that the CI error is occuring after the #457 PR

[2019-12-03 13:43] anhek commented on #104
Sorry for the late reply. The Travis CI test is also failing on my PR request, but when we take a look at the logs, it's about the images references. So it's not up to us ^^

[2019-12-24 17:35] ChrisKatsaras commented on #179
Confirmed shipping to Canada. @gpavlovic and I have both received our swag

[2020-01-02 04:05] sampoder opened #490 "ImgBot Stickers"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : ImgBot

Q. Where have you seen the announcement (URL)?
A. : It is linked at the bottom of all PRs the bot makes: https://github.com/gemssingaporestudentcouncil/innovationweek2020/pull/3

Q. What kind of swag (clothing, stickers, ...)?
A. : Stickers

Q. Have you received swag

[2020-01-02 07:24] C0D2D opened #491 "Blockstack Zero to Dapp t-shirt"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Blockstack

Q. Where have you seen the announcement (URL)?
A. : https://community.blockstack.org/z2d-shirt

Q. What kind of swag (clothing, stickers, ...)?
A. : clothing

Q. Have you received swag from this?
A. : Yes

Q. How long did it take?
A. : Took around a week or so

Q.

[2020-01-02 07:35] GuyKh commented on #491
I couldn't find anywhere a mention of the shirt for the link you wrote

[2020-01-02 07:39] C0D2D commented on #491
I used the wrong link, the link mentioning it is https://community.blockstack.org/z2d-shirt

[2020-01-03 09:14] wad3g commented on #179
I can confirm your is legit. Received my t-shirt a month or two ago.

[2020-01-12 02:59] #468 closed

[2020-01-19 08:07] tsonge commented on #366
Hello. I decided to take a look at this since nobody responded in the past 2+ months.

It seems like #374 had already fixed this issue, but was closed before merging. All that was needed was to sort the `swagList` in `get-data.js`, as it had done. If nobody's willing, perhaps I could open an identical PR, and see it through till it's merging?

That fixes most of the "jank" but there's still the "C

[2020-01-19 11:05] aslafy-z commented on #366
Hello @tsonge, go ahead and open that PR!
I'd say that the tag selector loading jank can be solved in another PR. Thanks!

[2020-01-19 11:13] sampoder commented on #490
Fixing this in #509

[2020-01-19 12:09] sampoder opened #511 "Whats happening with the TravisCI"
- [x] I've checked that this isn't a duplicate issue.

Seems to not be working on the commits even though it's building on Netlify.

[2020-01-19 12:19] sampoder opened #512 "Extend Contributing.MD"
- [x] I've checked that this isn't a duplicate issue.

What do you think of adding a simple section on how to add a swag opportunity to the Contributing file? I could do it and it would be pretty small but helpful for people not experienced with the technologies used as well as the project.

[2020-01-19 16:42] vikaspotluri123 commented on #511
Hey @sampoder 👋

CI checks every image and url ref to ensure they're still alive. Since the requests come from Travis, sometimes requests fail. We usually check the logs to make sure nothings gone awry before ignoring failing builds. Our switch to Github Actions (#365) will better show what the issue is

[2020-01-20 00:04] sampoder commented on #511
Hmmmm ok... Thanks!

[2020-01-20 00:04] #511 closed

[2020-01-20 00:27] #491 closed

[2020-01-20 00:28] #490 closed

[2020-01-22 03:37] sampoder opened #515 "Issue with Pagerduty Swag"
## Issue with an existing swag opportunity

- [x] I've checked that this isn't a duplicate issue.

Q. Which opportunity?
A. : Pagerduty

The website link is no longer valid: https://community.pagerduty.com/t/free-pagerduty-stickers-are-back-and-here-to-stay/4520

[2020-01-22 06:35] aslafy-z commented on #515
Well spotted. Can you open a PR to set this opportunity as expired?

[2020-01-22 07:22] sampoder commented on #515
Sure. I'll open one!

--
This email and any attachments are confidential and may also be privileged.
If you have received this message in error, please (a) notify the sender
immediately, (b) destroy this email and any attachments, and (c) do not
use, copy, store and/or disclose to any person this email and any
attachments. The sender gives no representation or guarantee with respect
to the integri

[2020-01-22 11:32] #515 closed

[2020-02-11 01:07] yesh0907 commented on #322
I see that the PR has been merged. Does this mean this issue can be closed? If not I would like to help make my first contribution!
Thanks

[2020-02-11 02:33] vikaspotluri123 commented on #322
Thanks @yesh0907, closing!

[2020-02-11 02:33] #322 closed

[2020-02-11 17:20] aslafy-z opened #528 "Add gitpod configuration file"
Gitpod allows people to start hacking just by loading a page. It contains a vscode like IDE which already has the repository loaded, the right dependencies available, configured test command, and allows to expose ports to the internet.

See the docs in here: https://www.gitpod.io/docs/configuration/

[2020-02-11 17:21] aslafy-z commented on #511
Just applied a workaround with #25

[2020-02-14 17:13] aslafy-z opened #533 "RedisLabs free t-shirt"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : RedisLabs

Q. Where have you seen the announcement (URL)?
A. : https://redislabs.com/try-redis-cloud-essentials-for-a-free-shirt/

Q. What kind of swag (clothing, stickers, ...)?
A. : t-shirt

Q. Have you received swag from this?
A. : No

Q. Does it ship worldwide?
A. : No, o

[2020-02-15 10:46] GuyKh commented on #533
I've created an account and a DB, but still no T-Shirt offer :(

[2020-02-18 22:51] aslafy-z opened #534 "Expose dataset on website"
- [x] I've checked that this isn't a duplicate issue.

Expose json dataset on the website, and add a link to it.
Url can look like: `https://devswag.io/data.json`

[2020-02-20 14:36] brittbrouwer commented on #533
I've added Redis Cloud in a PR #537

[2020-02-20 17:16] hardik25 commented on #534
I would like to take up this issue.

[2020-02-20 19:05] aslafy-z opened #538 "Add BuiltOn.dev swag opportunity"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : builton.dev

Q. Where have you seen the announcement (URL)?
A. : https://twitter.com/BuiltOnDev/status/1195746603627405312

Q. What kind of swag (clothing, stickers, ...)?
A. : clothing, stickers

- [x] I've checked that the promotion is legit.
- [x] I've checked that it's st

[2020-02-21 10:19] Mmaarten23 opened #539 "Change difficulty of WhatIsMyBrowser"
## Issue with an existing swag opportunity

- [x] I've checked that this isn't a duplicate issue.

Q. Which opportunity?
A. : WhatIsMyBrowser

The opportunity now needs a paid account which doesnt make it "easy" anymore

[2020-02-22 02:22] Souvik-py commented on #538
Expired opportunity ☹️

[2020-02-25 14:31] aslafy-z opened #541 "Add TigerGraph opportunity"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : TigerGraph

Q. Where have you seen the announcement (URL)?
A. : https://www.tigergraph.com/certification-gsql-101/

Q. What kind of swag (clothing, stickers, ...)?
A. : clothing

Q. Does it ship worldwide?
A. : to be checked

Image url: https://i.imgur.com/ub8tsdN.png

- [x]

[2020-02-25 14:33] aslafy-z opened #542 "Add Deque opportunity"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Deque

Q. Where have you seen the announcement (URL)?
A. : https://twitter.com/dequesystems/status/1182651282869362694

Q. What kind of swag (clothing, stickers, ...)?
A. : clothing

Q. Does it ship worldwide?
A. : to be checked

image url: https://i.imgur.com/t82DlcW.jpg

-

[2020-02-25 14:57] sakkshm commented on #534
@aslafy-z You can still access it through https://raw.githubusercontent.com/swapagarwal/swag-for-dev/master/data.json

This is somewhat not the best fix but will work perfectly. Hope it doesn't violates any policy.

[2020-02-25 15:36] saqibameen opened #543 "Daily Swag (Stickers + T-Shirt)"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : [Daily.dev](https://daily.dev)

Q. Where have you seen the announcement (URL)?
A. : [Twitter](https://twitter.com/dailydotdev/status/1232320892190871552) — I announced it.

Q. What kind of swag (clothing, stickers, ...)?
A. : Stickers + Clothing

Q. Have you received swag fro

[2020-02-25 15:57] vikaspotluri123 commented on #543
Hey @saqibameen 👋 if I understand correctly, not everyone is not guaranteed to get swag for following the steps? /cc @aslafy-z I think we decided against opportunities like these?

[2020-02-25 16:16] aslafy-z commented on #543
Yep, correct. We cannot accept this kind of contest. Closing this.

[2020-02-25 16:16] #543 closed

[2020-02-25 16:19] aslafy-z commented on #534
Yep, we can eventually do a redirect with netlify to this url, it's one of our options. @hardik25 Sure, go on!

[2020-02-26 16:52] aslafy-z commented on #541
Source: https://github.com/Joonsang1994/free-tshirts-stickers-and-swag-for-developers/pull/36/commits/9e295ccd2417c7767867358e14d86f818cd06297

[2020-02-27 07:12] aslafy-z commented on #512
Oops, it misses a link on the readme. Can you add that one? Thank you @sampoder 🔥

[2020-02-27 07:12] sampoder commented on #512
Ok, will do!

[2020-02-27 07:16] sampoder commented on #512
@aslafy-z done!

[2020-02-27 13:31] #512 closed

[2020-03-03 22:08] ChrisKatsaras commented on #541
Received mine today. Different than the picture above though

[2020-03-04 06:58] GuyKh commented on #541
@ChrisKatsaras - any chance for the answers to the test? :)

[2020-03-04 08:23] aslafy-z commented on #541
@ChrisKatsaras Can you do a pic so we can replace the actual? Thanks!

[2020-03-06 21:37] stabee opened #551 "Error running gulp command"
- [X] I've checked that this isn't a duplicate issue.

After following the guide to run a development environment locally, I get an issue after running `gulp`. I've attached the logs below. I believe it has to do with gulp optimizing google_assistant.jpeg.

<img width="817" alt="Screen Shot 2020-03-06 at 1 34 52 PM" src="https://user-images.githubusercontent.com/23332245/76124388-649abf00-5faf-11e

[2020-03-07 19:19] vikaspotluri123 commented on #551
Is that the only log that comes out? Usually when something like this happens, it's because one of the images failed to fetch 🤔

[2020-03-07 19:51] stabee commented on #551
Hm.. yeah I get "An error occurred while loading that image" message when trying to view hacktoberfest_2019.jpeg from `dist/assets/swag-img` folder. Here's the full log :)

<img width="784" alt="Screen Shot 2020-03-07 at 11 45 43 AM" src="https://user-images.githubusercontent.com/23332245/76151420-d20b2600-6069-11ea-8421-c0309c294671.png">

[2020-03-07 19:55] stabee commented on #551
I think it's because the link for the image for hacktoberfest_2019 from `data.json` is not an image anymore. Here's the link related to the image. Just redirects to the homepage:

https://hacktoberfest.digitalocean.com/assets/HF19_social-744d976f227e4aff6866443abcede8c651b309ec9c7c9f7410f5944f8e1299b9.png

[2020-03-08 00:19] vikaspotluri123 commented on #551
Aah that makes sense. Can you rebase your fork against this repo? If you don't know how, Github has a [great guide](https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/merging-an-upstream-repository-into-your-fork)!

[2020-03-08 03:11] stabee commented on #551
Hm.. I think my local repo is up to date with the master branch, but still getting the same error after running `gulp` :/

[2020-03-08 04:05] vikaspotluri123 commented on #551
You're right, I see the issue now... @aslafy-z do you have time to fix the broken image?

[2020-03-10 19:21] vikaspotluri123 commented on #551
@stabee I've fixed the image. Can you rebase and try again?

[2020-03-10 22:14] stabee commented on #551
@vikaspotluri123 I think the hacktoberfest image is working now, thank you! I think there might be a similar issue with the JabRef image (line 237 of `data.json`)

[2020-03-11 02:59] vikaspotluri123 commented on #551
Third time's the charm 😄

[2020-03-11 04:07] stabee commented on #551
Working for me now. Thank you for your help @vikaspotluri123 :)

[2020-03-11 04:52] vikaspotluri123 commented on #551
Not a problem, great to hear! 🎉

[2020-03-11 04:52] #551 closed

[2020-03-13 04:39] ChrisKatsaras commented on #541
@GuyKh I don't have them on me, sorry. @aslafy-z I'll try and upload one soon!

[2020-03-13 18:12] stabee opened #555 "503 error after running gulp"
- [x] I've checked that this isn't a duplicate issue.

While running the `gulp` command, I get a 503 error from "https://partners.npmjs.com/weekly/weekly30/socks-1100x.jpg" I think partners.npmjs.com is down, but it's been like that for several days.

I'm interested in contributing to the project, but my build fails when trying to pass the tests on github.

![Screen Shot 2020-03-13 at 11 09 00 AM]

[2020-03-13 18:56] vikaspotluri123 commented on #555
hmm, [latest master](https://github.com/swapagarwal/swag-for-dev/blob/617f38aa5829b3af080cf63cca9fc4a56ab9f532/data.json) doesn't reference partners:

[2020-03-13 22:48] stabee commented on #555
@vikaspotluri123 you're right, sorry I forgot to sync my fork. Completely my fault.

[2020-03-13 22:48] #555 closed

[2020-03-25 05:42] sakkshm commented on #534
Any updates @hardik25 ?

[2020-04-16 01:23] #447 closed

[2020-04-16 01:23] #405 closed

[2020-04-27 13:01] nisarhassan12 commented on #528
I will soon make a Pr for this.

[2020-04-30 20:38] TorRydberg opened #577 "Getting error when building local with gulp"
- [x] I've checked that this isn't a duplicate issue.

I've cloned the repo, installed everything, made sure everything is up to date but when I run gulp I get this error:

![Capture](https://user-images.githubusercontent.com/50177532/80756634-e7984b80-8b00-11ea-94ea-c9f61ff801b0.PNG)

npm update doesn't seem to be doing anything to fix the "caniuse-lite is outdated" issue
Does anyone know how to

[2020-04-30 21:00] vikaspotluri123 commented on #577
Hey @TorRydberg can you sync your repository with ours? You're 96 commits behind, and one of the commits fixes the issue you're having

Here's a Github Guide to [syncing a fork](https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/syncing-a-fork)

[2020-04-30 21:21] TorRydberg commented on #577
@vikaspotluri123 Thanks a lot, I'm all up to date now. I had cloned the repo and deleted it, so when I cloned again I thought it would be the latest stuff. I learned something today.

[2020-04-30 21:21] #577 closed

[2020-05-02 14:20] aslafy-z opened #578 "Automatic images upload to imgur"
- [x] I've checked that this isn't a duplicate issue.

In order to prevent us from broken image links, we could build an automation that upload images to imgur.

[2020-05-02 16:01] aslafy-z opened #579 "Live Reload not working inside Gitpod"
- [x] I've checked that this isn't a duplicate issue.

With Gitpod, all urls are exposed with HTTPS at `https://<port>-<workspace-id>.ws-<region>.gitpod.io` instead of `http://localhost:<port>`.
[`gulp-webserver`](https://github.com/schickling/gulp-webserver/pull/126) uses default [`connect-livereload`](https://github.com/intesso/connect-livereload) plugin settings, thus does not allow us to set `

[2020-05-02 16:45] #533 closed

[2020-05-02 17:18] #286 closed

[2020-05-02 17:36] vikaspotluri123 commented on #578
I think we should just cache the images either in Github Actions or Netlify

[2020-05-02 20:04] #227 closed

[2020-05-02 20:05] aslafy-z commented on #387
Done @maybebored!

[2020-05-03 02:23] #321 closed

[2020-05-03 02:25] #371 closed

[2020-05-03 02:30] aslafy-z commented on #396
Duplicate of #166

[2020-05-03 02:30] #396 closed

[2020-05-03 02:35] #538 closed

[2020-05-03 02:36] #366 closed

[2020-05-03 02:41] aslafy-z commented on #393
Fixed by #401

[2020-05-03 02:41] #393 closed

[2020-05-03 02:45] aslafy-z commented on #200
It's live at https://devswag.io!

[2020-05-03 02:45] #200 closed

[2020-05-03 02:52] aslafy-z opened #585 "Move netlify injected scripts to the hard code"
Here's what's injected into the page by netlify:

- Hello Bar
- Beamer
- Google Analytics
- Appzi
- Carbon

What can we move? How to optimize these scripts?
See https://lighthouse-dot-webdotdevsite.appspot.com//lh/html?url=http%3A%2F%2Fdevswag.io

Related https://github.com/swapagarwal/swag-for-dev/issues/157

[2020-05-03 02:52] #157 closed

[2020-05-03 03:05] aslafy-z commented on #95
Doing some housekeeping in here. @tannmaysgupta please open a new issue if this is still bothering you.

[2020-05-03 03:05] #95 closed

[2020-05-03 03:21] aslafy-z commented on #407
Closed with #443 :100:

[2020-05-03 03:21] #407 closed

[2020-05-03 03:33] aslafy-z opened #586 "Lazy load CSS resources"
Opened after #250 closure.

[2020-05-04 07:53] ritesh-pandey commented on #586
All changes that were proposed in #250 need to moved to a new PR, right?

[2020-05-04 19:52] TorRydberg commented on #539
What should the difficulty be changed to?

[2020-05-04 20:35] vikaspotluri123 commented on #539
If it requires a paid account, I think it should be marked as expired /cc @aslafy-z

[2020-05-04 21:03] aslafy-z commented on #539
Ok to me!

[2020-05-04 22:51] #539 closed

[2020-05-04 22:53] aslafy-z commented on #539
Thanks for reporting @Mmaarten23! Now live at https://devswag.io

[2020-05-05 08:22] #528 closed

[2020-05-07 17:00] aslafy-z opened #594 "Add automatic lighthouse checks"
Either we switch to Netlify github actions or we wait for deploy to be finished.

https://github.com/netlify/actions
or https://github.com/marketplace/actions/wait-for-netlify

and https://github.com/marketplace/actions/lighthouse-check

[2020-05-12 18:47] #586 closed

[2020-05-13 19:39] THE-VR7 commented on #578
Hello. I am new  and would love to contribute.
I would like to fix this issue, if no one is already on it.

[2020-05-13 19:40] THE-VR7 commented on #534
Hello. I am new  and would love to contribute.
I would like to fix this issue, if no one is already on it.

[2020-05-13 19:43] THE-VR7 commented on #207
Hello. I am new  and would love to contribute.
I would like to fix this issue, if no one is already on it.

[2020-05-13 22:37] vikaspotluri123 commented on #207
@THE-VR7 I've assigned you to this issue 😄

[2020-05-14 17:01] aslafy-z opened #602 "Show something when there are no matches"
If the search outputs no results, nothing is shown.
Let's add a quick message with a link to this repo for them to contribute.

![image](https://user-images.githubusercontent.com/8191198/81963440-5ef7d000-9615-11ea-8a12-4b911ecff1e7.png)

[2020-05-16 20:42] amhislop commented on #151
Sorry, I should have asked before submitting a PR #438. Can I be assigned to this issue?

[2020-05-17 23:50] sahilister opened #606 "LibreOffice stickers"
## Wild swag opportunity appeared!

- [X] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : LibreOffice

Q. Where have you seen the announcement (URL)?
A. : https://blog.documentfoundation.org/blog/2020/05/01/starting-today-the-month-of-libreoffice-may-2020-get-cool-merchandise/
https://blog.documentfoundation.org/blog/2020/05/15/month-of-libreoffice-may-2020-two-we

[2020-05-18 00:25] sahilister commented on #606
Pull request opened #607

[2020-05-25 23:21] ramyak-mehra commented on #136
hey can i use data.json for my app
i will ovisoly giving you credit

[2020-05-28 12:53] tsonge commented on #183
Hi is this issue available to work on? We can set the default values for the filter & sort inputs from the URL like so:

in file src/js/index.js
[code]

 I am willing to work on updating the URL from the inputs as well. Please let me know. Thanks.

[2020-05-28 13:21] tsonge commented on #106
Hi this issue has been inactive for a while now. Is it okay if I work on it? Thanks.

[2020-05-28 15:34] vikaspotluri123 commented on #106
@tsonge go for it!

[2020-05-31 18:13] sahilister commented on #606
Opportunity ended today, closing pull request.

[2020-05-31 18:13] #606 closed

[2020-06-03 11:59] aslafy-z commented on #183
@plibither8 Any updates on your PR? Are you willing to finish it?

[2020-06-18 19:27] #119 closed

[2020-07-04 03:37] tadhglewis commented on #578
As a side note it is against Imgur Terms of Service to use them as a CDN

Stuff not to do
If someone else might own the copyright to it, don't upload it. Don't upload gore, "hate speech" (i.e. demeaning race, gender, age, religious or sexual orientation, etc.), or material that is threatening, harassing, defamatory, or that encourages violence or crime. Don't upload illegal content such as child p

[2020-07-14 12:12] PoorPocketsMcNewHold commented on #542
The reference tweet seems to have been deleted.

[2020-07-15 06:34] monizb opened #633 "Remove Expired Deque And Blockstack Opportunities"
## Issue with an existing swag opportunity

- [x] I've checked that this isn't a duplicate issue.

Q. Which opportunity?
A. : Deque And Blockstack

Both the mentioned opportunities above have expired and they are no more giving away those Tees.

[2020-07-17 16:09] cybrefox commented on #633
I've never received a tee from neither Blockstack nor Deque. Forms filled in January for blockstack, and in march or april for deque.

[2020-07-17 16:10] cybrefox commented on #542
Why isn't this closed yet?

[2020-07-17 16:11] cybrefox commented on #476
This has been open for over 8 months now

[2020-07-21 14:30] aslafy-z commented on #542
@cybrefox @PoorPocketsMcNewHold You're right. This has already been added to the website.
Thanks for the head up.

[2020-07-21 14:30] #542 closed

[2020-07-21 14:35] #633 closed

[2020-07-21 15:08] #476 closed

[2020-07-22 20:41] riyaagrahari opened #639 "README update Gulp redirection link with latest available"
- [x] I've checked that this isn't a duplicate issue.

README still redirects me to old GULP link in installation steps on clicking Gulp.
I am updating it with the latest one now. https://gulpjs.com/docs/en/getting-started/quick-start

[2020-08-12 14:16] pgirikishore opened #649 "Developer Economics Swags"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A.: Developer Economics

Q. Where have you seen the announcement (URL)?
A. : https://developereconomics.net?member_id=6iRjAsCT&lang=en

Q. What kind of swag (clothing, stickers, ...)?
A. : All kinds if swags. Visit the site for more info

Q. Have you received swag from this?
A. :

[2020-08-13 23:38] aslafy-z opened #650 "GitHub Actions Hackathon on DEV"
## Wild swag opportunity appeared!

- [ ] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : DEV

Q. Where have you seen the announcement (URL)?
A. : https://dev.to/devteam/announcing-the-github-actions-hackathon-on-dev-3ljn

Q. What kind of swag (clothing, stickers, ...)?
A. : stickers

Q. Does it ship worldwide?
A. : Yes

- [x] I've checked that the promotion is le

[2020-08-17 07:35] Gilbishkosma opened #651 "Swag by Js13K Games"
## Wild swag opportunity appeared!

- [X] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Js13k Games

Q. Where have you seen the announcement (URL)?
A. : https://js13kgames.com/#prizes

Q. What kind of swag (clothing, stickers, ...)?
A. : Tshirts,Stickers,subscriptions

Q. Have you received swag from this?
A. : Yes, last year

Q. How long did it take?
A. : 1.5 mo

[2020-08-26 08:18] monizb commented on #633
Actually I got both of them :P

[2020-08-30 07:09] Ayushbajpai19 commented on #241
Hii, I want to contribute for the above tasks, can you guide me through the process?

[2020-09-03 15:37] VedantBang opened #656 "Add RedwoodJS swag"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : RedwoodJS

Q. Where have you seen the announcement (URL)?
A. : https://redwoodjs.com/stickers

Q. What kind of swag (clothing, stickers, ...)?
A. : Stickers

Q. Have you received swag from this?
A. : Yes

Q. How long did it take?
A. : Three weeks

Q. Does it ship worldwide?
A

[2020-09-07 10:55] milanmeu opened #661 "Hotjar t-shirt/hoodie"
## Refer friends to receive a Hotjar t-shirt and hoodie!

Refer 5 friends to receive an official Hotjar t-shirt.
Top 5 referrers every month receive a Hotjar hoodie.

![t-shirt](https://insights.hotjar.com/static/referrals_prize_3.hash-98cad1.png) ![hoodie](https://insights.hotjar.com/static/referrals_prize_2.hash-00c608.png)

Q. Which company offers it?
A. : Hotjar

Q. Where have you seen the ann

[2020-09-16 16:03] aslafy-z opened #665 "Add Hacktoberfest 2020 entry"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : DigitalOcean

Q. Where have you seen the announcement (URL)?
A. : https://hacktoberfest.digitalocean.com/

Q. What kind of swag (clothing, stickers, ...)?
A. : clothing

- [x] I've checked that the promotion is legit.
- [x] I've checked that it's still available to the public

[2020-09-16 16:13] aslafy-z commented on #661
Hello @milanmeu. As stated before, we don't accept this kind of entry requiring users to refers others. See https://github.com/swapagarwal/swag-for-dev/issues/201 for details. Thank you for your contribution.

[2020-09-16 16:13] #661 closed

[2020-09-16 16:18] #656 closed

[2020-09-18 16:24] Sudhee-bsp commented on #665
Just added new swag entry @aslafy-z , let's wait for the merging the PR :)

[2020-09-21 17:32] aslafy-z opened #669 "Hacktoberfest - Appwrite"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Appwrite

Q. Where have you seen the announcement (URL)?
A. : https://github.com/appwrite/appwrite/issues/541

Q. What kind of swag (clothing, stickers, ...)?
A. : ?

- [x] I've checked that the promotion is legit.
- [x] I've checked that it's still available to the public.

[2020-09-21 18:17] aslafy-z opened #670 "Hacktoberfest - LakeFS"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : LakeFS

Q. Where have you seen the announcement (URL)?
A. : https://github.com/treeverse/lakeFS#get-ready-for-hacktoberfest https://twitter.com/lakeFS/status/1308374824528601088

Q. What kind of swag (clothing, stickers, ...)?
A. : stickers, clothing

- [x] I've checked that

[2020-09-22 15:40] keivalya commented on #670
This is my first HacktoberFest. I'll be happy if I could contribute.

[2020-09-23 20:21] rmorabia commented on #649
This is a referral link. Request to close.

[2020-09-23 20:26] aslafy-z commented on #649
Thanks for your contribution, however we can't accept it, you're right, see #201.

[2020-09-23 20:26] #649 closed

[2020-09-23 20:31] rmorabia commented on #541
Is this still available? I'd like to make a PR for Hacktoberfest next week.

[2020-09-23 21:01] aslafy-z commented on #541
It looks like this opportunity is now expired. Closing this from now. @rmorabia feel free to implement another entry ☺️

[2020-09-23 21:02] #541 closed

[2020-09-24 04:05] ashish8947 opened #672 "Added LoginRadius swag"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : LoginRadius

Q. Where have you seen the announcement (URL)?
A. : https://www.loginradius.com/engineering/blog/loginradius-supports-hacktoberfest-2020/

Q. What kind of swag (clothing, stickers, ...)?
A. : T-shirt, Stickers

Q. Does it ship worldwide?
A. : Yes

- [x] I've chec

[2020-09-24 04:39] ashish8947 commented on #672
PR added #673

[2020-09-25 06:36] #672 closed

[2020-09-26 23:11] aslafy-z opened #675 "IHP - Integrated Haskel Platform"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : IHP (Integrated Haskel Platform)

Q. Where have you seen the announcement (URL)?
A. : https://github.com/digitallyinduced/ihp#ihp-stickers

Q. What kind of swag (clothing, stickers, ...)?
A. : stickers

Fill the form or write an email to hi@digitallyinduced.com

- [x] I've ch

[2020-09-30 09:52] #665 closed

[2020-09-30 09:54] aslafy-z opened #677 "Hasura Hacktoberfest"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Hasura

Q. Where have you seen the announcement (URL)?
A. : https://hasura.io/blog/the-hasura-hacktoberfest-fiesta-build-a-supergraph-and-win-1000/

Q. What kind of swag (clothing, stickers, ...)?
A. : ?

- [x] I've checked that the promotion is legit.
- [x] I've checked that

[2020-09-30 09:56] aslafy-z opened #678 "Camunda Hacktoberfest"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Camunda

Q. Where have you seen the announcement (URL)?
A. : https://camunda.com/hacktoberfest2020/

Q. What kind of swag (clothing, stickers, ...)?
A. : t-shirt, stickers

- [x] I've checked that the promotion is legit.
- [x] I've checked that it's still available to the pub

[2020-09-30 09:57] aslafy-z opened #679 "Circle-CI Hacktoberfest"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Circle-CI

Q. Where have you seen the announcement (URL)?
A. : https://hacktoberfest.circleci.com/

Q. What kind of swag (clothing, stickers, ...)?
A. : t-shirt, stickers

- [x] I've checked that the promotion is legit.
- [x] I've checked that it's still available to the publ

[2020-09-30 10:00] aslafy-z opened #680 "Globo Hacktoberfest"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Globo

Q. Where have you seen the announcement (URL)?
A. : https://opensource.globo.com/hacktoberfest/

Q. What kind of swag (clothing, stickers, ...)?
A. : t-shirt

Q. Does it ship worldwide?
A. : No, Brazil only

- [x] I've checked that the promotion is legit.
- [x] I've ch

[2020-09-30 10:03] aslafy-z opened #681 "Infracloud Hacktoberfest"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Infracloud

Q. Where have you seen the announcement (URL)?
A. : https://www.infracloud.io/blogs/infracloud-joins-hacktoberfest-2020/

Q. What kind of swag (clothing, stickers, ...)?
A. : t-shirt, stickers

- [x] I've checked that the promotion is legit.
- [x] I've checked tha

[2020-09-30 10:15] aslafy-z opened #682 "Jetbrains Hacktoberfest"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Jetbrains

Q. Where have you seen the announcement (URL)?
A. : https://www.jetbrains.com/lp/hacktoberfest-2020/

Q. What kind of swag (clothing, stickers, ...)?
A. : software licenses

- [x] I've checked that the promotion is legit.
- [x] I've checked that it's still availabl

[2020-09-30 10:16] aslafy-z opened #683 "Vonage Hacktoberfest"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Vonage

Q. Where have you seen the announcement (URL)?
A. : https://developer.nexmo.com/hacktoberfest

Q. What kind of swag (clothing, stickers, ...)?
A. : clothing, coupons

- [x] I've checked that the promotion is legit.
- [x] I've checked that it's still available to the p

[2020-09-30 10:19] aslafy-z opened #684 "MayaData Hacktoberfest"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : MayaData

Q. Where have you seen the announcement (URL)?
A. : https://blog.mayadata.io/celebrate-hacktoberfest-2020-open-source-with-mayadata

Q. What kind of swag (clothing, stickers, ...)?
A. : t-shirt

- [x] I've checked that the promotion is legit.
- [x] I've checked that

[2020-09-30 17:51] parisha99 opened #685 "Hacktober"
## Wild swag opportunity appeared!

- [ ] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Hacktober

Q. Where have you seen the announcement (URL)?
A. :

Q. What kind of swag (clothing, stickers, ...)?
A. : clothing

Q. Have you received swag from this?
A. : no

Q. How long did it take?
A. : few days

Q. Does it ship worldwide?
A. : yes

- [ ] I've checked that th

[2020-09-30 17:52] parisha99 commented on #685
This event is  from October 1 - October 31.

[2020-09-30 18:06] Ameenrehman commented on #679
can you please tell me what we need to do in this issue

[2020-09-30 20:00] rmorabia commented on #684
Happy to take this on

[2020-09-30 20:10] vikaspotluri123 commented on #679
@Ameenrehman you need to complete steps 2-5 from here:

https://github.com/swapagarwal/swag-for-dev/blob/master/CONTRIBUTING.md#how-do-i-add-a-swag-opportunity

[2020-09-30 20:11] vikaspotluri123 commented on #685
@parisha99 can you please share a link with more information. If you're referring to [hacktoberfest](https://hacktoberfest.digitalocean.com), that's already on the site :smile:

[2020-09-30 22:51] iTechsTR commented on #669
Announcement here

https://medium.com/appwrite-io/celebrate-hacktoberfest-20-with-appwrite-1356337e2159

[2020-09-30 22:55] iTechsTR opened #690 "Strawberry GraphQL Hacktoberfest"
## Wild swag opportunity appeared!

- [X] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Strawberry GraphQL

Q. Where have you seen the announcement (URL)?
A. : https://twitter.com/patrick91/status/1310931830695235584

Q. What kind of swag (clothing, stickers, ...)?
A. : Stickers

Q. Have you received swag from this?
A. : -

Q. How long did it take?
A. : -

Q. Do

[2020-09-30 23:15] Archis19 commented on #682
Could you please assign me this issue?

[2020-09-30 23:21] iTechsTR opened #691 "Container Solutions Hacktoberfest"
## Wild swag opportunity appeared!

- [X] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Container Solutions

Q. Where have you seen the announcement (URL)?
A. : https://blog.container-solutions.com/container-solutions-does-hacktoberfest

Q. What kind of swag (clothing, stickers, ...)?
A. : T-Shirt

Q. Have you received swag from this?
A. : -

Q. How long did it

[2020-09-30 23:25] iTechsTR opened #692 "Webiny Hacktoberfest"
## Wild swag opportunity appeared!

- [X] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Webiny

Q. Where have you seen the announcement (URL)?
A. : https://dev.to/webiny/webiny-hacktoberfest-2020-49h4

Q. What kind of swag (clothing, stickers, ...)?
A. : Webiny swag pack

Q. Have you received swag from this?
A. : -

Q. How long did it take?
A. : -

Q. Does it sh

[2020-09-30 23:56] #684 closed

[2020-10-01 01:27] Archis19 commented on #681
Can you please assign me this as well?

[2020-10-01 04:46] parisha99 commented on #685
Hacktoberfest is going on from October 1- October 31. The link to the same- (https://www.google.com/url?sa=t&source=web&rct=j&url=https://hacktoberfest.digitalocean.com/&ved=2ahUKEwiPz5vJypLsAhUBOisKHZ5vDtMQFjACegQIChAB&usg=AOvVaw3WClc5XFd06zQEPs6Cb6dg) . In this challenge one have to complete 4 pull request to get a swag(T-shirt).

[2020-10-01 04:47] vikaspotluri123 commented on #685
Closing as a duplicate of #665 🙂

[2020-10-01 09:21] zner0L opened #702 "Update Datenanfragen for Hacktoberfest 2020"
## Issue with an existing swag opportunity

- [x] I've checked that this isn't a duplicate issue.

Q. Which opportunity?
A. : Datenanfragen.de e. V.

This year, the Datenanfragen.de e. V. is doing another round of swag for the Hacktoberfest (see [here](https://www.datarequests.org/blog/hacktoberfest-2020/)).

[2020-10-01 11:08] aslafy-z opened #704 "Update Hacktoberfest image?"
## Issue with an existing swag opportunity

- [x] I've checked that this isn't a duplicate issue.

Q. Which opportunity?
A. : Hacktoberfest

Here's the official visual for the dark/light t-shirt: https://i.imgur.com/fAuXACg.png

[2020-10-01 11:09] aslafy-z opened #705 "Indeed Hacktoberfest"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Indeed

Q. Where have you seen the announcement (URL)?
A. : https://engineering.indeedblog.com/indeed-hacktoberfest-2020/

Only shipping to US.

- [x] I've checked that the promotion is legit.
- [x] I've checked that it's still available to the public.

[2020-10-01 11:13] #685 closed

[2020-10-01 11:13] avantikasparihar commented on #680
Hey, can I work on this one?

[2020-10-01 11:15] aslafy-z opened #706 "Jenkins Hacktoberfest"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Jenkins

Q. Where have you seen the announcement (URL)?
A. : https://www.jenkins.io/events/hacktoberfest/

See https://www.jenkins.io/events/hacktoberfest/faq/#does-jenkins-project-send-special-swag

- [x] I've checked that the promotion is legit.
- [x] I've checked that it's

[2020-10-01 11:41] aslafy-z opened #708 "Hasura Hacktoberfest"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Hasura

Q. Where have you seen the announcement (URL)?
A. : https://hasura.io/blog/hasura-joins-hacktoberfest-3rd-year-in-a-row/

Q. What kind of swag (clothing, stickers, ...)?
A. : surprise, stickers

Q. Does it ship worldwide?
A. : Yes

- [x] I've checked that the promotio

[2020-10-01 11:43] aslafy-z opened #709 "Tripal Hacktoberfest"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Tripal

Q. Where have you seen the announcement (URL)?
A. : https://tripal.info/news/tripal-hacktoberfest-2020

Q. What kind of swag (clothing, stickers, ...)?
A. : clothing

- [x] I've checked that the promotion is legit.
- [x] I've checked that it's still available to the p

[2020-10-01 11:52] yash-m-agarwal commented on #705
Hi, @aslafy-z I want to take up this issue. Can you please elaborate on the task?

[2020-10-01 12:01] aslafy-z commented on #705
@swapagarwal @vikaspotluri123 this does not ship worldwide, should we add it anyway?

Hello @yash-m-agarwal. You can follow steps 2-5 of this guide https://github.com/swapagarwal/swag-for-dev/blob/master/CONTRIBUTING.md#how-do-i-add-a-swag-opportunity to add this entry to the website.
You can also use Gitpod to do the change: https://github.com/swapagarwal/swag-for-dev/blob/master/CONTRIBUTING.md#

[2020-10-01 12:03] yash-m-agarwal commented on #705
Thank you, I am taking up this issue and will send a PR for the same.

[2020-10-01 12:54] avantikasparihar commented on #709
Hey, can I work on this one?

[2020-10-01 13:27] aslafy-z commented on #709
Sure, go on!

[2020-10-01 13:44] will-chow opened #712 "MS Ignite Cloud"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. :  Microsoft

Q. Where have you seen the announcement (URL)?
A. :  https://csc.docs.microsoft.com/ignite/registration

Q. What kind of swag (clothing, stickers, ...)?
A. :  Earn a free Microsoft Certification exam and chances to win more prizes

Q. Have you received swag from t

[2020-10-01 13:45] will-chow commented on #712
Please assign to me, thanks!

[2020-10-01 15:01] #705 closed

[2020-10-01 15:47] rmorabia commented on #706
Happy to take this one.

[2020-10-01 15:48] #702 closed

[2020-10-01 15:49] rmorabia commented on #692
I Can take this one as well.

PRs coming in a few hours!

[2020-10-01 16:00] lucasqueiroz commented on #708
I'd like to take this one if it's not already claimed! :)

[2020-10-01 16:09] aslafy-z opened #716 "SpecFlow contributor package"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : SpecFlow

Q. Where have you seen the announcement (URL)?
A. : https://specflow.org/contributer-package/
https://specflow.org/blog/hacktoberfest-2020-starts-soon/

Q. What kind of swag (clothing, stickers, ...)?
A. : stickers

- [x] I've checked that the promotion is legit.
-

[2020-10-01 16:12] aslafy-z opened #717 "DevFolio Hacktoberfest"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : DevFolio

Q. Where have you seen the announcement (URL)?
A. : https://devfolio.co/blog/devfolio-hacktoberfest-2020/

Q. What kind of swag (clothing, stickers, ...)?
A. : clothing, stickers

Q. Does it ship worldwide?
A. : No, only India

- [x] I've checked that the promotion

[2020-10-01 16:14] aslafy-z opened #718 "OpenEBS hacktoberfest"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : OpenEBS

Q. Where have you seen the announcement (URL)?
A. : https://openebs.io/blog/hacktoberfest-2020-contribute-to-openebs/

Q. What kind of swag (clothing, stickers, ...)?
A. : ❓

- [x] I've checked that the promotion is legit.
- [x] I've checked that it's still available

[2020-10-01 16:19] aslafy-z opened #719 "Mattermost swag for first-timers"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Mattermost

Q. Where have you seen the announcement (URL)?
A. : https://mattermost.com/blog/hacktoberfest-2020/

Q. What kind of swag (clothing, stickers, ...)?
A. : mug

- [X] I've checked that the promotion is legit.
- [X] I've checked that it's still available to the publi

[2020-10-01 16:30] aslafy-z opened #720 "DX Heroes Hacktoberfest"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : DX Heroes

Q. Where have you seen the announcement (URL)?
A. : https://github.com/DXHeroes/dx-scanner#hacktoberfest-2020-

Q. What kind of swag (clothing, stickers, ...)?
A. : ❓

- [x] I've checked that the promotion is legit.
- [x] I've checked that it's still available to t

[2020-10-01 16:38] aslafy-z opened #721 "Earthly Hacktoberfest"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Earthly

Q. Where have you seen the announcement (URL)?
A. : https://blog.earthly.dev/hacktoberfest-2020/

Q. What kind of swag (clothing, stickers, ...)?
A. : stickers

- [x] I've checked that the promotion is legit.
- [x] I've checked that it's still available to the public

[2020-10-01 16:39] aslafy-z opened #722 "Operation Code Hacktoberfest"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Operation Code

Q. Where have you seen the announcement (URL)?
A. : https://github.com/OperationCode/START_HERE#-prizes-

Q. What kind of swag (clothing, stickers, ...)?
A. : clothing, stickers

- [x] I've checked that the promotion is legit.
- [x] I've checked that it's stil

[2020-10-01 16:40] MaximeKoitsalu commented on #721
What is the issue about 😅?

[2020-10-01 16:44] aslafy-z commented on #721
Hello @MaximeKoitsalu. The point is adding this entry to the swag list. You can follow steps 2-5 of this guide https://github.com/swapagarwal/swag-for-dev/blob/master/CONTRIBUTING.md#how-do-i-add-a-swag-opportunity to add this entry to the website.
You can also use Gitpod to do the change: https://github.com/swapagarwal/swag-for-dev/blob/master/CONTRIBUTING.md#start-one-click-with-gitpod

Let me k

[2020-10-01 16:57] #678 closed

[2020-10-01 17:00] #683 closed

[2020-10-01 17:09] Vipul-Bajaj commented on #722
Can I work on this one?

[2020-10-01 17:24] vikaspotluri123 commented on #719
This was completed in #723

[2020-10-01 17:24] #719 closed

[2020-10-01 17:25] Vipul-Bajaj commented on #722
There is an existing entry for OperationCode for last's year hacktoberfest, should I modify that or create a new entry for this one?

[2020-10-01 17:25] vikaspotluri123 commented on #722
Please modify the existing opportunity 😄

[2020-10-01 17:26] yogeshsingh101200 commented on #719
@vikaspotluri123 it's okay.

[2020-10-01 17:28] yogeshsingh101200 commented on #720
Can I work on this one?

[2020-10-01 17:34] ShivamPorwal02 commented on #717
Can i work on this one?

[2020-10-01 17:38] MaximeKoitsalu commented on #721
Thanks for the clarification! I'll leave this issue to someone else 😊

[2020-10-01 17:50] #681 closed

[2020-10-01 17:52] dennisgon commented on #718
can I  work for this one?

[2020-10-01 17:53] panda311 commented on #721
Hey @aslafy-z , Would be happy to take this one ...

[2020-10-01 17:54] #722 closed

[2020-10-01 17:56] dennisgon opened #727 "7PHP Freeze Offer of Free Sticker"
## Issue with an existing swag opportunity

- [x] I've checked that this isn't a duplicate issue.

Q. Which opportunity?
A. :  7PHP freeze their offer of free sticker

According to the 7PHP website, 7PHP freeze their offer of free sticker starting from 2020.04.01 until further notice

[2020-10-01 18:01] HellBender2011 commented on #727
😅 so what actually I have to do, is this an issue I can create a pr to ?

[2020-10-01 18:13] HellBender2011 commented on #727
assign to me

[2020-10-01 18:13] HellBender2011 commented on #706
assign to me

[2020-10-01 18:14] HellBender2011 commented on #721
assign this to me

[2020-10-01 18:17] aslafy-z commented on #721
@HellBender2011 this issue is already assigned. Feel free to take another one.

[2020-10-01 18:31] HellBender2011 commented on #716
assign to me

[2020-10-01 18:33] HellBender2011 commented on #691
assign to me

[2020-10-01 18:35] HellBender2011 commented on #690
assign to me

[2020-10-01 18:35] HellBender2011 commented on #680
assign to me

[2020-10-01 18:35] HellBender2011 commented on #679
assign to me

[2020-10-01 18:36] HellBender2011 commented on #677
assign to me

[2020-10-01 18:36] HellBender2011 commented on #675
assign to me

[2020-10-01 19:47] aslafy-z opened #733 "AquaSec Hacktoberfest"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : AquaSec

Q. Where have you seen the announcement (URL)?
A. : https://blog.aquasec.com/hacktoberfest-2020-aqua-open-source

Q. What kind of swag (clothing, stickers, ...)?
A. : clothing, stickers

- [x] I've checked that the promotion is legit.
- [x] I've checked that it's sti

[2020-10-01 19:49] aslafy-z opened #734 "Archives space Hacktoberfest"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : ArchivesSpace

Q. Where have you seen the announcement (URL)?
A. : https://archivesspace.org/archives/6563

Not sure about this one...

- [x] I've checked that the promotion is legit.
- [x] I've checked that it's still available to the public.

[2020-10-01 22:04] aryan040501 commented on #733
Hi, I don't understand what I have to do in this?

[2020-10-01 23:43] Archis19 commented on #734
Assign me this one please!

[2020-10-02 00:07] aslafy-z commented on #734
Please wait until we validated it, if it passes, I'll assign it to you :thumbup:

@vikaspotluri should we close this as for others?

[2020-10-02 01:19] vikaspotluri123 commented on #734
Yeah, I think so - it's another be the best and we'll give you something opportunity

[2020-10-02 10:35] aslafy-z opened #743 "Meedan Hacktoberfest"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Meedan

Q. Where have you seen the announcement (URL)?
A. : https://meedan.com/hacktoberfest

Q. What kind of swag (clothing, stickers, ...)?
A. : clothing, stickers

- [x] I've checked that the promotion is legit.
- [x] I've checked that it's still available to the public.

[2020-10-02 10:37] aslafy-z opened #744 "Appsmith Hacktoberfest"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : AppSmith

Q. Where have you seen the announcement (URL)?
A. : https://github.com/appsmithorg/appsmith/discussions/863

Q. What kind of swag (clothing, stickers, ...)?
A. : stickers, clothing, device

- [x] I've checked that the promotion is legit.
- [x] I've checked that it's

[2020-10-02 10:39] aslafy-z opened #745 "Add JSONSchema validation"
- [x] I've checked that this isn't a duplicate issue.

Add a JSONSchema validation to the data.json file.

See an example here: https://json-schema.org/learn/miscellaneous-examples.html

[2020-10-02 12:46] aslafy-z opened #746 "Switchblade Hacktoberfest"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Switchblade

Q. Where have you seen the announcement (URL)?
A. : https://github.com/SwitchbladeBot/switchblade/issues/1203

Q. What kind of swag (clothing, stickers, ...)?
A. : stickers

- [x] I've checked that the promotion is legit.
- [x] I've checked that it's still availa

[2020-10-02 15:02] deepank120896 commented on #745
Can I pick this up?
@aslafy-z

[2020-10-02 15:11] vikaspotluri123 commented on #745
Sure @deepank120896, my preferred validation library is [ajv](https://github.com/ajv-validator/ajv)

[2020-10-02 15:27] #708 closed

[2020-10-02 21:10] SuzannaWentzel commented on #746
Hi, I'm new to open source, but I'd like to give this one a try! Could you assign me to this one?

[2020-10-02 21:47] jmakhack commented on #744
Hey @aslafy-z, I can pick this one up. Can you assign it to me?

[2020-10-02 23:57] #746 closed

[2020-10-03 10:56] #744 closed

[2020-10-03 13:05] yogeshsingh101200 commented on #704
can I pick this?

[2020-10-03 13:19] A-Scratchy commented on #669
Done a pull request for this one :-)
Thanks!

[2020-10-03 16:03] #743 closed

[2020-10-03 16:04] #716 closed

[2020-10-03 17:22] aslafy-z opened #754 "Uno Hacktoberfest"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Uno

Q. Where have you seen the announcement (URL)?
A. : https://platform.uno/blog/hacktoberfest-2020-contribute-to-uno-to-win-online-courses-and-t-shirts/

Q. What kind of swag (clothing, stickers, ...)?
A. :  Udemy courses / enter in a draw to win a t-shirt

@vikaspotluri12

[2020-10-03 17:23] aslafy-z opened #755 "Xamarin Hacktoberfest"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Xamarin (Microsoft)

Q. Where have you seen the announcement (URL)?
A. : https://devblogs.microsoft.com/xamarin/hacktoberfest-xamarin-community-toolkit/

Q. What kind of swag (clothing, stickers, ...)?
A. : undisclosed

- [x] I've checked that the promotion is legit.
- [x] I'

[2020-10-03 17:26] aslafy-z opened #756 "Addressing the Hacktoberfest 2020 Spam"
See https://github.com/crweiner/hacktoberfest-swag-list/issues/305

We could add a popup / alert while on hacktoberfest to inform users about Hacktoberfest do and dont.

[2020-10-03 17:27] vikaspotluri123 commented on #754
I don't think we should since it's a "win" op

[2020-10-03 19:35] #669 closed

[2020-10-03 21:56] aslafy-z commented on #754
Ok!

[2020-10-03 21:56] #754 closed

[2020-10-04 11:31] #704 closed

[2020-10-04 12:17] yogeshsingh101200 commented on #756
I would like to work on this. so, if this issue gets approved please assign me. [This](https://hacktoberfest.digitalocean.com/details#quality) is hactoberfest's guidelines on quality standards. they have also mentioned some do's and don't in [profile](https://hacktoberfest.digitalocean.com/profile) page.
This whole fiasco is pretty saddening, I wonder is this fiasco was the reason this repo is rem

[2020-10-04 13:44] aslafy-z opened #761 "Ensure mime type of image resources"
Add test that checks if the image field is an accepted image format: https://sharp.pixelplumbing.com/#formats

[2020-10-04 13:55] #734 closed

[2020-10-04 14:18] aslafy-z opened #762 "Update repository topics"
Add `hacktoberfest` topic to this repository so PRs counts. See https://hacktoberfest.digitalocean.com/hacktoberfest-update

[2020-10-04 15:21] Archis19 commented on #755
can you please assign me this

[2020-10-04 16:43] vikaspotluri123 commented on #762
I'm not sure when it was done, but it's done

![image](https://user-images.githubusercontent.com/4383564/95021458-c2bb7d80-0636-11eb-8c5a-c0e7f4af6c35.png)

[2020-10-04 16:43] #762 closed

[2020-10-04 16:45] #733 closed

[2020-10-04 16:45] swapagarwal commented on #762
Just added a few minutes ago. 😅

[2020-10-05 11:08] shawnlobo96 commented on #650
Please assign this to me

[2020-10-05 11:12] GuyKh commented on #650
This is expired

[2020-10-05 11:18] shawnlobo96 commented on #650
@GuyKh can you close the expired issues or add an expired tag?

[2020-10-05 11:26] #650 closed

[2020-10-06 06:56] aslafy-z opened #764 "CommerceJS Hacktoberfest"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : CommerceJS

Q. Where have you seen the announcement (URL)?
A. : https://commercejs.com/docs/hacktoberfest/

Q. What kind of swag (clothing, stickers, ...)?
A. : undisclosed

- [ ] I've checked that the promotion is legit.
- [ ] I've checked that it's still available to the pu

[2020-10-06 15:07] #602 closed

[2020-10-08 20:40] aslafy-z opened #768 "Zup IT Hacktoberfest"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Zup IT

Q. Where have you seen the announcement (URL)?
A. : http://insights.zup.com.br/hacktoberfest

Q. What kind of swag (clothing, stickers, ...)?
A. : clothing

Q. Have you received swag from this?
A. :

Q. How long did it take?
A. :

Q. Does it ship worldwide?
A. : only

[2020-10-09 04:20] achaljhawar commented on #717
can I work on this one @aslafy-z

[2020-10-09 04:30] achaljhawar commented on #768
assign it to me @aslafy-z

[2020-10-09 04:45] achaljhawar commented on #670
@aslafy-z assign it to me

[2020-10-09 13:08] chetanpdeshmukh opened #771 "BotKube Sticker and Tshirts for Hacktoberfest"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. :  InfraCloud Technologies

Q. Where have you seen the announcement (URL)?
A. :  https://www.infracloud.io/blogs/infracloud-joins-hacktoberfest-2020/

Q. What kind of swag (clothing, stickers, ...)?
A. : Stickers
![Botkube sticker_gray](https://user-images.githubusercontent.com

[2020-10-09 15:11] vikaspotluri123 commented on #712
This opportunity no longer exists

[2020-10-09 15:11] #712 closed

[2020-10-09 16:04] aslafy-z commented on #771
Duplicate #681
Already implemented in #701

[2020-10-09 16:04] #771 closed

[2020-10-10 04:00] achaljhawar commented on #755
please assign it to me I have resolved it in #772

[2020-10-10 04:00] achaljhawar commented on #721
please assign it to me I have resolved it in #772

[2020-10-10 04:01] achaljhawar commented on #720
please assign it to me I have resolved it in #772

[2020-10-14 15:56] saif-deepsource opened #773 "Hacktoberfest with DeepSource"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : DeepSource

Q. Where have you seen the announcement (URL)?
A. : https://deepsource.io/hacktoberfest/

Q. What kind of swag (clothing, stickers, ...)?
A. : Open Source Grants

Q. Have you received swag from this?
A. :

Q. How long did it take?
A. :

Q. Does it ship worldwide?

[2020-10-14 16:43] aslafy-z opened #774 "ActiveLoop Hactoberfest"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : ActiveLoop

Q. Where have you seen the announcement (URL)?
A. : http://activeloop.ai/hacktoberbest

- [x] I've checked that the promotion is legit.
- [x] I've checked that it's still available to the public.

[2020-10-14 16:44] aslafy-z opened #775 "Crio Hacktoberfest"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Crio

Q. Where have you seen the announcement (URL)?
A. : https://www.crio.do/IBelieveInDoing/October/

- [x] I've checked that the promotion is legit.
- [x] I've checked that it's still available to the public.

[2020-10-16 09:19] #720 closed

[2020-10-16 09:22] aslafy-z commented on #755
@Archis19 I'll reassing this to @achaljhawar since he made a PR for it.

[2020-10-16 09:35] aslafy-z opened #780 "CI: Ask WebArchive to archive resources links"

[2020-10-16 09:48] #675 closed

[2020-10-16 09:50] #679 closed

[2020-10-16 09:52] #706 closed

[2020-10-16 09:57] #334 closed

[2020-10-16 10:04] #727 closed

[2020-10-16 12:42] ritesh-pandey commented on #761
Can you share a link which has broken/non-acceptable format image?

[2020-10-16 15:08] #718 closed

[2020-10-16 15:09] #721 closed

[2020-10-16 15:10] #691 closed

[2020-10-16 16:39] aslafy-z commented on #761
You can find some in this PR: https://github.com/swapagarwal/swag-for-dev/pull/736

[2020-10-20 15:29] ritesh-pandey commented on #761
I am new to writing tests.

Here is how I plan to do it:
1. Read image via `got` (as `sharp` cannot open remote files)
2. Initialize `sharp` instance with above image. Use `Buffer` to minimize I/O
3. Try to convert image to `sharp` buffer. If the image is of incorrect mime type, this will raise an error.

Please let me know if I am on right track.

[2020-10-24 06:14] sudhanshutiwari264 opened #789 "Add Crio.do in the list !"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : CrioDo

Q. Where have you seen the announcement (URL)?
A. : https://www.crio.do/ibelieveindoing

Q. What kind of swag (clothing, stickers, ...)?
A. : Clothing(T-shirts), stickers, and scholarships

Q. Have you received swag from this?
A. :

Q. How long did it take?
A. : Withi

[2020-10-24 13:28] Cosmeeeen commented on #775
I'm working on this!

[2020-10-31 13:28] #761 closed

[2020-11-03 04:34] fiftydeven opened #793 "i love swag"
## Wild swag opportunity appeared!

- [ ] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. :

Q. Where have you seen the announcement (URL)?
A. :

Q. What kind of swag (clothing, stickers, ...)?
A. :

Q. Have you received swag from this?
A. :

Q. How long did it take?
A. :

Q. Does it ship worldwide?
A. :

- [ ] I've checked that the promotion is legit.
- [ ] I've ch

[2020-11-03 08:11] #793 closed

[2020-11-03 13:28] ritesh-pandey commented on #745
Hey @deepankkartikey , are you working on this?

[2020-11-03 15:45] vikaspotluri123 commented on #745
@ritesh-pandey I'll assign you if you would like 😄

[2020-11-03 19:00] aslafy-z opened #794 "Upgrade XO to the latest version"
See https://github.com/swapagarwal/swag-for-dev/pull/617

Checks needs to be fixed before we can merge this PR.

[2020-11-03 19:02] vvkpd commented on #794
i would like to work on this card

[2020-11-03 19:11] aslafy-z commented on #794
FYI, lint results are directly accessible from the bottom of this page: https://github.com/swapagarwal/swag-for-dev/pull/617/files

[2020-11-04 08:38] ritesh-pandey commented on #745
Sure. Thanks.

[2020-11-06 15:48] ritesh-pandey commented on #745
Should schema validation be part of test suite?

[2020-11-06 16:33] vikaspotluri123 commented on #745
Yep!

[2020-11-07 17:06] ritesh-pandey opened #798 "Lengthy description text break Check It Out button alignment"
## Issue regarding the website

- [x] I've checked that this isn't a duplicate issue.

Description text of swag might take 2-3 lines based on the length. If two such swags appear adjacent to each other, the *Check it out* button alignment breaks.

We can put a `height/min-height` to description block so that the cards take equal height.

![Screenshot from 2020-11-07 22-28-54](https://user-images.g

[2020-11-10 20:20] #534 closed

[2021-02-09 15:29] Mikaleb opened #812 "Is the repo dead ?"
- [ ] I've checked that this isn't a duplicate issue.

Nothing new since last october

[2021-03-10 17:19] prajalsharma commented on #690
assign to me

[2021-04-09 01:36] 5usana commented on #680
hi, i'd love a chance to tackle this issue if it's still needing attention!

[2021-04-09 07:12] aslafy-z commented on #680
Hello,
Hacktoberfest 2020 is over. You can still contribute to the overall website if you want so.
Regards,

[2021-04-09 07:12] #680 closed

[2021-04-27 14:28] Jassi10000-zz opened #818 "Add Mattermost to the list"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Mattermost

Q. Where have you seen the announcement (URL)?
A. : https://forum.mattermost.org/t/limited-edition-mattermost-mugs/143

Q. What kind of swag (clothing, stickers, ...)?
A. : Mug

Q. Have you received swag from this?
A. : My friend got one

Q. How long did it take?

[2021-04-27 14:35] aslafy-z commented on #818
Hello,
We already have this opportunity but it was linked to hacktoberfest and automatically disabled.
Can you open a pull request to remove the `hacktoberfest` and `expired` tags?
https://github.com/swapagarwal/swag-for-dev/blob/master/data.json#L432

[2021-04-27 15:09] Jassi10000 commented on #818
@aslafy-z  Ya sure

[2021-06-13 17:28] Amritanshu02 commented on #690
Hello ! I would like to work on this issue. Could you help me where to start?

[2021-06-13 17:30] #690 closed

[2021-07-23 11:17] Nishil07 opened #832 "Add Jina AI to the swag opportunity list"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Jina AI

Q. Where have you seen the announcement (URL)?
A. : https://jina.ai/2021/07/12/swag.html

Q. What kind of swag (clothing, stickers, ...)?
A. : notepad, stickers, keyring, pen, and tote bag.

Q. Have you received swag from this?
A. : Company representative

Q. How lon

[2021-07-31 18:34] alr-wtag commented on #798
Hello @swapagarwal,
If this issue still exist, can I work on it ?
I will be more than happy to resolve this issue

Thank you 😊

[2021-08-08 18:28] aviral14112001 commented on #179
I don't understand what we have to do to close this issue

[2021-08-17 17:50] lakshita15 commented on #104
Can you assign me this issue.
please
Regards,
Lakshita

[2021-08-24 15:31] jim4067 opened #839 "Broken renovate badge link"
- [x] I've checked that this isn't a duplicate issue.

The renovate badge link is broken. Please merge #834

[2021-08-24 17:42] #151 closed

[2021-08-24 18:28] Kritip123 commented on #774
### @aslafy-z
I am working on this issue.

[2021-08-24 20:26] aslafy-z commented on #774
I assigned you @Kritip123, however it looks like this company is not giving swag anymore. Can you check?

[2021-08-25 10:00] Kritip123 commented on #774
Even I am not able to find anything from their site but goodies are mentioned on the Hacktoberfest website. I also do not know much about it. Sending a pull request for the same by the way.

[2021-08-29 13:47] #839 closed

[2021-09-25 15:43] aslafy-z commented on #774
I will close that one since there was no update to their offering for this year. Let's keep an eye on it.

[2021-09-25 15:43] #774 closed

[2021-09-27 20:03] ADI10HERO opened #869 "Auto-DL Swag Opportunity"
## Wild swag opportunity appeared!

- [X] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Auto-DL

Q. Where have you seen the announcement (URL)?
A. : https://twitter.com/auto_dl/status/1441415078494945281?s=20

Q. What kind of swag (clothing, stickers, ...)?
A. : T-Shirt

Q. Have you received swag from this?
A. : No

Q. How long did it take?
A. : N/A

Q. Does it

[2021-09-28 07:21] Buddhad commented on #869
What I have to do to get this T-shirt ?

[2021-09-28 14:21] pulbee opened #870 "Add opengraph meta tags."
## Issue regarding the website

The website **dosen't have metadata tags (OpenGraph)**, when it should be, It would be great for users to be able to **preview the website** messaging when shared across social networks.

[2021-09-29 04:33] pulbee commented on #870
#871 I've added the meta tags

[2021-09-29 04:37] pulbee commented on #870
#871

[2021-09-29 17:35] aslafy-z commented on #870
Duplicate https://github.com/swapagarwal/swag-for-dev/issues/870

[2021-09-29 17:35] #870 closed

[2021-09-29 17:52] #832 closed

[2021-09-30 06:48] pulbee opened #876 "Add a sharing button to cards."
## Issue regarding the website

- [x] I've checked that this isn't a duplicate issue.

It would be nice to be able to spread the word around for a particular swag opportuinity.

[2021-10-01 16:58] HellBender2011 commented on #869
Assign to me

[2021-10-01 18:01] ADI10HERO commented on #869
Be in top contributors (things are still not decided)

[2021-10-02 08:34] paulmowat opened #879 "Bridgecrew"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Bridgecrew

Q. Where have you seen the announcement (URL)?
A. : https://bridgecrew.io/blog/happy-hacktoberfest-2021/

Q. What kind of swag (clothing, stickers, ...)?
A. : 1 PR for Stickers, 2+ For Swag Pack of stickers and t-shirt

Q. Have you received swag from this?
A. : No

[2021-10-03 12:14] akshitarora921 commented on #876
Hi, I would like to work on this.

[2021-10-03 12:18] akshitarora921 commented on #879
Can I work on this?

[2021-10-03 12:23] paulmowat commented on #879
I've already done it. PR just waiting to be reviewed and merged.

[2021-10-03 16:39] aslafy-z commented on #876
@akshitarora921 I just assigned you

[2021-10-03 19:31] martinsaxa opened #881 "Blitz.js free stickers"
## Wild swag opportunity appeared!

- [x ] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Prisma

Q. Where have you seen the announcement (URL)?
A. : https://blitzjs.com/stickers

Q. What kind of swag (clothing, stickers, ...)?
A. : stickers

Q. Have you received swag from this?
A. : no

Q. How long did it take?
A. : n/a

Q. Does it ship worldwide?
A. : yes

- [

[2021-10-03 22:24] hyperhtml commented on #881
Added blitz.js stickers a PR #882

[2021-10-04 03:49] pulbee commented on #876
### What's your opinion ?
![design1](https://i.ibb.co/ThffqVX/dsswagsare.png)

[2021-10-04 04:05] akshitarora921 commented on #876
Lets use 2nd first then maybe we can transition to first one.

[2021-10-05 21:23] cptcrunchy commented on #775
There is an error with this link.
page resources for /IBelieveInDoing/October/ not found.

No 404 page as this is a missing React route.

Thoughts?

[2021-10-07 02:32] Gowrishankarvv opened #889 "free swags"
## Wild swag opportunity appeared!

- [ ] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. :

Q. Where have you seen the announcement (URL)?
A. :

Q. What kind of swag (clothing, stickers, ...)?
A. :

Q. Have you received swag from this?
A. :

Q. How long did it take?
A. :

Q. Does it ship worldwide?
A. :

- [ ] I've checked that the promotion is legit.
- [ ] I've ch

[2021-10-07 15:18] piechowiakmichal opened #890 "Mattermost Hacktoberfest bluetooth mechanical keyboard"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Mattermost

Q. Where have you seen the announcement (URL)?
A. : https://handbook.mattermost.com/contributors/contributors/ways-to-contribute/hacktoberfest2021

Q. What kind of swag (clothing, stickers, ...)?
A. : Mattermost Hacktoberfest bluetooth mechanical keyboard

Q. Have

[2021-10-07 15:18] piechowiakmichal commented on #890
Hi, can I add it?

[2021-10-08 12:23] ZoranPandovski opened #892 "MindsDB"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : MindsDB

Q. Where have you seen the announcement (URL)?
A. : https://mindsdb.com/hacktoberfest/

Q. What kind of swag (clothing, stickers, ...)?
A. : Clothing, Stickers, Laptop

Q. Have you received swag from this?
A. : Yes

Q. How long did it take?
A. : 1 month

Q. Does it s

[2021-10-14 18:57] aliariff opened #896 "Linkerd"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Linkerd

Q. Where have you seen the announcement (URL)?
A. : https://linkerd.io/dashboard/have-you-adopted-linkerd-let-us-know-and-we-ll-send-you-some-sweet-swag/

Q. What kind of swag (clothing, stickers, ...)?
A. : clothing, stickers

Q. Have you received swag from this?
A.

[2021-10-18 07:06] rakhi-agrawal opened #898 "Liquibase Swags"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Liquibase

Q. Where have you seen the announcement (URL)?
A. : https://www.liquibase.org/community/liquibase-legends

Q. What kind of swag (clothing, stickers, ...)?
A. : Clothing, stickers

Q. Have you received swag from this?
A. : No, my swags are shipped. I'm yet to receiv

[2021-10-18 09:19] rakhi-agrawal opened #900 "CockroachLabs Swag"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : CockroachLabs University

Q. Where have you seen the announcement (URL)?
A. : https://www.tosscall.com/soloblog/506/Cockroach-University-Free-Course

Q. What kind of swag (clothing, stickers, ...)?
A. : Clothing

Q. Have you received swag from this?
A. : Yes

Q. How long did

[2021-10-20 11:22] Dahbaeraychy opened #902 "Bagisto swag"
## Wild swag opportunity appeared!

- [ x ] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Bagisto

Q. Where have you seen the announcement (URL)?
A. : https://webkul.com/meetups/hacktober-fest-bagisto-2021/

Q. What kind of swag (clothing, stickers, ...)?
A. : Stickers, Stationery

Q. Have you received swag from this?
A. : No

Q. How long did it take?
A. :

Q. D

[2021-10-22 05:31] mayankchaudhary26 opened #904 "codedamn - Build a project and win t-shirt!"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. :  codedamn

Q. Where have you seen the announcement (URL)?
A. :  https://codedamn.com/projects

Q. What kind of swag (clothing, stickers, ...)?
A. :  tshirt

Q. Have you received swag from this?
A. :  waiting list

Q. How long did it take?
A. :  few days to approve your PR

Q.

[2021-11-08 13:21] shashwat0309 opened #912 "hii"
## Wild swag opportunity appeared!

- [ ] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. :

Q. Where have you seen the announcement (URL)?
A. :

Q. What kind of swag (clothing, stickers, ...)?
A. :

Q. Have you received swag from this?
A. :

Q. How long did it take?
A. :

Q. Does it ship worldwide?
A. :

- [ ] I've checked that the promotion is legit.
- [ ] I've ch

[2021-11-17 19:05] ChrisKatsaras commented on #912
What exactly is the purpose of this issue @shashwat0309 ?

[2021-11-23 04:37] shaund16 commented on #798
I can tackle this if it's not taken care of already @ritesh-pandey ?

[2021-12-24 13:26] RiyaMindhe23 commented on #717
Can I work on this ?

[2021-12-31 00:56] srishti2609 opened #920 "swag opportunity"
## Wild swag opportunity appeared!

- [ ] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. :  codedamn

Q. Where have you seen the announcement (URL)?
A. : https://codedamn.com/projects

Q. What kind of swag (clothing, stickers, ...)?
A. : tshirt

Q. Have you received swag from this?
A. : waiting

Q. How long did it take?
A. : few days after your approval

Q. Does it

[2021-12-31 03:42] soham117 commented on #920
@srishti2609  This swag opportunity is over now. It was a hacktoberfest celebration. I got the swag delivered. I request you to close this PR

[2021-12-31 04:42] srishti2609 commented on #920
Ohk

On Fri 31 Dec, 2021, 9:12 AM soham, ***@***.***> wrote:

[2022-01-21 05:29] fzs1994 opened #923 "Robocorp Swag (T-Shirt & Stickers)"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Robocorp

Q. Where have you seen the announcement (URL)?
A. : https://robocorp.com/docs/courses/beginners-course/wrapping-up-and-next-steps

Q. What kind of swag (clothing, stickers, ...)?
A. : T-shirt & Stickers

Q. Have you received swag from this?
A. : Ordered

Q. How long

[2022-01-22 08:51] soham117 commented on #923
@fzs1994 It is closed now! Kindly close the PR

[2022-03-05 13:00] ABHIGPT401 opened #934 "Jina AI"
## Issue with an existing swag opportunity

- [x] I've checked that this isn't a duplicate issue.

Q. Which opportunity?

A. :
This website has put its swag distribution on hold.  So kindly remove it from the latest page. It is quite misleading.

[2022-03-14 01:17] siuting0511 commented on #934
<img width="359" alt="Screenshot 2022-03-14 at 9 14 07 AM" src="https://user-images.githubusercontent.com/37100124/158088855-43cdff41-a0cd-44d1-9f2b-e59c67a03724.png">
Hi I am new comer, do you mean the yellow indicator in this card?

[2022-03-14 17:36] ABHIGPT401 commented on #934
No I meant you should just open the opportunity posted and you'll find that its on hold.

[2022-03-14 18:22] soham117 commented on #934
@ABHIGPT401 This website is not longer maintained. Most of the opporutinies are outdated.

[2022-06-06 08:55] Catalyst497 commented on #578
Is this issue still open? I would like to work on it.
I'm a first timer.
Could you put me through on the details so I could know what to do?

[2022-06-13 11:49] Mikaleb opened #960 "Dead ?"
## Issue regarding the website

- [ ] I've checked that this isn't a duplicate issue.

 Is the repo dead ?

[2022-07-12 18:44] prathikshetty2002 commented on #900
Hi rakhi, do we need to complete all the courses like mentioned in the blog or any course? and about final exam is it like cummulatively or course oriented ?

[2022-07-14 05:35] fzs1994 commented on #923
Not sure if they still ship those.

[2022-07-18 22:25] karlrez commented on #960
Is it still possible to run this project locally? After running `npm start` I get two errors:

`Failed downloading https://openbazaar.org/blog/Hacktoberfest-with-OpenBazaar-Help-Make-Trade-Free-Get-Rewards/Hacktoberfest_2018_poster1_1600x850.png [159.46ms]: getaddrinfo ENOTFOUND openbazaar.org
Downloading https://cdn-images-1.medium.com/max/1000/1*xSLmpInA96k9beqMwFPjZQ.jpeg to dist/assets/swag-im

[2022-08-02 15:37] adarshanand67 commented on #578
Is this issue still open? I would like to work on it.
I'm a first timer.
Could you put me through on the details so I could know what to do?

[2022-08-20 23:59] IndudiniThennakoon opened #978 "no opportunities matching filters"
## Wild swag opportunity appeared!

- [ ] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. :

Q. Where have you seen the announcement (URL)?
A. :

Q. What kind of swag (clothing, stickers, ...)?
A. :

Q. Have you received swag from this?
A. :

Q. How long did it take?
A. :

Q. Does it ship worldwide?
A. :

- [ ] I've checked that the promotion is legit.
- [ ] I've ch

[2022-09-13 16:58] thekavikumar commented on #768
assign it to me @thekavikumar

[2022-09-22 09:34] toukirkhan opened #989 "MLH Global Hack Week October 2022"
## Wild swag opportunity appeared!

- [ ] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Major League Hacking(MLH)

Q. Where have you seen the announcement (URL)?
A. : https://organize.mlh.io/participants/events/7952-global-hack-week-october-2022

Q. What kind of swag (clothing, stickers, ...)?
A. : Stickers and clothing too if lucky

Q. Have you received swag fr

[2022-09-30 19:33] namita27 opened #992 "MLH Local Hack Day"
## Wild swag opportunity appeared!

- [ ] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Github

Q. Where have you seen the announcement (URL)?
A. :  https://organize.mlh.io/participants/events/6072-local-hack-day-build#:~:text=Local%20Hack%20Day%3A%20Build%20is,all%20that%20you've%20built.

Q. What kind of swag (clothing, stickers, ...)?
A. : Stickers

Q. Have y

[2022-10-01 05:20] gitPiyushhh commented on #717
I want to work on this

[2022-10-01 13:37] thisisamish commented on #992
I don't understand. What one needs to do here? Is this a feature request, or an issue?

[2022-10-02 15:02] combatantash opened #995 "Free stickers(no code) available!!!"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : RedwoodJS

Q. Where have you seen the announcement (URL)?
A. : https://redwoodjs.com/stickers

Q. What kind of swag (clothing, stickers, ...)?
A. : stickers

Q. Have you received swag from this?
A. :

Q. How long did it take?
A. :

Q. Does it ship worldwide?
A. : Yes

- [x] I

[2022-10-04 01:56] blaiseAI opened #1003 "Hacktoberfest 2022"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Digital Ocean

Q. Where have you seen the announcement (URL)?
A. : https://hacktoberfest.digitalocean.com

Q. What kind of swag (clothing, stickers, ...)?
A. : Hacktoberfest 2022 t-shirt

Q. Have you received swag from this?
A. : Yes, Previous years

Q. How long did it take?

[2022-10-07 06:35] Rohan-A-V opened #1007 "GWH swag opportunity"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : MLH

Q. Where have you seen the announcement (URL)?
A. : https://ghw.mlh.io/oct

Q. What kind of swag (clothing, stickers, ...)?
A. : _An MLH Sticker, A  Season Mascot Sticker, A GHW Hexagon Sticker, A Thank You Postcard_

Q. Have you received swag from this?
A. :  Yes

Q. Ho

[2022-10-07 06:38] #1007 closed

[2022-10-09 02:54] aashishpanthi opened #1009 "[Hacktoberfest] Medusa swag oppotunity in October"
## Wild swag opportunity appeared!

- [X] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : [Medusajs](https://medusajs.com/) offers it for the hacktoberfest.

Q. Where have you seen the announcement (URL)?
A. : https://medusajs.com/blog/medusa-hackathon/

Q. What kind of swag (clothing, stickers, ...)?
A. : Medusa tee (clothing) + Medusa hoodie (clothing) + Medusa

[2022-10-09 03:25] aashishpanthi opened #1011 "[Hacktoberfest] Hashnode swag oppurtinuty for bloggers (every month)"
## Wild swag opportunity appeared!

- [X] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Hashnode and Community classroom.

Q. Where have you seen the announcement (URL)?
A. : https://www.commclassroom.org/hashnode

Q. What kind of swag (clothing, stickers, ...)?
A. : Clothing (Hashnode T-shirt) + Stickers (Hashnode stickers) + Prize or gadgets

Q. Have you recei

[2022-10-09 15:39] Shubhada510 opened #1013 "Hacktoberfest 2022"
## Wild swag opportunity appeared!

- [ ✓] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Digital Ocean

Q. Where have you seen the announcement (URL)?
A. : https://hacktoberfest.com/participation/#beginner-resources

Q. What kind of swag (clothing, stickers, ...)?
A. : The first 40,000 participants (maintainers and contributors) who complete Hacktoberfest can el

[2022-10-09 15:56] Shubhada510 opened #1014 "Geeks for geeks : Problem of the Day Challenge"
## Wild swag opportunity appeared!

- [✓ ] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Geeksforgeeks

Q. Where have you seen the announcement (URL)?
A. : https://practice.geeksforgeeks.org/problem-of-the-day

Q. What kind of swag (clothing, stickers, ...)?
A. : Anything of our choice among GFG merchandise, Discount on Gfg courses, Annual GFG premium subscripti

[2022-10-09 16:06] Shubhada510 opened #1015 "Geeksforgeeks : Interview Series Challenge"
## Wild swag opportunity appeared!

- [✓] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Geeksforgeeks

Q. Where have you seen the announcement (URL)?
A. :https://www.geeksforgeeks.org/crack-the-coding-interview-with-geeksforgeeks-weekly-contest-series/

Q. What kind of swag (clothing, stickers, ...)?
A. : Clothing, Stickers, Accesories

Q. Have you received swag

[2022-10-09 16:29] Grace229 commented on #166
Hello, is this issue still open?

[2022-10-10 08:34] utsavbhattarai007 opened #1018 "[Hacktoberfest] Added developer nation swag opportunity"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. :  Developer nation

Q. Where have you seen the announcement (URL)?
A. :  https://content.developernation.net/developer-nation-newsletter-signup-form

Q. What kind of swag (clothing, stickers, ...)?
A. : clothing

Q. Have you received swag from this?
A. : yes

Q. How long did i

[2022-10-12 22:17] jpdias opened #1021 "InfluxData Challenge"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : InfluxData

Q. Where have you seen the announcement (URL)?
A. : [https://www.influxdata.com/influxdb-challenge/](https://www.influxdata.com/influxdb-challenge/)

Q. What kind of swag (clothing, stickers, ...)?
A. : Clothing (socks, tshirt)

Q. Have you received swag from this

[2022-10-29 00:45] jayOnechild opened #1028 "Google Developer Student Clubs"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A.: Google

Q. Where have you seen the announcement (URL)?
A.:  https://gdsc.community.dev/

Q. What kind of swag (clothing, stickers, ...)?
A.: clothing, device, stickers

Q. Have you received swag from this?
A. : Yes

Q. How long did it take?
A. :  2 weeks

Q. Does it ship world

[2022-11-18 15:49] WebSnke opened #1034 "Free System76 + Pop!_OS stickers!"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : System76

Q. Where have you seen the announcement (URL)?
A. : https://system76.com/merch/stickers

Q. What kind of swag (clothing, stickers, ...)?
A. : stickers

Q. Have you received swag from this?
A. : No

Q. How long did it take?
A. : -

Q. Does it ship worldwide?
A. : No