[2018-02-18 19:22] jayzalowitz opened #1 "We dont have enough women's swag."
This is more of a comment to remind people submitting pull requests that they should totally consider buying women's sizes when doing swag.

Also, get creative.

[2018-02-18 19:43] alexknuckles commented on #1
The socks, hoodies, t-shirts, and stickers in this list are unisex. Don't create problems where they don't exist to pat yourself on the back.

[2018-02-18 19:47] manojlds commented on #1
As far as I can remember, Hacktoberfest asks for men/women sizes. And others seem to be unisex. Like @alexknuckles says, just trying to pat yourself on the back?

[2018-02-18 20:53] swapagarwal opened #3 "Should we include non-tangible swag as well?"
e.g. Submitting an app for Google Assistant entitles you to receive up to $200 of Google Cloud services a month - for a full year!
Should we add this to the list? What do you think?

[2018-02-18 21:10] pladaria commented on #3
I wouldn't consider that swag, otherwise this is going to be flooded with coupon codes, discounts, etc.

[2018-02-18 21:54] swapagarwal opened #5 "Add Product Hunt"
Suggested by Amrith Shanbhag (@shnbhg) from PH team:

Take images from https://blog.producthunt.com/host-a-product-hunt-meetups-in-your-city-6db988197144

[2018-02-18 22:09] BitpopCoin commented on #3
I consider it swag if there's no purchase required, discounts wouldn't be allowed nor limited time trials.

[2018-02-18 23:01] chiragw15 opened #6 "Code Curiosity?"
https://codecuriosity.org
Contribute in open source projects and her points. Redeem them to get t-shirts, hoodies etc.

[2018-02-19 02:49] swapagarwal commented on #6
This looks really cool! I'd put this up for the community to chime in. 😄

[2018-02-19 05:59] Ibrahim-Islam commented on #6
Would not recommend. I have 210 points from over 6 months and they can't give me coupon for that because they are having financial problems

[2018-02-19 08:34] eindiran opened #8 "Add difficulty tags"
It would be pretty helpful if there was a set of tags which listed the approximate difficulty of the tasks required to earn the swag. The tags could perhaps show how long the task would take or if the task was 'easy', 'medium' or 'hard'. At a minimum, the tag could show whether the task requires a non-trivial amount of programming to complete.

For example, the current Digital Ocean survey would g

[2018-02-19 09:08] swapagarwal commented on #8
Makes sense!
I was thinking along these lines when I started the list, but it was pretty small back then so didn't pursue it. 😅

[2018-02-19 11:43] BrianLima commented on #6
Look's cool, i'll try that!

[2018-02-19 11:46] BrianLima commented on #3
If it is a license for a free software, os Steam wallet codes or similar things it could be added maybe.

[2018-02-19 13:16] y-mehta commented on #3
Why don't we make a separate branch or directory for that?

[2018-02-19 14:40] kevin51jiang commented on #8
Easy/med/hard would probably be the way to go because for a challenge like the google home, there's no telling how much time you need to spend on your applicaton.

[2018-02-19 14:43] kevin51jiang commented on #3
Oh crap, this project is gonna end up _real_ complicated.

[2018-02-19 15:47] jgierer12 opened #12 "Adopt awesome list conventions"
The format of this project is very similar to the [awesome](https://awesome.re) lists originally started by Sindre Sorhus. That's why I think it would be a good idea to turn this project into an awesome list as well.

Benefits of being an awesome list:
* Be part of a huge network of hundreds of awesome lists
* Get a place in [sindresorhus/awesome](https://github.com/sindresorhus/awesome), an 'awes

[2018-02-19 15:56] jgierer12 opened #13 "Add paid swag?"
While the free/promotional swag featured on this list is great, there is also some paid swag that I find worthy of being listed here. Most notably, [Wes Bos' awesome sticker sales](https://bos.af/) and [freeCodeCamp's non-profit merch shop](https://shop.freecodecamp.org/).

Do you think these should be added to the list? Of course, they'd have to be separated from the free stuff in some way.

[2018-02-19 17:49] till-tomorrow opened #14 "Add beginner friendly opportunities too"
It would be great if open source beginners get a platform to contribute on!

[2018-02-19 19:05] swapagarwal commented on #14
@till-tomorrow You might be interested in https://github.com/MunGell/awesome-for-beginners! 🎉

[2018-02-19 19:22] swapagarwal commented on #12
I'm definitely looking forward to add it to the `awesome` list.
However, I don't see the requirement of renaming it to start with `awesome-` prefix. Check out https://github.com/ripienaar/free-for-dev and https://github.com/tvvocold/FOSS-for-Dev and let me know your thoughts on this. 😇

[2018-02-19 20:44] jgierer12 commented on #12
It says so on https://github.com/sindresorhus/awesome/blob/master/create-list.md but seeing as the repos you linked are named differently they're likely don't enforce it

[2018-02-20 10:27] till-tomorrow commented on #14
These are not the opportunities to earn swags..

[2018-02-20 12:30] romangraef commented on #8
If we add the easy/med/hard, i would find it cool if we add badges in the style of https://shields.io e.g. [DIFFICULTY|EASY/MEDIUM/HARD] on green/orange/red background

[2018-02-20 13:47] mgaruccio opened #18 "Digital Ocean Survey Link Dead"
The Digital Ocean survey link leads to a page that says the survey is closed.

[2018-02-20 14:26] AdamEC commented on #18
I just did that survey ±30h ago. Apparently it became too famous.

[2018-02-20 16:19] swapagarwal commented on #8
I'm in for shields.io styled badges!

[2018-02-20 16:21] swapagarwal commented on #14
Oh, I thought you were looking for open-source beginner issues.
In the list, there are varied difficulties of tasks. One other issue is looking to tag the issues with difficulty levels so I think you'd be able to get what you want in some time. 😄

[2018-02-20 16:34] #14 closed

[2018-02-20 20:19] eindiran commented on #8
Those look great!

[2018-02-20 21:05] kevin51jiang commented on #13
Looks interesting, but I personally think that the whole point of this list is for free swag, so having paid ones wouldn't really match up with the reason this list was created in the first place.

[2018-02-21 04:41] #18 closed

[2018-02-21 05:03] swapagarwal commented on #8
Anyone wanna give an initial try on sorting the current list into these categories?

[2018-02-21 17:13] MatejMecka opened #23 "Add conditions."
Each project should also have what terms and conditions apply for you to be eligible. For example for the Google Assistant Developer community there could be a line saying

Terms: a) Be the Age of Majority in the country, b) Don't be in an Embargoed country...

[2018-02-21 22:39] KerstinMaur commented on #5
By the way, did you have to pay @producthunt to [list](https://www.producthunt.com/posts/swag-for-dev) you?

[2018-02-21 22:58] UdoKifferbrehl commented on #13
By the way, does @wesbos have a newsletter where he informs about the next arrival?

[2018-02-21 23:31] HammyHavoc commented on #5
@KerstinMaur Listing things on Product Hunt is free. I can't speak for the devs, but I've submitted plenty of products to it, for free, including one recently.

[2018-02-22 11:24] Abhimanyu100 opened #26 "Digital Ocean"
This is also expired.

[2018-02-22 11:28] RealOrangeOne commented on #26
See https://github.com/swapagarwal/swag-for-dev/pull/19

[2018-02-22 11:41] butlerx opened #28 "Suggestion: add Issue and Pr templates"
Might be an idea to add [issue and pr templates](https://github.com/blog/2111-issue-and-pull-request-templates)
the pr templates could give a checklist for adding new swag
issue template could give things to check such as is it a duplicate

[2018-02-22 14:03] #26 closed

[2018-02-22 14:05] swapagarwal commented on #28
Sure, go for it! 💯

[2018-02-22 18:12] kerrtrvs opened #30 "[Suggestion] Add code of conduct."
*No description provided.*

[2018-02-23 21:41] KerstinMaur commented on #5
How did you do that? I just come to the attached screen. 🤔

![ph](https://user-images.githubusercontent.com/32022034/36618232-a7441b70-18ea-11e8-8861-7a4afaa2e4b1.PNG)

[2018-02-23 22:20] vintagesucks commented on #5
@KerstinMaur Posting your product on Product Hunt (https://www.producthunt.com/) is free, see the requirements here: https://help.producthunt.com/posting/how-can-i-get-access-to-postcomment

The pricing table on your screenshot is for _**Ship**_ subscriptions (https://www.producthunt.com/ship).

---

![gfdgdfg](https://user-images.githubusercontent.com/13335308/36619684-f9b084f2-18ef-11e8-9332-398

[2018-02-24 01:01] rbstrachan commented on #30
**The Contributor Covenant Code of Conduct** is always a good idea for projects like these.
 Although the majority of the community that contributes to projects like cause no problems, the CCCoC assures people of minorities, like myself, that this project and the people behind it are here to contribute, not to hinder.
I completely agree - this should be implemented.

[2018-02-24 05:46] nikhilmufc7 commented on #13
@UdoKifferbrehl you can signup here http://wesbos.com/email/

[2018-02-24 17:31] Convery commented on #30
Please stop trying to poison every single project with your ideology.  It's code, or in this case a bunch of links, no one should need to read over a page of arbitrary rules to ensure that their contribution sits well with a small, but loud, group of people. If someone using an eggplant emoji in a commit message constitutes a hindrance for you, you may want to consider professional help. It's your

[2018-02-24 17:52] vikaspotluri123 commented on #30
Hey @Convery, your comment suggests exactly why a code of conduct could be necessary. Instead of explaining why you don't think it's necessary to have a code of conduct, you impugned the character of both @ktrvs and @rbstrachan. All they suggested was the use of some kind of code of conduct (which could be a paragraph), with the suggestion of a well-established CoC, which although might be longer,

[2018-02-24 18:04] rbstrachan commented on #30
@convery You have misunderstood me. I have no problem with eggplant emoji's. I'm not asking for people to stop having funny conversations. I was referring to the people who deliberately post nonsense issues and PR's for the sake of it, which hinders the project instead of contributing helpfully. 🍆 :)

[2018-02-24 19:49] Convery commented on #30
So, you want a bunch of arbitrary rules for contributors added to a specific repository to ensure inclusiveness and that everyone feels welcome. Yet think that anyone that disagrees with adding them to the repository should just leave the entire platform. That sure does sound like someone arguing the merits of having the rules rather than simply pushing it for ideological reasons.

[2018-02-24 19:54] vikaspotluri123 commented on #30
I haven't stated my opinion relating to Codes of Conduct for this repository because frankly, I don't care either way. This issue relates specifically to a Code of Conduct, so I'm not going to go off topic by responding to meta discussions about subpar word choice. If you want to have that discussion, feel free to directly contact me

That being said, if you concrete points to why a CoC for this r

[2018-02-24 20:06] Convery commented on #30
Except that you think people commenting on applying a bunch of arbitrary rules on a large swath of people to appease a tiny minority that can't cope with eggplants is why it's necessary to have one.

[2018-02-24 20:20] KerstinMaur commented on #5
Thanks for the instructions, @vintagesucks. 😎

[2018-02-24 20:30] rbstrachan commented on #30
I believe you have served as a prime example of why a CoC is needed for this project. If you (@Convery) have a problem with the implementation of a CoC, say so in a meaningful way, instead of constantly arguing about points of view and eggplant emoji's (?). By not doing so, you are not contributing, but hindering.

To clarify, I believe you misunderstood my initial comment. I am not against people

[2018-02-24 21:10] kevin51jiang commented on #30
OK, let's settle down, shall we? Both sides have valid arguments of their own, but I think we should be able to have a compromise. CoC should be as follows:

***

# swag-for-dev Code of Conduct

## Section 1

In the interest of fostering an open and welcoming environment, we as a community have one simple rule.

Don't be a dick.

## Section 2

See section 1.

[2018-02-27 02:49] swapagarwal commented on #28
The template definitely needs to have a field which asks "Have you received swag from this?" 😅

[2018-02-28 22:15] till-tomorrow commented on #3
Don't add discount coupons, instead add free services in the non-tangible swags.

[2018-03-01 00:19] kevin51jiang commented on #3
I don't think non-tangible stuff should be added _at all_.

This is because [there's already a repo for free services/non-tangible swag.](https://github.com/ripienaar/free-for-dev)

[2018-03-07 02:12] kevin51jiang opened #36 "Start merging new offers?"
There's been quite a lot of pull requests, and most new offers were even tagged.

Should they start being merged soon?

[2018-03-07 02:30] remram44 commented on #36
Creating new issues is probably not the best way to reduce the backlog of tickets 😅

[2018-03-07 02:35] kevin51jiang commented on #36
True... Just thought it would be more organized than commenting in a thread. :P

[2018-03-07 04:18] swapagarwal commented on #36
So basically, I'm waiting for the community to provide their feedback on whether they received swag from the mentioned sites. Once a PR reaches a certain level of engagement, I'll merge it in! 😅

[2018-03-09 18:20] #23 closed

[2018-03-11 16:51] swapagarwal commented on #36
Mullvad (#29) was merged in! 🎉

[2018-03-13 08:44] mislavcimpersak commented on #36
@swapagarwal perhaps you should explain that in the readme file. People are probably using the offers from the PRs, but are not commenting.

[2018-03-18 15:10] alokvnair commented on #36
No point of pull request when they never get merged. In this repo people will find more swags in pending pull requests than in main repo...

[2018-04-06 12:50] vamshi9666 opened #37 "anyway to tget docker swag ?"
i use docker for my shipping purpose .

[2018-04-18 15:02] swapagarwal commented on #28
Anyone wants to take a shot at this?

[2018-04-18 15:07] TooPlain commented on #28
I’ll give it a shot when I get off work.
What would you like to see in the templates?

[2018-04-18 15:08] swapagarwal commented on #28
Some basic questions, like does it ship worldwide? Have you received swag from this? How much time did it take? etc. Feel free to add your own questions! 😄

[2018-04-18 15:11] TooPlain commented on #28
Okay sounds good I’ll submit a pull request as soon as possible 👍

[2018-04-20 18:17] swapagarwal commented on #28
Closed in #41

[2018-04-20 18:17] #28 closed

[2018-04-26 05:33] jayzalowitz commented on #1
@alexknuckles, didn't realize that was the case, my bad. Just have a lot of friends who have a very big issue with them never getting swag so was trying to help. Perhaps clearly label as unisex?

[2018-04-26 06:18] alexknuckles commented on #1
Lots of friends with an issue of not getting swag? Based on the issue you opened, it was caused by unnecessarily gendered products, right? Can you provide some specific examples of your friends receiving swag that wasn't for their gender? If that has actually happened, maybe the companies giving the free products away are the best place to raise the issue.

This project's only aim is to compile fr

[2018-04-26 06:37] alexknuckles commented on #1
This project's only aim is to compile free swag opportunities for developers. It has no mention of gender. If you have an issue with the free products offered, your best bet would be to raise an issue with the companies giving away what you see as gendered products.

[2018-04-26 22:06] bigwoodenspoon commented on #1
Unisex T-shirts are basically "shirts that fit guys and so we also give them to girls."  It's literally the exact same pattern.

I don't know if this is a specific event we are referring to, but broadly speaking, this is a problem.

[2018-04-26 23:07] kevin51jiang commented on #1
Can we close this thread? I feel like it's going to become a political argument very soon.

[2018-05-01 12:39] sindresorhus commented on #12
It's just a recommendation. We accept lists without the `awesome-` prefix too.

[2018-05-01 13:03] swapagarwal opened #43 "Find a cool domain name"
We can find a cool domain (maybe something like `swag.*`), and redirect it to this page. e.g. `swag.online`, `swag.dev`, etc.

[2018-05-01 14:48] zac-garby commented on #43
`swag.info`?

[2018-05-01 15:09] swapagarwal commented on #43
Not available: https://www.namecheap.com/domains/registration/results.aspx?domain=swag.info

[2018-05-01 17:20] TooPlain commented on #43
We can go for something like maybe swag.io? I doubt it would be available unfortunately. I’ll see what I can find. Would you guys be open to any type tld as long as there is swag in it?

[2018-05-01 17:25] TooPlain commented on #43
Devswag doesn’t sound bad, anyone else like that domain? Let’s do a vote on it.

[2018-05-01 17:25] swapagarwal commented on #43
@mgaruccio +1
Let's wait for a few more members to chime in! 😇

[2018-05-01 17:40] remram44 commented on #43
I really must recommend against `.io`, not only because of [the political controversy](https://gigaom.com/2014/06/30/the-dark-side-of-io-how-the-u-k-is-making-web-domain-profits-from-a-shady-cold-war-land-deal/) around it, but also because it has a history of breakage.

`.org`, `.info` might be a better choice (`devswag.info`?)

[2018-05-01 17:43] zac-garby commented on #43
It might be better to make an actual website for it, even if it's just a GitHub pages thing.

[2018-05-01 17:49] swapagarwal commented on #43
@remram44 Now that I think about it, I definitely remember hearing about multiple .io outages.
@zac-garby Currently, it's this: https://swapagarwal.github.io/swag-for-dev/ Feel free to improve on it! 🎨

[2018-05-01 17:50] zac-garby commented on #43
@swapagarwal Oh right, I didn't realise it was already set up lol

[2018-05-09 12:42] mgaruccio commented on #43
Personally, I'm a fan of devswag.tech if the plan is to stay away from .io

[2018-05-18 03:50] vamshi9666 commented on #37
@techytushar thank you bro . is there any way to get swag personally as developer ?

[2018-05-18 21:27] MartinHennrich commented on #43
swag.fans  🤔

[2018-05-18 21:28] MartinHennrich commented on #43
swag.supplies  🤔

[2018-05-21 00:40] #37 closed

[2018-05-23 18:00] vyaspranjal33 opened #45 "mullvad swags"
- [x] I've checked that there isn't a duplicate issue.

Is it regarding the current promotions or something new?
Uncomment the corresponding section below.

mullvad isn't responding nor shipped swags @swapagarwal what to do

[2018-05-23 18:48] vyaspranjal33 commented on #45
ok may be 6 month or more ?
@shivdhwaj

[2018-05-23 18:51] shivdhwaj commented on #45
@vyaspranjal33 I will check the duration exactly but approx 2-3 months it took to deliver to Mumbai.

[2018-05-23 18:54] vyaspranjal33 commented on #45
so i can expect 4 month for gujarat right ? @shivdhwaj

[2018-05-23 18:55] Asjas commented on #45
Took about 3 to 4 months for mine to arrive in South Africa. But I did receive it.

[2018-05-23 18:56] shivdhwaj commented on #45
@vyaspranjal33 Lets see when it reaches you

[2018-05-23 18:58] vyaspranjal33 commented on #45
thanks for information @shivdhwaj

[2018-05-23 19:03] #45 closed

[2018-05-23 19:04] shivdhwaj commented on #45
@vyaspranjal33  Welcome :)

[2018-06-03 21:58] notonewith commented on #43
I would say devswag.tech would be awesome!

[2018-06-07 04:46] TooPlain commented on #43
So look at a few of the suggestions. I would say we should find more domains closer to our subject/objective which is tech related swag.

[2018-06-07 12:46] mgaruccio commented on #43
It seems like the consensus is for "devswag" with some debate about the TLD.  Not sure who will actually be registering but I did some quick pricing on namecheap and  devswag.io is about $32 while devswag.tech is about $18.  Not sure if that matters but figured I'd include it.

[2018-06-22 01:19] antonio6643 commented on #43
What about devswag.zone ?

[2018-06-26 05:28] ashubly25 opened #46 "Link isn't working - https://www.tabspace.io/stickerpacks"
- [Yes ] I've checked that there isn't a duplicate issue.

Is it regarding the current promotions or something new?
Uncomment the corresponding section below.

the reference link isn't working i reviewed my engineering team. no way it isn't giving away any swag

[2018-06-30 04:46] bharathvaj1995 commented on #43
how about dev.swag ?

[2018-06-30 07:37] wad3g commented on #43
A little pricey, but http://devsw.ag would be my pick.

If there later is out of your price range I'd go with http://👨‍💻👕.ws

[2018-07-15 10:10] TooPlain commented on #43
I kind of like what @wad3g suggested, what’s the price on it?

[2018-07-15 14:38] wad3g commented on #43
@TooPlain `.ag` is around ~$85-$95.

[2018-07-19 15:56] #46 closed

[2018-07-19 15:57] swapagarwal commented on #46
Thanks @ashubly25! 👍

[2018-09-05 11:09] swapagarwal commented on #43
Going with the flow, I'm also sold on `devswag.*`. 💯
The only thing that remains is to decide on the TLD (`info`, `io`, `tech`, etc.) as @mgaruccio  mentioned!

I've set up a [Patreon page](https://www.patreon.com/swapnilagarwal) to gather support from the community to go for the pricier TLDs.
Feel free to share what extra features would you like to see on the website. Cheers! 🎉

[2018-09-18 20:37] EvangelinePetersen commented on #5
@shnbhg & @swapagarwal, where can I find a list of @producthunt meetups?
[https://www.producthunt.com/meetups](https://www.producthunt.com/meetups) seems to be dead? 🤔

[2018-09-18 22:18] jsmayo commented on #5
Hmm, try filtering this list: https://www.producthunt.com/events

[2018-09-20 05:42] swapagarwal commented on #6
I also tried it but could not redeem the points.

[2018-09-20 05:42] #6 closed

[2018-09-20 06:03] swapagarwal commented on #36
Updated README.md https://github.com/swapagarwal/swag-for-dev/commit/eb7d5e051266011acf210b9a2b613e477025ddff

[2018-09-20 06:03] #36 closed

[2018-09-20 06:18] #1 closed

[2018-09-20 07:06] swapagarwal commented on #43
@zac-garby @TooPlain @mgaruccio @remram44 @austriker27 @MartinHennrich @antonio6643 @bharathvaj1995 @wad3g How about `devswag.xyz`?

[2018-09-20 07:40] #8 closed

[2018-09-20 07:43] #5 closed

[2018-09-20 07:43] #3 closed

[2018-09-20 07:43] #13 closed

[2018-09-20 07:52] swapagarwal opened #52 "Design the website"
We shall be hosting this on either `devswag.xyz` or `devswag.io` domain.

(Moving this from #43 to its separate thread)
What extra features would you like to see on the website?

One example I can think of is the ability to filter swag opportunities by the level of difficulty. Feel free to share more!

Also, it'd be great if someone volunteers to get the initial design of the website in place. Che

[2018-09-20 07:59] zac-garby commented on #43
Yeah Ilike that one (devswag.xyz)

[2018-09-20 07:59] zac-garby commented on #52
I’d like to design the website :)

[2018-09-20 08:00] cozyplanes commented on #52
`io` seems easier to remember

[2018-09-20 08:09] swapagarwal commented on #52
@zac-garby Awesome! How about you take the lead on this? Let's keep it minimalistic and get it out before Hacktoberfest. 😇

[2018-09-20 08:16] zac-garby commented on #52
Cool! I'll start it a bit later today when I get home. Do we want it to automatically fetch the swag opportunities from the repo?

[2018-09-20 08:29] swapagarwal commented on #52
@zac-garby I can export the list in json format if that helps?
Something like:
[code]

[2018-09-20 08:30] zac-garby commented on #52
@swapagarwal Yeah, that would be very useful - thanks

[2018-09-20 08:51] swapagarwal commented on #52
Your wish, is my command: https://github.com/swapagarwal/swag-for-dev/blob/master/data.json
The website can load data from https://raw.githubusercontent.com/swapagarwal/swag-for-dev/master/data.json

[2018-09-20 12:31] plibither8 commented on #52
Hey @swapagarwal @zac-garby, if possible, I'd like to help too :)

[2018-09-20 12:54] swapagarwal commented on #52
@plibither8 Sure! It'd be great if you can sketch up a quick mock and share the design that's on your mind.

[2018-09-20 12:59] plibither8 commented on #52
Sure, I'll start work late at night. I'll try to share it by tonight (IST) itself

[2018-09-20 16:16] zac-garby commented on #52
@swapagarwal I've made a quick design of what the site might look like. I was thinking for the colour scheme we could keep it really simple, maybe just black and white.

<img width="1123" alt="screenshot 2018-09-20 at 17 14 08" src="https://user-images.githubusercontent.com/19708658/45832011-ae7ae100-bcf8-11e8-8f59-e5e9a495c552.png">

Let me know what you think :)

[2018-09-20 16:31] plibither8 commented on #52
@zac-garby Are you going to use PaperCSS?

[2018-09-20 16:31] swapagarwal commented on #52
@zac-garby Black and white looks good for v1.
👍 for the minimalistic design.
Let's wait for @plibither8 to pitch in, and then we can start!

[2018-09-20 16:32] swapagarwal commented on #52
And @plibither8 is here! 🎉

[2018-09-20 16:32] zac-garby commented on #52
@plibither8 Never heard of it, but just looked it up. Probably not - it just looks like that because of the program I used to design it. I probably should've been more clear

[2018-09-20 16:33] zac-garby commented on #52
I'm wondering whether to use some framework like Vue or React or something, or just plain HTML, JS, CSS. On the one hand, it will be a lot easier using a framework, but the page will take longer to load. What do you think?

[2018-09-20 16:35] plibither8 commented on #52
@swapagarwal My idea was more or less what @zac-garby has suggested: minimalistic and clean. I would probably lose out the borders, make the name more prominent and above the image, and add a separate line for the link to quickly access the details and reference. @zac-garby I like your way to mark the difficulty - with the colours.

[2018-09-20 16:36] zac-garby commented on #52
@plibither8 Definitely, that's a good point about a more prominent name. Which borders would you get rid of?

[2018-09-20 16:37] swapagarwal commented on #52
I don't suspect the page will take a long time to load (irrespective of framework) as there is very limited data as of now! So it essentially boils down to your comfort levels: use whatever you're comfortable in! (unless, of course, you want to use this as an opportunity to try out a new framework! 😉)

[2018-09-20 16:38] plibither8 commented on #52
@zac-garby I don't think it will be that much of a problem to use vanilla JS, since it's mostly a static website and our key focus is minimalism. Fetching the data from the JSON file and mapping over its elements to create the HTML divs for each swag item should be fairly simple.

[2018-09-20 16:39] plibither8 commented on #52
@zac-garby I was referring to the borders around the entire swag item

[2018-09-20 16:40] zac-garby commented on #52
I've done a little bit of Vue before, and I reckon that might be a good option. The main thing I'm thinking of here is the sorting/filtering when the options are changed, which is a perfect use of Vue. It probably would be slightly easier to just do plain JS though, because it saves having to set up a whole build system and all that stuff.

[2018-09-20 16:42] swapagarwal commented on #52
@zac-garby I run a local Vue community, so I can help in setting up the build process.
@plibither8 Vanilla / Vue?

[2018-09-20 16:43] plibither8 commented on #52
Personally, I am more comfortable working with vanilla, but I have done one project using Vue, so its not alien to me.

[2018-09-20 16:44] zac-garby commented on #52
Okay, I say we should use vanilla just because it's a lot simpler

[2018-09-20 16:45] swapagarwal commented on #52
Great! How do you want to collaborate on this?

[2018-09-20 16:45] zac-garby commented on #52
<img width="743" alt="screenshot 2018-09-20 at 17 45 24" src="https://user-images.githubusercontent.com/19708658/45833620-fac82000-bcfc-11e8-85d4-d074f5da9704.png">

Here's an updated design with the changes you suggested.

[2018-09-20 16:46] zac-garby commented on #52
I'm not really sure, I don't do a huge amount of projects with other people. How does it usually work?

[2018-09-20 16:46] plibither8 commented on #52
@zac-garby it looks great

[2018-09-20 16:47] zac-garby commented on #52
@plibither8 Thanks :) Oh, and any idea of what we should write under the title?

[2018-09-20 16:47] swapagarwal commented on #52
We usually divide into short tasks and then assign amongst ourselves.

[2018-09-20 16:47] plibither8 commented on #52
@swapagarwal Maybe create a new branch (something akin to gh-pages) where we can start work on the website. Later you can merge the branch to master and deploy using (I recommend) Netlify

[2018-09-20 16:47] swapagarwal commented on #52
@zac-garby I'll work on the text. You can use `Lorem Ipsum` for now.

[2018-09-20 16:48] swapagarwal commented on #52
Netlify is ❤️

[2018-09-20 16:48] plibither8 commented on #52
How about the type of swag we receive from them. Eg: Stickers, T-Shirts

[2018-09-20 16:48] zac-garby commented on #52
Netlify looks awesome!

[2018-09-20 16:52] swapagarwal commented on #52
I've added you two as collaborators: https://github.com/swapagarwal/swag-for-dev/invitations
You can work on the `website` branch (please don't touch the `master` branch), which I'll hook up with netlify at https://peaceful-chandrasekhar-efde8e.netlify.com. Data can be pulled from https://peaceful-chandrasekhar-efde8e.netlify.com/data.json

[2018-09-20 16:55] zac-garby commented on #52
Sounds good. How are we going to divide the tasks up?

[2018-09-20 16:55] swapagarwal commented on #52
@plibither8 Any suggestions?

[2018-09-20 16:59] plibither8 commented on #52
![group 3](https://user-images.githubusercontent.com/31861755/45834406-aa64b880-bd24-11e8-9cea-3e16b98227e9.jpg)
This is the sort of mockup I was thinking of.

[2018-09-20 17:00] swapagarwal commented on #52
I see the following tasks:
1. CSS (layout) of a card
1. Remaining CSS of the website
1. Fetch data dynamically
1. Apply filters / sorting logic

[2018-09-20 17:00] zac-garby commented on #52
I like it :) Not too keen on the box shadows around the images though

[2018-09-20 17:01] zac-garby commented on #52
Yeah that works. I'd like to do 3 and 4 if possible, they sound fun

[2018-09-20 17:02] swapagarwal commented on #52
@plibither8 Are you comfortable with CSS?

[2018-09-20 17:04] plibither8 commented on #52
Sure! I have a few suggestions if it's fine.
I am more comfortable with using Pug and Stylus for HTML and CSS respectively, for which I usually use Gulp as the task runner to compile the files. For JS, I write in ES6 and transpile the code to browser standards using Babel. Is that okay?

[2018-09-20 17:05] zac-garby commented on #52
Yeah, that's a good idea

[2018-09-20 17:07] plibither8 commented on #52
Great. I'll set up the gulpfile and npm dependancies then.

[2018-09-20 17:08] zac-garby commented on #52
Cool, I'll get started on the data fetching

[2018-09-20 17:22] remram44 commented on #52
Isn't it easier to have CI in this repo build a static website, rather than have a separate project that loads JSON from here and dynamically render for the user client-side? This seems unnecessarily inefficient.

Also :-1: on `.io` ([again](https://github.com/swapagarwal/swag-for-dev/issues/43#issuecomment-385735942)).

[2018-09-20 17:33] plibither8 commented on #52
@swapagarwal Please configure Netlify to deploy from the `site/dist` folder of the

[2018-09-20 17:34] plibither8 commented on #52
@zac-garby Take a look at the directory structure, I'll be following that, is it okay?

[2018-09-20 17:35] zac-garby commented on #52
@plibither8 Looks good to me

[2018-09-20 17:37] swapagarwal commented on #52
@plibither8 `site/dist` configured!

[2018-09-20 17:50] zac-garby commented on #52
@plibither8 The website doesn't seem to be able to load `index.js`: "Loading failed for the <script> with source “file:///assets/js/index.js”. Am I doing something wrong? (I have the gulp task running and I'm viewing dist/index.html on my browser)

[2018-09-20 17:58] plibither8 commented on #52
Since the file names have absolute paths, simply loading the html file on the browser won't work, you'll require a web server who's root is the `dist` directory. I'll  update the gulpfile to include code that starts a webserver.

[2018-09-20 18:07] plibither8 commented on #52
@zac-garby Pull the latest commit and restart gulp. It should open a live web server now

[2018-09-20 18:12] zac-garby commented on #52
Ah okay, thanks

[2018-09-20 18:28] zac-garby commented on #52
It's now getting a `require is not defined` error. Looks like gulp isn't joining all the script files into one (which it should do?)

[2018-09-20 19:08] plibither8 commented on #52
Sorry for the late reply, you should probably run `npm install` again, maybe it will work(?). It won't concat the script files as of now, do you want it to?

[2018-09-20 19:13] zac-garby commented on #52
`npm install` didn't fix it. It would probably be useful to concat the script files - I could do it but I didn't want to mess up anything lol

[2018-09-20 19:13] plibither8 commented on #52
Oh darn, could you maybe send a screenshot of the error you're facing?

[2018-09-20 19:17] zac-garby commented on #52
<img width="561" alt="screenshot 2018-09-20 at 20 16 16" src="https://user-images.githubusercontent.com/19708658/45841557-1689f100-bd12-11e8-85f2-fcba7f2d71e6.png">

It might be something to do with my code -- I don't use ES6 syntax a huge amount so I may have done something wrong. Here's `fetch.js`:

[code]

And here's `index.js`:

[code]

[2018-09-20 19:31] zac-garby commented on #52
Now it's all in the same file, it works fine

[2018-09-20 19:32] plibither8 commented on #52
Thank you!

Also, I've push the latest commit which I think will fix your problem (I think it was due to incorrect configuration of babel presets :| )

[2018-09-20 19:39] zac-garby commented on #52
The new commit just introduces a new error: `exports is not defined`... Very weird. But don't worry, I'll just put it all into one file.

[2018-09-20 19:41] plibither8 commented on #52
😞 Alright

[2018-09-20 19:42] zac-garby commented on #52
@swapagarwal Is it possible to add a `Access-Control-Allow-Origin: *` to the JSON data? Otherwise, it's impossible to get the data through an `XMLHttpRequest` unless my request is being sent from the production server, making it really hard to test.

[2018-09-20 19:43] plibither8 commented on #52
If you're using Chrome, download [this](https://chrome.google.com/webstore/detail/moesif-origin-cors-change/digfbfaphojjndkpccljibejjbppifbc) extension, it's <3

[2018-09-20 19:44] zac-garby commented on #52
Ah, that's very useful, thanks :)

[2018-09-20 20:09] plibither8 commented on #52
We should do something about the image sizes

[2018-09-20 20:10] zac-garby commented on #52
I was thinking the same thing. Not sure what to do though, it would be a shame to crop them

[2018-09-20 20:12] plibither8 commented on #52
True. I'm working on a CSS solution to it. Nevertheless, we should certainly do something about the devRant image. It's too out of proportion

[2018-09-20 20:12] zac-garby commented on #52
Yeah. We could just manually crop that one and in the future not allow pull requests where the image is too long

[2018-09-20 21:08] MartinHennrich commented on #43
`devswag.xyz` sounds great 😎

[2018-09-21 00:57] swapagarwal commented on #52
@plibither8 The initial design looks good!
@zac-garby Instead of doing an HTTP call, you can just import the file locally as well.

[2018-09-21 02:51] plibither8 commented on #52
@swapagarwal anything to add/subtract/modify?

[2018-09-21 03:04] swapagarwal commented on #52
The dropdowns can be more stylized.
Let's brighten up the difficulty colors.
Regarding images, let's try out center crop for larger images (devrant) and center align for smaller images (npm).

[2018-09-21 03:17] plibither8 commented on #52
Sure. Also, I think a link to the github repo should be added too, add the bottom. Any other footer text?

[2018-09-21 06:35] zac-garby commented on #52
For the dropdowns, it might be nice to make them blend in with the text around them by styling them to look like the selected option with a thick underline, but no box or anything, if you know what I mean?

[2018-09-21 07:04] plibither8 commented on #52
Check the latest pushes

[2018-09-21 14:56] zac-garby commented on #52
Nice! One thing: the `<select>` elements don't really fit in with the rest of the site.

![screenshot 2018-09-21 at 15 55 43](https://user-images.githubusercontent.com/19708658/45888786-d3ce2480-bdb6-11e8-97b7-488bc1b3a5ce.png)

[2018-09-21 16:04] plibither8 commented on #52
That looks odd, which browser are you using?

[2018-09-21 16:04] plibither8 commented on #52
That looks odd, which browser are you using?

[2018-09-21 16:11] zac-garby commented on #52
Firefox

[2018-09-21 17:48] swapagarwal commented on #52
Same with me.

[2018-09-21 18:18] aslafy-z commented on #52
Glad you're working on this, it looks great! You need to add a `-moz-appearance: none` to ensure the select styling works on firefox. You can also use an autoprefixer to do that on compile-time (like https://gist.github.com/ayapi/26d299e4a61d9ac66036).

[2018-09-21 18:49] plibither8 commented on #52
Thanks @aslafy-z! I've pushed the changes in the latest commit, hopefully it looks OK now

[2018-09-21 19:03] aslafy-z commented on #52
Nice! I'm personally inconfortable with non-draggable images, I would delete this `-wekkit-user-drag: none` which is also not portable as is.
What do you think ?

[2018-09-22 03:04] plibither8 commented on #52
Good point, non-draggable images should be implement for logos and icons only. I'll fix this, thanks

[2018-09-24 04:58] swapagarwal commented on #52
Let me know if you need any help. 😇

[2018-09-27 03:29] swapagarwal commented on #52
Once the image dimensions are sorted, we can merge it as an MVP. Other features (text / colors) can be added iteratively.
By brightening, I meant changing the RGB values of colors. See the easy difficulty color in the first mock and the website:
<img width="240" alt="screenshot 2018-09-27 08 57 29" src="https://user-images.githubusercontent.com/2833845/46121888-8da01780-c233-11e8-8ead-24a84b4363f4

[2018-09-27 04:11] plibither8 commented on #52
Oh alright, will do that.

[2018-09-28 17:14] plibither8 commented on #52
@swapagarwal I'll require the description text which will go under the title

[2018-09-29 16:49] swapagarwal commented on #52
You can use `A list of opportunities for developers to score some swag 😎` for now.
Were you able to resolve the image size issue? (We only have 1 day left! 😇)

[2018-09-29 17:15] plibither8 commented on #52
Done! I've implemented a pure-CSS solution that will limit the height of the image to 350px

[2018-09-29 17:28] swapagarwal commented on #52
Nice!
The `npm` image looks so small compared to others. The height should be the same for all images to have a cleaner layout, right?

[2018-09-29 18:01] swapagarwal commented on #52
Hmm. We can either `stretch` the image to fit or `center-crop` it. Let's try out both and see?

[2018-09-30 15:26] plibither8 commented on #52
Tried and tested, it doesn't look too good :/ I'll share the screenshots if you want it

Hacktoberfest has started, should I merge this into `master`?

[2018-09-30 16:18] swapagarwal commented on #52
Okay, np.
Add the screenshots; I'll try to find a solution.
Can you raise a PR and add zac and me as reviewers?
I'll merge it before tomorrow.

---- On Sun, 30 Sep 2018 20:57:02 +0530 notifications@github.com wrote ----

Tried and tested, it doesn't look too good :/ I'll share the screenshots if you want it

Hacktoberfest has started, should I merge this into master?

—
You are receiving this beca

[2018-09-30 16:42] plibither8 commented on #52
The screenshot:
![image](https://user-images.githubusercontent.com/31861755/46259954-d0951000-c4fd-11e8-8eb6-80a37967e256.png)

[2018-09-30 17:17] zac-garby commented on #52
IMHO that looks pretty good. Maybe a little bit of padding under the images would be nice.

[2018-10-01 05:27] swapagarwal commented on #52
Thanks to everyone who pitched in to give suggestions and solutions. 😇
Special mention to @zac-garby and @plibither8 for getting this out right on time (Hacktoberfest starts today!)

[2018-10-01 11:03] swapagarwal commented on #43
I had a discussion with a couple of folks regarding the TLD.
Going with the popular opinion (devswag.io), we're [live on Product Hunt right now](https://www.producthunt.com/posts/devswag-2)!!
(Just in case, we also have devswag.xyz pointing to devswag.io)

[2018-10-01 11:03] #43 closed

[2018-10-01 11:03] swapagarwal commented on #52
We're [live on Product Hunt right now](https://www.producthunt.com/posts/devswag-2)!!

[2018-10-01 11:03] #52 closed

[2018-10-01 13:18] swapagarwal opened #57 "Optimize images"
Images take too long to load on slower networks!
They can be compressed and stored on the server itself, instead of loading it every time from different servers.

[2018-10-01 13:19] swapagarwal commented on #57
TL;DR Add images under assets and update the links in `data.json`

[2018-10-01 13:29] plibither8 commented on #57
Hotlinking can be an issue too (though ideally shouldn't be). The source of the image should also be captioned, IMHO.

[2018-10-01 13:34] swapagarwal commented on #57
Nope. We don't have such high traffic right now for hotlinking to be an issue. It's more about images being large (300KB for example)! Source of the image would almost always be present in the reference link so we can omit that.

[2018-10-01 13:38] plibither8 commented on #57
Ah alright!

[2018-10-01 14:14] aslafy-z commented on #57
I'd be pleased to fix this if you haven't already did it!

We could download these images from the gulp pipeline and then rebuild a modified version of data.json to be used by the website. It would allow us to keep original reference to the image in the data.json inside the repo and only edit this json file.

In the future, the README.md could also be generated from this unique json file.

What do

[2018-10-01 14:16] swapagarwal commented on #57
Sure, go ahead @aslafy-z!

[2018-10-01 15:48] aslafy-z commented on #57
Great! I'll have to embed the `data.json` file into the netlify build to make it work. It will also speed-up the thing.

[2018-10-02 05:58] plibither8 opened #64 "Display loading gif while content is being loaded on the website"
- [x] I've checked that this isn't a duplicate issue.

On (relatively) slower internet connections, there is upto a 5-7 second delay from when the website frontend (title text and footer) has loaded to when the content (the JSON data and images) has finally loaded. I suggest we display a 'loading' GIF until the files have been downloaded (using event listeners) so that the page doesn't look blank,

[2018-10-02 06:15] aslafy-z commented on #64
Maybe we could use some placeholder loading animation to preallocate some space for the swag items. It could be made with https://github.com/zalog/placeholder-loading

[2018-10-02 06:32] plibither8 commented on #64
That looks nice! Mind if I take this issue?

[2018-10-02 06:37] aslafy-z commented on #64
Sure, go ahead !

[2018-10-03 13:38] aslafy-z opened #70 "Update PR template"
It would be great to include company name, reference url and associated image right in the PR body. It's pretty annoying to have to open readme/data.json to get the swag details !

[code]

Something like this should be enouth

[2018-10-03 14:00] Jacob8765 opened #71 "Add website docs"
- [x] I've checked that this isn't a duplicate issue.

We should probably make a `README.md` or `CONTRIBUTING.md` file in the `site` folder with instructions on how to clone the website, start the gulp webserver, ect.

[2018-10-03 14:00] Jacob8765 commented on #71
I might give this a shot later today.

[2018-10-03 14:05] swapagarwal commented on #71
Sure, go ahead!

[2018-10-03 14:06] swapagarwal commented on #70
Makes sense.

[2018-10-03 17:38] plibither8 commented on #64
@aslafy-z @swapagarwal Is this enhancement still required? @aslafy-z did a great job with #59, which I believe should not cause the problem for which this issue was originally created.

[2018-10-03 17:41] aslafy-z commented on #64
I think this is still needed as it can take some times to load the data.json file depending on connection. We should at least add a text placeholder Loading... while loading the data.json.
Also, I tried to integrate https://afarkas.github.io/lazysizes/ but I'm not sure we need it.

[2018-10-03 17:44] swapagarwal opened #75 "New Page Idea: devswag.io/hacktoberfest"
There are quite a lot of interesting hacktoberfest swag opportunities this year! I was thinking of having a quick way to access them.
What do you guys think of having a new page `/hacktoberfest` specifically for this purpose?

[2018-10-03 17:49] aslafy-z commented on #75
I think it would be great. We will have to add labels to the swags to do so, right ?

[2018-10-03 17:50] plibither8 commented on #64
Oh boy, it would be great if we could get this happening... on netlify. Two advantages I can thinking of off the top of my head:

1. Shorter load time and less lag
2. Better for SEO as the actual swag items and the content will be allowed to be crawled by search engines.

[2018-10-03 17:53] Jacob8765 commented on #75
Would they still be visible on the main page, or would they only be accessible from the hacktoberfest page?

[2018-10-03 17:57] plibither8 commented on #75
It's a great idea, but, how are we going to _advertise_ it? Since this is a limited-time page, would the amount a traffic visiting that /hacktoberfest vs traffic visiting the main page be worth it? Just wondering

[2018-10-03 17:58] aslafy-z commented on #64
It could be done on website deployment, as adding swag triggers netlify deployment right ?

[2018-10-03 17:58] zac-garby commented on #75
They should definitely be visible on both pages.

[2018-10-03 18:04] swapagarwal commented on #75
@aslafy-z Yes, we would need to add labels for this.
@Jacob8765 @zac-garby Everything would be visible on main page; filtered swag on hacktoberfest page for quick access. (Same can be achieved by adding a `show only hacktoberfest opportunities` checkbox on the main page but having a new page makes sharing easier.)
@plibither8 A button can be shown on main page linking to the hacktoberfest page. (J

[2018-10-03 18:06] plibither8 commented on #75
I'm guessing labels in the data.json file, right?

[2018-10-03 18:08] Jacob8765 commented on #75
Maybe instead of adding a new page, it would be easier to use a URL query - something like devswag.io?filter=hacktoberfest.

[2018-10-03 18:09] darshkpatel commented on #75
IMHO We can just have a hacktoberfest filter on the main page.

Also can have something like devswag.io/filter=hacktoberfest , in case we
need a sharable link

On Wed 3 Oct, 2018, 11:28 PM Zac Garby, <notifications@github.com> wrote:

[2018-10-03 18:10] swapagarwal commented on #75
@Jacob8765 @darshkpatel Makes sense.

[2018-10-03 18:13] plibither8 commented on #75
Should I start work on this?

[2018-10-03 18:14] aslafy-z commented on #75
@plibither8 I think it would be better to add something like
[code]
To the data.json file as we could have other categories in the future

[2018-10-03 18:16] plibither8 commented on #75
That's a good idea, I'll initialise all swag items with an empty `labels` array, except the hacktoberfest ones

[2018-10-03 18:18] swapagarwal commented on #75
Sure, go ahead!
How about using `tags` instead of `labels`?

[2018-10-03 18:21] Jacob8765 commented on #75
I can probably help implement this if you want

[2018-10-03 18:33] aslafy-z opened #77 "Define minimum image height to prevent content jumping"
Will be fixed by #92

[2018-10-03 18:38] swapagarwal commented on #64
If the gulp pipeline can build the static site, that would be perfect! So basically the layout of the items / cards along with the text / description can be prerendered and only images need to be loaded on page load.

[2018-10-03 18:39] aslafy-z commented on #77
#64

[2018-10-03 19:12] plibither8 commented on #75
@Jacob8765 @aslafy-z @swapagarwal I've just created the PR. Suggestions?

[2018-10-03 19:27] aslafy-z opened #79 "Add automated tests"
Need to check that

- code is linted
- the site builds
- data.json is well formated
- data.json links are not dead

What else ?

[2018-10-04 00:43] swapagarwal commented on #79
I was thinking along those lines too!

[2018-10-04 08:50] plibither8 opened #82 "Bug: Website layout broken on mobile devices"
- [x] I've checked that this isn't a duplicate issue.

The website layout is broken after the addition of the description. I've attached a screenshot:

![screenshot_20181004-141152](https://user-images.githubusercontent.com/31861755/46462859-20b2f180-c7e0-11e8-89e6-b0a44c190a92.png)

This is because of the flex display set on the div, which has been given a height of 40vh (to center the title and

[2018-10-04 08:57] swapagarwal commented on #82
Ah, a classic case of it works on my machine (or in this case, my mobile).

![](https://dl2.pushbulletusercontent.com/X9htuza754xlIv6pDZ5jRVnw50Tza5rU/Screenshot_20181004-142527.jpg)

[2018-10-04 09:00] hugovk commented on #82
Also broken for me (Chrome, Android).

[2018-10-04 09:03] swapagarwal commented on #82
Oops. Is there a way to catch such things in development itself?

[2018-10-04 09:36] aslafy-z commented on #82
Yep we could use tools like browserstack to check this kind of errors, at
ci time.
We need to create a ci pipeline (codeship is in the badges?).

Le jeu. 4 oct. 2018 à 11:03, Swapnil Agarwal <notifications@github.com> a
écrit :

[2018-10-04 09:45] plibither8 commented on #82
@swapagarwal what I do is open Chrome Dev Tools and enable responsive screen. There we are given the option of simulating mobile displays of various smartphones in the market currently.

[2018-10-04 10:34] swapagarwal commented on #82
@aslafy-z I signed up for BrowserStack. How does it exactly fit into picture? Do we write a selenium test script and run it on different screen sizes? Or something else?

[2018-10-04 10:47] aslafy-z commented on #82
We need to have a test framework (not needed but better), add a test case for each platform we want to test on and use a CI to trigger them.
As seen there: https://www.browserstack.com/automate/node#testing-frameworks
Maybe we can discuss this on #79.

[2018-10-04 10:51] aslafy-z commented on #79
I seen this,

![2018-10-04-124736_174x47_scrot](https://user-images.githubusercontent.com/8191198/46469440-b4ca8c00-c7d3-11e8-942f-f6638d98bc22.png)

Are you using it Codeship ? Should we use it or another one (TravisCI, CircleCI, another one) ?
Could you grant me a read access to it (or turn it public) ?

[2018-10-04 12:33] aslafy-z commented on #79
Some visual testing materials:
- https://percy.io/
- https://github.com/apps/reg-suit
- https://applitools.com/
- https://github.com/mojoaxel/awesome-regression-testing

[2018-10-04 14:45] swapagarwal commented on #79
Yes, I was using CodeShip to test that the links are not dead. Since now we have a visual testing requirement, we'll need to explore the various options available. 😃

[2018-10-05 14:13] plibither8 opened #88 "Suggestion: Don't remove items from data.json but set `active: false`"
If an opportunity for free swag has expired, I suggest we don't remove the item from the `data.json` file. This will allow a user to browse through past opportunities and offers, some of which might even restart.

In light of that I propose either of the two implementations:

1. If an item has expired, add an `expired: true` property to the item. Otherwise, set it to false.

2. Divide the list int

[2018-10-05 14:37] aslafy-z commented on #88
I vote for the `expired: true` way of doing it. We would be able to filter swag opportunities from the gulp pipeline if we dont want them on the website.
Although i'm not sure `expired` is the best label, maybe `active` whould be better?

[2018-10-05 14:54] plibither8 commented on #88
Agreed, `active` is better as `inactive` is more befitting.

[2018-10-05 17:35] swapagarwal commented on #88
+1 for `active: true/false`

[2018-10-05 18:27] swapagarwal commented on #79
Copied from #82
`We need to have a test framework (not needed but better), add a test case for each platform we want to test on and use a CI to trigger them. As seen there: https://www.browserstack.com/automate/node#testing-frameworks`

[2018-10-05 18:28] swapagarwal commented on #82
@plibither8 Is this still an issue?

[2018-10-05 18:29] plibither8 commented on #82
#83 fixes it! Should we merge?

[2018-10-05 18:34] swapagarwal commented on #82
I thought the issue was with the banner, no?

[2018-10-05 18:36] plibither8 commented on #82
Nope, it was because of the title div being set to an absolute height &mdash; nothing to do with the banner 😄

[2018-10-05 19:00] plibither8 commented on #82
#83 merged

[2018-10-05 19:00] #82 closed

[2018-10-05 19:08] #70 closed

[2018-10-06 03:16] #71 closed

[2018-10-06 03:52] swapagarwal commented on #75
This functionality is now live at https://devswag.io/?tags=hacktoberfest
Cheers! 🎉

[2018-10-06 03:52] #75 closed

[2018-10-06 18:08] emiliano-carrillo opened #90 "Add MongoDB HacktoberFest swag"
- [ ] I've checked that this isn't a duplicate issue.

Is it regarding the current promotions or something new? Yes
Fill the corresponding section below:
Mongo DB Swag

Reference:
[Link](https://www.mongodb.com/blog/post/welcome-to-hacktoberfest-2018)

Reference Link:
- [ ] I've confirmed that the promotion is legit.
- [ ] I've verified that it's still available to the public.

[2018-10-06 18:16] darshkpatel commented on #90
It's more like a competition i believe

On Sat, Oct 6, 2018 at 11:38 PM Emiliano Carrillo Moncayo <
notifications@github.com> wrote:

[2018-10-07 03:37] plibither8 opened #91 "Bug: Items being displayed in non-alphabetical order"
This is a weird issue: though being sorted in alphabetical order, the "Google Assistant" item is always displayed at the start. I tried to debug and find the cause using some `console.log`s, some points to note:

* There is no issue in the `sort()` function, all items are being sorted correctly, as expected (in alphabetical order) once the sorting has finished. The Google Assistant item is in its

[2018-10-07 03:56] swapagarwal commented on #88
Next Steps:
1. Add `active` key in `data.json`
1. Filter out inactive items in gulp pipeline

Seems straight-forward. Is there any newcomer that wants to work on this? We'll help you along the way! 😇

[2018-10-07 04:05] vikaspotluri123 commented on #91
It's because the sorting algorithm returns a boolean, not a positive / negative value - see [comparFunction docs](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/sort#Description)

I just checked locally, and adding `? 1 : -1` to both alphabetical cases fixed the issue.

[2018-10-07 04:14] plibither8 commented on #91
@vikaspotluri123 Great! I'll add the changes and push it to the repo, unless you want to create a PR? 😄

[2018-10-07 04:15] vikaspotluri123 commented on #91
I'm working on frontend perf right now, so feel free to push directly to master 👍

[2018-10-07 04:17] swapagarwal commented on #91
Weirdly, I'm facing this issue only on mobile. 🤔

[2018-10-07 04:34] swapagarwal commented on #64
@plibither8 Let me know if you think we still need this after image optimization and SSR. 😇

[2018-10-07 04:36] swapagarwal commented on #77
@aslafy-z Let me know if you think we still need this after your image optimizations and SSR. 😇

[2018-10-07 05:50] #91 closed

[2018-10-07 06:18] vikaspotluri123 opened #92 "Performance Improvements"
I'm in the progress of implementing performance improvements both to the backend and frontend. Here's what's being done:

- [x] minify html at buildtime
- [x] use gulp@next vs github:gulp#4
- [x] load scripts at document end vs head
- [x] remove `swag-img:build-data` task (processing is done on gulpfile load)
- [ ] Normalize formatting + function declarations
- [ ] Add cachebusting + extended cach

[2018-10-07 06:31] plibither8 commented on #92
These points are great! I believe, and this is just my opinion, that we use a proper web framework like Express. It might seem overkill, but IMHO it will do most justice to the optimisations @vikaspotluri123 mentioned. Moreover, using Gulp to help pre-render data, optimise it, and build the files seems alright, but we can get the same things with much less code and more readability. Thoughts?

[2018-10-07 06:46] vikaspotluri123 commented on #92
Since the optimizations I'm making are to the gulp build process, express would technically negate them 😛 That's not to say express is a bad idea though 😄

The improvements I'm making will hopefully make the code more readable, albeit slightly bigger in size (let's just say it's stockpiling for winter 😉) and with the current spec I have in mind, will remove the need for the swag in a JSON format.

[2018-10-07 06:56] plibither8 commented on #92
You do make some good points, though I'd still be implicitly pushing towards a web framework (don't mind me :smile:).

This sounds interesting, could you elaborate?

[2018-10-07 07:01] swapagarwal opened #94 "Show tags alphabetically in dropdown"
Currently, `accessories` is shown towards the end while it should be at the start of the list.

[2018-10-07 07:01] vikaspotluri123 commented on #92
Currently everytime an input changes, swag has to be rerendered. That doesn't have to happen since we can use native javascript dom manipulation to show / hide swag items. The most taxing input change is sorting, as there really isn't an easy way to rearrange DOM nodes natively (I think part of the reason might be the UI vomit implications for that are high). StackOverflow has some discussion to d

[2018-10-07 07:04] vikaspotluri123 commented on #94
Hint: look at `site/src/pug/includes/body.pug` to see how the tag list is loaded, and make necessary changes to sort the tag list alphabetically

[2018-10-07 07:11] plibither8 commented on #92
Ah, I misinterpreted it as removing the need of `data.json`. My bad :sweat_smile:

[2018-10-07 07:12] vikaspotluri123 commented on #92
Only on the client side 😉

[2018-10-07 07:20] swapagarwal opened #95 "Feedback on our new public changelog"
I'm playing around with Beamer to announce new features and relevant news.
You can check it out in the bottom-right corner of the website.
Let me know what you think! 🦄

[2018-10-07 07:57] plibither8 commented on #92
Not with JS, but with CSS there is: use `flexbox` and the `order` property. A good demo on CSS-Tricks: https://css-tricks.com/almanac/properties/o/order/

[2018-10-07 15:12] vikaspotluri123 commented on #92
Using the order property doesn't update the a11y tree, so it's not suggested to use it for major changes like this 😬

I have some work done, but feel free to take over if you want

[2018-10-08 00:49] swapagarwal commented on #94
@alekangelov Go ahead!

[2018-10-08 12:41] sank20 commented on #88
Hey, I'm new here, I would like to take up this issue, if I may. To confirm, I need to add the `active` key in each json object. Do I need to check whether the item is active and provide the correct value or just some default value?
I'm not familiar with gulp. Can you please guide me for filtering out inactive items from gulp pipeline?

[2018-10-08 12:59] sank20 opened #96 "Twilio Swag"
- [x] I've checked that this isn't a duplicate issue.

Is it regarding the current promotions or something new?
Fill the corresponding section below:

(Current Promotion)
Please describe your concern here:
(New Promotion)
On the occasion of Hacktoberfest, @twilio is promoting Open Source as well as the Twilio APIs through a self paced game called TwilioQuest. T-shirt to be won.
Reference Link: htt

[2018-10-08 13:00] sank20 commented on #96
Taking up the task to add it.

[2018-10-08 13:30] plibither8 opened #98 "Suggestion: Move content from 'site/' folder to root"
First brought up [here](https://github.com/swapagarwal/swag-for-dev/pull/76#issuecomment-427828167) by @aslafy-z.

Since this repository is now mainly hosting code for the website (and data.json is essential for the website), and the Readme too directs you to the website, I see no reason why the site content deserves its own directory. Moving `site/` to the root directory will allow for smoother h

[2018-10-08 13:39] sank20 commented on #88
Thanks @plibither8! Cool, so I guess creating a new filter should ideally be a new issue that would be referenced to this one.

[2018-10-08 13:41] plibither8 commented on #88
No need to create a separate issue, just create a new PR with the changes

[2018-10-08 13:43] sank20 commented on #88
Alright

[2018-10-08 14:13] caseydierking commented on #96
Are you sure they are sending out a shirt themselves too? It isn't clear that they are doing that. It seems like they are just promoting people to participate in Hacktoberfest.

[2018-10-08 14:19] sank20 commented on #96
@caseydierking I am confident about the t-shirts. Same has been mentioned in a [tweet](https://twitter.com/twilio/status/1049109623532376064). Also, I completed the quest and filled the t-shirt form.

[2018-10-08 14:33] aslafy-z commented on #96
Also featured here: https://www.youtube.com/watch?v=r9MPBJjPQdA

[2018-10-08 14:44] plibither8 commented on #96
Since the t-shirt is just the logo, I think something like this will do OK (after adding some margin):

![image](https://user-images.githubusercontent.com/31861755/46615802-c646c780-cb36-11e8-9f9f-564b07c5b43e.png)

[2018-10-08 16:56] swapagarwal commented on #98
Yep, makes sense. 💯

[2018-10-08 16:59] plibither8 commented on #98
Should we wait for more input or should we commit to master?

[2018-10-08 17:04] swapagarwal commented on #98
We can commit as we have a consensus in the other thread too. 😇

[2018-10-08 17:46] caseydierking commented on #96
@sank20  I'll grab the image and add it in here this evening.

[2018-10-09 03:32] swapagarwal opened #101 "Highlight new swag opportunities"
We can add some kind of sticker to one of the image corners to denote that this is a new swag opportunity. Alternatively, it can be added in sorting logic, i.e. show in order of date added. Thoughts?

[2018-10-09 03:50] caseydierking commented on #96
[](url)
<img width="448" alt="screen shot 2018-10-08 at 10 49 14 pm" src="https://user-images.githubusercontent.com/3005311/46645844-770b9180-cb4c-11e8-940c-9f38fba5d299.png">

Didn't turn out quite like i had hoped. Feel free to use if you want.

[2018-10-09 03:57] plibither8 commented on #101
On a similar note, why not add the date the swag was created/added? It can be something like:

[2018-10-09 05:04] sank20 commented on #96
cool, thanks @caseydierking !

[2018-10-09 06:00] #96 closed

[2018-10-09 06:00] swapagarwal commented on #96
Thanks @sank20! 👍

[2018-10-09 06:05] swapagarwal commented on #90
Thanks @emiliano-carrillo for taking the time to report this.
I agree with @darshkpatel that it's more of a competition rather than swag for all, hence closing this.

[2018-10-09 06:05] #90 closed

[2018-10-09 15:27] vikaspotluri123 opened #103 "Images: force jpeg?"
Refs https://github.com/swapagarwal/swag-for-dev/pull/93#discussion_r223505178

Currently images are forced to be jpegs when they're processed. Given the source hopefully put thought into image type, is it worth forcing the image type to be jpeg?

Even though the site is tiny (500k), what about modern formats, such as progressive jpegs or webp?

[2018-10-09 15:56] aslafy-z commented on #103
Just to clarify, images are not forced to be jpegs but they we force the conversion to jpegs (progressive jpegs, see [#93 (diff)](https://github.com/swapagarwal/swag-for-dev/pull/93/files#diff-6eb60389fb540a5c670ae4d43af865a9R19)).

jpeg2000: only safari: https://caniuse.com/jpeg2000
webp: only chrome/opera: https://caniuse.com/webp

webp is coming to firefox and ie but it's very fresh:
https://ww

[2018-10-09 17:31] plibither8 opened #104 "Add Applause-button to swag items"
It would be a simple and nice feature wherein a small applause button accompanies a swag item. Users can '+1' it if they feel this is a nice opportunity, and sorting can then also be on the basis of the number of applauses an item has got.

Implementation of this is fairly simple: https://applause-button.com/. This allows for Medium-style applause buttons on static websites with a zero-configurati

[2018-10-09 17:36] swapagarwal commented on #104
Neat idea!

[2018-10-09 17:39] swapagarwal commented on #104
As the number of claps comes from the server, how would we embed it into the items array to allow sorting?

[2018-10-09 17:54] plibither8 commented on #104
We'll use the same API method the source code is using: https://github.com/ColinEberhardt/applause-button/blob/master/src/applause-button.js

It'll require a few AJAX calls to fetch the number of claps, and after that it's simple sorting 😄

[2018-10-09 17:57] plibither8 commented on #104
Better yet: just one ajax request will do: https://github.com/ColinEberhardt/applause-button-server/blob/master/src/getMultiple.js

[2018-10-09 18:03] swapagarwal commented on #104
Looks good! Do you want to pick this up?

[2018-10-09 18:08] plibither8 commented on #104
I won't get much time to work on this now because my exams are approaching
:/. I'd love to review or help out from time to time though 😀

On Tue, Oct 9, 2018 at 11:34 PM Swapnil Agarwal <notifications@github.com>
wrote:

[2018-10-09 18:13] swapagarwal commented on #104
No issues. :)

[2018-10-09 20:18] vikaspotluri123 opened #106 "Add Dark Mode 🌚"
It's relatively simple to add a toggle between light and dark mode, and javascript can be used to toggle a `dark` class to the body

Here's an example of one (styles are in sass):

[code]

[2018-10-10 01:02] swapagarwal commented on #106
Yep, I don't see a reason why not? 😏

[2018-10-10 01:04] vikaspotluri123 commented on #106
I'll work on it after frontend perf (which is scheduled for Friday) if nobody picks it up 👍

[2018-10-10 01:07] swapagarwal commented on #94
@alekangelov Are you working on this?

[2018-10-10 01:09] swapagarwal commented on #106
Cool!

[2018-10-10 02:00] vikaspotluri123 opened #108 "Build: Make caps sentence case"
Currently tags are all lower case:

![image](https://user-images.githubusercontent.com/4383564/46708841-47b95b00-cc06-11e8-8a3f-099ad34bfced.png)

They would look better if they were `Sentence cased`

[2018-10-10 20:13] arnas opened #112 "twilio doesn't provide free t-shirts anymore"
- [X] I've checked that this isn't a duplicate issue.

(Current Promotion)
Please describe your concern here:
It seems that the promotion has ended as there is no form to fill in the twilio website

[2018-10-10 20:18] aslafy-z commented on #112
Are you sure? Have you been through the [twilio.com/quest](https://twilio.com/quest)?
They [tweeted](https://twitter.com/twilio/status/1049472017639051269) about it yesterday, I have a doubt they already closed it.

[2018-10-10 20:22] aslafy-z opened #113 "Install GreenKeeper to keep dependencies up-to-date"
https://github.com/apps/greenkeeper

GreenKeeper is a GitHub app that constantly check if node dependencies has to be updated. It automaticaly creates pull-requests when it found an update and thus would allow us to keep our dependencies allways up to date. It's totally free for opensource project.

[2018-10-10 20:32] aslafy-z commented on #108
This can be achieved by using css:
[code]
[code]

[2018-10-10 20:35] arnas commented on #112
Well atleast I can't find it in the position that is shows in the youtube video https://youtu.be/r9MPBJjPQdA?t=54 . Though I may need to complete first set of objectives. Though I am not sure what first set of objectives is

[2018-10-10 20:36] aslafy-z commented on #112
The first set is the first quest. Yes, you have to do it and it will ask you if you want a t-shirt at the end 😉

[2018-10-10 20:36] vikaspotluri123 commented on #108
Or just `p.sc { text-transform: capitalize; }`?

I'd rather do this during the build step to keep the client minimal, but if you want to go the CSS route, that's fine

[2018-10-10 20:40] kevin51jiang commented on #112
It's basically everything under the "getting started" heading

[2018-10-10 20:48] aslafy-z commented on #108
Yes, but `text-transform: capitalize` does `Title Case` not `Sentence
case`. It's not a big deal I think we can go title case. I don't know which
way would be better as it would add some logic to keep tags in url
lowercase.

Le mer. 10 oct. 2018 à 22:37, Vikas Potluri <notifications@github.com> a
écrit :

[2018-10-10 21:15] arnas commented on #112
It seems everything is alright, the form showed up.

[2018-10-10 21:15] #112 closed

[2018-10-11 08:35] aslafy-z commented on #113
See #114

[2018-10-11 10:53] aslafy-z commented on #108
Yes, but `text-transform: capitalize` does `Title Case` not `Sentence
case`. I think we can go title case. I don't know which
way of implementation would be better as it would add some logic to keep tags in url
lowercase if done on buildtime.

[2018-10-11 16:17] caseydierking commented on #104
@swapagarwal  I'll pick this up.

[2018-10-11 16:58] swapagarwal commented on #88
@sank20 Let us know if you need any help!

[2018-10-11 17:05] swapagarwal commented on #108
I have mostly seen `tags` as being lowercase everywhere. Can you provide examples where `sentence-case` is used?

[2018-10-11 17:08] plibither8 commented on #108
I agree with @swapagarwal here!

[2018-10-11 17:16] vikaspotluri123 commented on #108
Good point, to me personally, there's something visually off in the select box; it might be the caps or something else 😕

[2018-10-11 17:19] plibither8 commented on #108
I guess we should get rid of the search box. There are not many tags right now (and won't be in the future, most probably), and search is not possible on mobile devices by default.

The scrollbar can be hidden by just adding `overflow: hidden` to the custom CSS.

[2018-10-11 17:28] plibither8 commented on #108
I'll try working on this if it hasn't been picked up by anyone else :sweat_smile:

[2018-10-11 17:29] vikaspotluri123 commented on #108
I'm not working on it, go ahead 👍

[2018-10-12 05:49] RajatArora08 opened #117 "Update README.md for gulp build"
- [X] I've checked that this isn't a duplicate issue.

Add `gulp build` to build before starting the server.

[2018-10-12 06:23] RajatArora08 opened #119 "Add reference URL to the company heading for quick access"
The same reference URL can be added to the heading for easy access, ie, click on the company name would redirect to the same reference link as specified in "Check this out".

[2018-10-14 17:51] sorianog commented on #95
A nice to have: Hover text telling me what the button does.
Right now I can see myself thinking that it is just notifications about some event on the site.
Or maybe change the icon to something else?
![What's New Icon](http://icon-park.com/imagefiles/new_circle_icon_green.png)

[2018-10-14 18:58] RalphPfeiffer commented on #5
Why is this issue closed?

[2018-10-15 19:21] Vibhu-Agarwal opened #122 "Nexmo Swag Opportunity requires merged Pull Request"
- [X] I've checked that this isn't a duplicate issue.

Referring to [Nexmo Swag Opportunity](https://www.nexmo.com/blog/2018/10/09/join-nextoberfest-tis-the-season-to-be-hacking-dr/),
Currently, the [devSwag website](https://devswag.io/) shows that we have to make a pull request.
But the condition states that the pull request has to be merged to be counted for a swag opportunity.
In the third para

[2018-10-16 01:43] caseydierking commented on #104
Relinquishing this. Won't be able to get to it.

[2018-10-16 16:30] berry120 opened #125 "Some difficulties don't seem quite right"
After doing a fair few of these now, some difficulties don't seem quite right - perhaps it's just my incorrect opinion, but thought I'd put it out there anyway! As a few examples:

 - Hacktoberfest (main t-shirt) is marked as hard, but in reality it's quite easy - even PR's to fix typos count, and they can even be on your own repositories. The PR's don't even need to be accepted either.
 - Contrar

[2018-10-16 16:45] swapagarwal commented on #125
Thanks @berry120 for raising this issue. The classification criteria was definitely on the back of my mind but I never got around to formalize it.

* 5 meaningful PRs (keeping the spirit of open-source) should definitely be a hard task.
* Yes, Nexmo's green is not in line with other similar ones like that of Microsoft. This should be standardized (all green or all yellow).
* Getting users (for the

[2018-10-16 16:48] swapagarwal commented on #122
Thanks @Vibhu-Agarwal for taking the time to add a detailed description! 🎉

[2018-10-16 16:49] #122 closed

[2018-10-16 17:02] swapagarwal commented on #113
Thanks for the suggestion. Merged! 🎉

[2018-10-16 17:02] #113 closed

[2018-10-16 17:17] swapagarwal commented on #95
Here are some of the icons that Beamer provides:
<img width="84" alt="screenshot 2018-10-16 22 41 13" src="https://user-images.githubusercontent.com/2833845/47034536-41daf100-d195-11e8-9a3f-c3e06f0fb060.png">
<img width="83" alt="screenshot 2018-10-16 22 43 50" src="https://user-images.githubusercontent.com/2833845/47034544-47383b80-d195-11e8-9422-02a9b7fcec9c.png">
<img width="90" alt="screenshot

[2018-10-16 17:33] sorianog commented on #95
The megaphone one!!!

[2018-10-16 17:36] swapagarwal commented on #95
I was inclined towards that as well! New icon is live on site. 🎉

[2018-10-16 17:38] sorianog commented on #95
It looks lovely!! 😍

On Tue, Oct 16, 2018, 1:37 PM Swapnil Agarwal <notifications@github.com>
wrote:

[2018-10-16 23:11] tannmaysgupta opened #126 "The whats new to devSwag button"
- [x] I've checked that this isn't a duplicate issue.

Is it regarding the current promotions or something new?
Fill the corresponding section below:

(Current Promotion)
Please describe your concern here:
The New to devSwag button isn't very noticeable in the desktop version and at the same time its tooo huge in the mobile version.

(New Promotion)
Reference Link:
- [ ] I've confirmed that the pr

[2018-10-19 19:02] sachincool opened #133 "Add Aras to the list"
- [x] I've checked that this isn't a duplicate issue.

Is it regarding the current promotions or something new?
Fill the corresponding section below:

Aras has started  with their campaign
http://community.aras.com/en/join-aras-labs-hacktoberfest-2018/
You can add it to the list with proper difficulty and emoji's :100:
Reference Link:
- [x] I've confirmed that the promotion is legit.
- [x] I've ve

[2018-10-19 19:56] rajeshwarirapelli25 commented on #88
Hey,I'm working on this issue.

[2018-10-20 02:40] sank20 commented on #88
Hi @rajeshwarirapelli25 ! Thanks for helping me for this as I'm gonna be super busy the whole month. Please note that you also need to add the filter for active/inactive items. Please refer the comments and feel free to ask your doubts here.

[2018-10-20 03:38] ncallan2019 commented on #133
Pull #135 should fix this.

[2018-10-20 13:05] aslafy-z commented on #88
from @swapagarwal [comment](https://github.com/swapagarwal/swag-for-dev/pull/102#issuecomment-431578623)

This would be great for all hacktoberfest events.

[2018-10-20 13:16] aslafy-z commented on #126
Duplicate, see https://github.com/swapagarwal/swag-for-dev/issues/95

[2018-10-20 13:16] #126 closed

[2018-10-20 13:18] swapagarwal opened #136 "Collaborate with other repositories on GitHub to consolidate all swag opportunities at one place"
Reach out to the maintainers of the following repositories:
- [ ] https://github.com/OtacilioN/awesome-hacktoberfest-2018
- [ ] https://github.com/Joonsang1994/free-tshirts-stickers-and-swag-for-developers
- [ ] https://github.com/benbarth/hacktoberfest-swag
- [ ] https://github.com/crweiner/hacktoberfest-swag-list

[2018-10-20 13:18] aslafy-z commented on #95
copied from #126, @tannmaysgupta said

[2018-10-20 13:29] sorianog commented on #126
@tannmaysgupta Was this issue reported before or after the "megaphone" icon for the button was added instead?

[2018-10-20 14:08] aslafy-z opened #137 "Add Operation Code Hacktoberfest swag"
- [x] I've checked that this isn't a duplicate issue.

Company: Operation Code
Reference Link: https://github.com/OperationCode/START_HERE
Swag: Close 3 issues, get a t-shirt. Make a PR and get stickers.

- [x] I've confirmed that the promotion is legit.
- [x] I've verified that it's still available to the public.

[2018-10-20 14:13] aslafy-z opened #138 "Add Magento Hacktoberfest swag"
- [x] I've checked that this isn't a duplicate issue.

Company: Magento
Reference Link: https://github.com/magento/magento2/wiki/SQUASHTOBERFEST-2018
Image: https://raw.githubusercontent.com/wiki/magento-engcom/msi/images/squash2018.png
Swag: Have 5 merged PRs or validate at least 10 issues, get a T-Shirt.

- [x] I've confirmed that the promotion is legit.
- [x] I've verified that it's still avail

[2018-10-20 15:08] swapagarwal commented on #95
@tannmaysgupta Thanks for taking the time to report this! 💯
Can you post screenshots? 😇

[2018-10-20 20:06] swapagarwal commented on #88
^ On the website, a warning can be added to items that are set to expire in a month or so. Something like:
- active until 31st October
- expiring on 31st October
- expiring in 10 days

[2018-10-22 07:08] dev-aritra opened #142 "Feature request: RSS/Atom feed"
Loved your website and work.
But I would like to make one feature request.
Instead of email notifications, if you could add some sort of rss/atom feed to subscribe to, that will be awesome.

Cheers.

[2018-10-22 21:30] aslafy-z opened #143 "Netlify does not build anymore?"
Review apps are not deployed and it looks that the production isn't updated too.

@swapagarwal you've got any thought?

[2018-10-22 21:37] caioproiete commented on #143
GitHub has been down for several hours, and webhooks were affected.

https://status.github.com

[![image](https://user-images.githubusercontent.com/177608/47320982-7c2b0f00-d629-11e8-9d41-dd4c3802ce79.png)](https://status.github.com)

[2018-10-23 01:16] swapagarwal commented on #143
GitHub has recovered.
I've triggered a rebuild of the site.
Individual PRs will be rebuilt with new commits.

[2018-10-23 01:16] #143 closed

[2018-10-23 04:01] swapagarwal opened #144 "Use a tool to standardize commit messages"
I had this thought after merging in the following commits: https://github.com/swapagarwal/swag-for-dev/commit/9327c832a3cbfd8fdd4f34388b72182b8b729a38, https://github.com/swapagarwal/swag-for-dev/commit/fe9629f235bb567446a431788e38a27a6d716c1a, https://github.com/swapagarwal/swag-for-dev/commit/d8ce8038bbae670427e3ea2715862d6f0e420e6d, https://github.com/swapagarwal/swag-for-dev/commit/d99d84419d3

[2018-10-23 10:17] #138 closed

[2018-10-23 15:36] aslafy-z opened #146 "Netlify builds are failing"
Seen in #140 #145

@plibither8 @vikaspotluri123 @swapagarwal

I think cherry-picking this commit would fix NPM failing to install packages. https://github.com/swapagarwal/swag-for-dev/pull/93/commits/26e36330f63fc1f1eb4b74432b43d5b3333ed49c

Gona have a try.

[2018-10-23 15:43] aslafy-z commented on #146
It works now at #147 https://app.netlify.com/sites/peaceful-chandrasekhar-efde8e/deploys/5bcf4157b312741c0d04fec3

[2018-10-23 15:44] aslafy-z commented on #146
It would work if we merge #93 instead of merging this cherry-pick

[2018-10-24 11:45] #133 closed

[2018-10-25 20:47] qhieu45 commented on #101
@swapagarwal I can work on this but we need to define what is new swag opportunities.
We don't have any data yet on date added. We can start adding them indeed.
What do we do with the ones that were added before?

[2018-10-27 19:03] aslafy-z opened #151 "Set swag item as done (locally)"
It would be great to be able to set an item as done.

We could save it locally to the browser's localstorage, we only need a way to identify swag items (ie. have an unique id for each items).

Once flagged done, the item could be grayed out and pushed to the end of the list.

[2018-10-28 00:45] swapagarwal opened #152 "Feedback collected on the website"
Here are some ideas proposed by website visitors:
- The Twilio Quest thing requires you to buy a phone number, Might want to add that. Also, the Alexa one is outdated.
- Add a checkbox to each item so people can track which ones they've completed. Could even just use localstorage so no backend is necessary.
- Feedback button on left.
Also, we have received several smiles too! 🎉

[2018-10-28 02:04] vikaspotluri123 commented on #152
Twilio Quest requires no purchases. You need to follow the instructions exactly, and you won't be asked for even a credit card. Just basic information like name, email address and phone number.

Checkboxes - duplicate of #151?

Feedback button - Is this something you need to do @swapagarwal (via netlify), or is it in the repo?

[2018-10-28 06:11] NaveenDA commented on #151
It seems to be a good idea

[2018-10-28 16:55] #137 closed

[2018-10-29 03:41] karanrajpal14 commented on #152
@swapagarwal how exactly do you wish to implement the feedback functionality? Any ideas so far?

[2018-10-29 11:45] aslafy-z commented on #152
@karanrajpal14 it's already implemented using Appzi as I can see.
I think he was talking about moving the green Feedback button to the left of the page instead of right like now.

[2018-10-31 07:07] giordifungula commented on #104
I can take this on :)

[2018-11-04 17:55] sseficha commented on #106
I would like to take on this enhancement as my first contribution. If anyone has already started working on it please let me know! :)

[2018-11-04 18:16] vikaspotluri123 commented on #106
@sseficha go ahead 😄

[2018-11-05 19:05] sseficha opened #155 "Error launching website locally"
So I have followed the ReadMe instructions and I keep facing this error:

![error](https://user-images.githubusercontent.com/32609628/48019873-2718ee00-e13d-11e8-9690-d0f71a1a0e4f.jpg)

I haven't been able to find a solution so far. Could anyone please help me? 🤔

[2018-11-05 20:42] aslafy-z commented on #155
I just merged #121 that fixes it, you can pull or clone again to try it. Thanks for reporting!

[2018-11-05 20:42] #155 closed

[2018-11-06 14:05] vikaspotluri123 commented on #88
As hacktoberfest is over, we needed to filter out hacktoberfest swag, so #156 was merged. As part of this, we need to update the state of the hacktoberfest swag in the data file and remove the extra logic added to `./site/get-data.js`

[2018-11-06 14:29] aslafy-z opened #157 "Disable Hacktoberfest hellobar"
[code]

It's not needed anymore as Hacktoberfest has ended.

@swapagarwal Maybe it's a good time to move advertising logic from netlify to this repo so it could be minified? (Proposed here https://github.com/swapagarwal/swag-for-dev/issues/152#issuecomment-433880919)

[2018-11-06 15:20] berry120 commented on #152
Just as a further note on Twilio quest - following it through does require you to "buy" a phone number, but this is only in their trial environment. No money changes hands and it doesn't require a credit card.

[2018-11-06 15:35] aslafy-z commented on #92
Cachebusting & extended caching has been added by https://github.com/swapagarwal/swag-for-dev/commit/38731282aba52e17fc841fb5afd03af16c8b12d1

[2018-11-06 15:37] vikaspotluri123 commented on #92
Not that I am aware, everything seems to be working, correct?

[2018-11-06 16:06] aslafy-z commented on #92
Looks good to me, yes.

[2018-11-06 16:25] aslafy-z commented on #88
Rather than getting a new PR for _every_ hacktoberfest-related opportunity, could you remove the rest of the swag in this PR and place them in a new file (e.g. `data-expired.json`)?

_Originally posted by @vikaspotluri123 in https://github.com/swapagarwal/swag-for-dev/pull/154#issuecomment-435029535_

[2018-11-10 07:34] itaisteinherz opened #158 "Remove Passenger"
- [x] I've checked that this isn't a duplicate issue.

The Passenger promotion has ended (since the livestream was on November 1st), and so it should be removed from the website.
I can open a PR if there are no objections.

[2018-11-11 10:52] itaisteinherz commented on #158
@vikaspotluri123 According to #154 and #88, we shouldn't remove an entry which has expired.
I think we can either put the promotion in a new file (e.g. `data-expired.json`) as suggested in the issue, or add a tag `expired` to the entry in `data.json` (like the `hacktoberfest` tag, but for generally expired offers).

[2018-11-11 17:00] vikaspotluri123 commented on #158
This would be the initial implementation of #88, are you willing to work on it?

[2018-11-11 17:50] itaisteinherz commented on #158
Sure. I think I'll be able to create a PR in a few hours.

[2018-11-13 12:16] aslafy-z commented on #157
I can't see it anymore but the JS script is still loaded. Is this on purpose @swapagarwal ?

[2018-11-14 16:46] aslafy-z opened #164 "Errors while using gulp watch"
- [x] I've checked that this isn't a duplicate issue.

`cachebust` task deletes `rev-manifest.json` while `gulp watch`ing.

**Steps to reproduce**:

- have a clean env: `gulp clean`
- run `gulp` and wait for build to finish
- edit any `src/js/*.js` `src/styl/**/*.styl` file and save
- the changes are picked up by gulp, but clean rule is called and so `rev-manifest.json` is deleted
- `cachebust` ta

[2018-11-14 18:05] aslafy-z opened #166 "New amazon swag"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

New swag from Amazon

**Global availability**:
http://alexagames.bemyapp.com/

**Localized availability**:

- India: https://developer.amazon.com/alexa-skills-kit/alexa-developer-skill-promotion-india
- US: https://developer.amazon.com/alexa-skills-kit/alexa-developer-skill-promotion
- Canada: https://develo

[2018-11-15 05:02] vikaspotluri123 commented on #64
@plibither8 I think we can close this? With all of the improvements we've made over the last month or so, I don't think a loading indicator is necessary anymore 🎉

[2018-11-15 15:31] aslafy-z commented on #164
cc @vikaspotluri123

[2018-11-15 16:41] vikaspotluri123 commented on #164
Cachebusting shouldn't happen during development 🙈

[2018-11-15 22:14] #77 closed

[2018-11-16 08:09] itaisteinherz commented on #164
I experienced this issue as well.
Another problem I noticed is that after a reload is triggered by the `watch` / `webserver` tasks, the website reports that `index.js` can't be found (this may be related to https://github.com/swapagarwal/swag-for-dev/pull/159#issuecomment-439214190).

[2018-11-16 08:12] aslafy-z commented on #164
Should we implement two build tasks to leverage this, one for production and one for development?

[2018-11-16 14:49] vikaspotluri123 commented on #164
I think we can use env vars to see if cachebust should run - what do you think?

However, now that I think about it, this doesn't fix the problem about swag images being deleted.

What I think should happen is when the `data.json` file changes, if there's a new image url, swag-img is rerun. I think the requirements to fix this issue are as follows:

1. Implement #98 - It's a very simple fix and we

[2018-11-16 15:55] itaisteinherz commented on #98
Should I open a PR to fix this, or is one of you guys already on it?

[2018-11-16 16:20] vikaspotluri123 commented on #98
Go ahead @itaisteinherz!

[2018-11-19 14:30] aslafy-z opened #172 "Add Keen.io swag"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : [Keen.io](https://keen.io)

Q. Where have you seen the announcement (URL)?
- https://ramptshirts.com/blog/2017/06/02/keen-ios-brilliant-t-shirt-easter-egg/

Q. What kind of swag (clothing, stickers, ...)?
A. : clothing (t-shirt)

Q. Have you received swag from this?
A. : No

[2018-11-19 14:32] aslafy-z opened #173 "Add jKool swag"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : [jKool](https://www.jkoolcloud.com/)

Q. Where have you seen the announcement (URL)?
A. : https://www.jkoolcloud.com/free-t-shirt/

Q. What kind of swag (clothing, stickers, ...)?
A. : clothing (t-shirt)

Q. Have you received swag from this?
A. : No

Q. Does it ship worldwide

[2018-11-19 14:35] swapagarwal commented on #172
This Easter egg is pretty cool!
I have received this; found it while going through the documentation.
However, I don't think we should add this to the list as it would pretty much defeat the purpose of being it an Easter egg. Thoughts?

---- On Mon, 19 Nov 2018 20:00:49 +0530 notifications@github.com wrote ----

Wild swag opportunity appeared!
I've checked that this isn't a duplicate issue.

Q. Wh

[2018-11-19 14:36] aslafy-z opened #174 "Add Free Tee 4 It swag"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : [Luxoft](https://www.luxoft.com/)

Q. Where have you seen the announcement (URL)?
A. : https://freeteefor.it/

Q. What kind of swag (clothing, stickers, ...)?
A. : clothing (t-shirt)

Q. Have you received swag from this?
A. : No

Q. Does it ship worldwide?
A. : No, only Repub

[2018-11-19 14:40] aslafy-z opened #175 "Add Google Code-In swag"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : [Google Code-In](https://codein.withgoogle.com/)

Q. Where have you seen the announcement (URL)?
A. : https://medium.com/@itsjzt/get-free-t-shirt-from-google-even-when-you-dont-know-coding-9477a828174e

Q. What kind of swag (clothing, stickers, ...)?
A. : clothing (t-shirt)

[2018-11-19 15:38] aslafy-z opened #176 "Add ClickFunnel swag"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : [ClickFunnel](https://www.clickfunnels.com/)

Q. Where have you seen the announcement (URL)?
A. : https://www.clickfunnels.com/tshirt_onboarding

Q. What kind of swag (clothing, stickers, ...)?
A. : clothing (t-shirt)

Q. Have you received swag from this?
A. : No

Q. Does it

[2018-11-19 16:56] aslafy-z opened #177 "Suggestion: Create a community chat"
- [x] I've checked that this isn't a duplicate issue.

Create an instant chat channel (at least one) to allow more agile communication with contributors and githubers.

Here's some options:
- Slack
- gitter
- Discord

Let's discuss it!

Here's some links:
- https://github.com/neuecc/UniRx/issues/327
- https://www.quora.com/What-are-the-pros-and-cons-of-Gitter-vs-Slack

[2018-11-19 17:15] arshadkazmi42 commented on #177
How about creating a slack community? I feel slack is better option

[2018-11-19 17:39] arshadkazmi42 commented on #177
I think other than this `Easy to access (no need for custom sign ups etc)`.
The best thing about slack is like is the `channels`.

I think both has its drawbacks. I will still go with slack. I think we should do some voting and get feedback from all contributors on their thoughts, and then can decide which one to go with. I think there are some more options other than slack and gitter.

[2018-11-19 17:42] aslafy-z opened #178 "Add Vultr swag"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : [Vultr](https://www.vultr.com/)

Q. Where have you seen the announcement (URL)?
A. : https://www.vultr.com/swag/

Q. What kind of swag (clothing, stickers, ...)?
A. : stickers

Q. Have you received swag from this?
A. : No

Q. Does it ship worldwide?
A. : Yes

Requirements:
-

[2018-11-19 18:00] aslafy-z commented on #177
There are `channels` in gitter, they're called `rooms` (I think it's new).
Yes! We should certainly get more feedbacks, that's why I opened an issue! I updated OP to reflect this :wink:

[2018-11-20 10:54] aslafy-z opened #179 "Add ThousandEyes swag"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : [ThousandEyes](https://www.thousandeyes.com/)

Q. Where have you seen the announcement (URL)?
A. : https://www.thousandeyes.com/tshirt

Q. What kind of swag (clothing, stickers, ...)?
A. : clothing (t-shirt)

Q. Have you received swag from this?
A. : No

Q. Does it ship world

[2018-11-20 11:03] aslafy-z commented on #179
Do we want to add only worldwide shipped swag?

[2018-11-20 12:06] aslafy-z commented on #172
I'm ok with that. I think we can close (and delete, [it's now possible](https://help.github.com/articles/deleting-an-issue/) for you :tada:) this issue so.

[2018-11-20 14:32] GuyKh commented on #172
Any chance of helping with the EasterEgg? :P

[2018-11-22 16:02] andreathniah commented on #172
Anyone faced the issue of having a reply of "The content-type of the request must be application/json or text/plain."? I'm pretty sure I got the cURL request right from the documentation.

[2018-11-22 16:04] aslafy-z opened #183 "Handle Difficulty & Ordering from URL"
- [x] I've checked that this isn't a duplicate issue.

Handle updates for

- difficulty
- sorting

from URL. This was we can link to any sort of settings (eg: https://degswag.io/?tags=stickers&difficulty=easy&sorting=alphabetical_asc)

[2018-11-22 16:20] aslafy-z commented on #172
@andreathniah

Your error speaks by itself. You want to set the `Content-Type` header of your POST request to `application/json` (if your payload, basically the JSON where you put your home address, is in JSON)  in order for the server to understand it. I think you misscopied from the doc, as it's specified in the curl command.

[code]

[2018-11-22 16:44] aslafy-z commented on #172
You can try to add `-vv` to your `curl` command to see if the header is present in the Request. We really need this community chat! Feel free to check out #177 and help us choose which platform to use!

[2018-11-22 16:46] vikaspotluri123 commented on #183
If we do something like this, it should be pretty simple with the new cascade 🎉

Just need to add similar logic as below to the other sections, or to the cascade fn itself 😄

https://github.com/swapagarwal/swag-for-dev/blob/76a5fe264b907cffb951e28e8d220b865bbbc3af/site/src/js/index.js#L60-L65

[2018-11-22 16:48] vikaspotluri123 commented on #172
Gonna go ahead and close this issue as we're all in agreement to limit the exposure 🦊

Feel free to continue any discussion that's been going on 😁

[2018-11-22 16:48] #172 closed

[2018-11-23 16:42] aslafy-z opened #184 "Add JS Bin swag"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : [JS Bin](https://jsbin.com/)

Q. Where have you seen the announcement (URL)?
A. : https://jsbin.com/help/stickers/

Q. What kind of swag (clothing, stickers, ...)?
A. : stickers

Q. Have you received swag from this?
A. : No

Q. How long did it take?
A. : N/A

Q. Does it ship

[2018-11-23 17:27] aslafy-z opened #185 "Add 7PHP swag"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : [7PHP](https://7php.com/)

Q. Where have you seen the announcement (URL)?
A. : https://7php.com/stickers/

Q. What kind of swag (clothing, stickers, ...)?
A. : stickers

Q. Have you received swag from this?
A. : No

Q. How long did it take?
A. : N/A

Q. Does it ship worldwide

[2018-11-27 15:11] swapagarwal commented on #177
Having a communication channel would be quite beneficial for collaborators as well as newcomers.
Let's start with Gitter? We can always move towards Slack / Discord if required in future.

[2018-11-27 16:09] vikaspotluri123 commented on #177
Sounds good 👍

[2018-11-27 17:19] #177 closed

[2018-11-29 11:06] aslafy-z opened #188 "Suggestion: Use a opinionated linter"
## Issue regarding the website

- [x] I've checked that this isn't a duplicate issue.

Ref @vikaspotluri123 at https://github.com/swapagarwal/swag-for-dev/pull/186#issuecomment-441652111

I'd go for [`xo`](https://github.com/xojs/xo) with the `space: true` option enabled to use spaces instead of tabs, what do you think?

[2018-12-03 03:13] swapagarwal commented on #184
How do you find all these @aslafy-z? Please teach us, master! 😇

[2018-12-03 03:14] swapagarwal commented on #188
`xo` looks great!

[2018-12-03 04:36] andreathniah opened #192 "Add Contentful Swag"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. :  [Contentful](https://www.contentful.com/)

Q. Where have you seen the announcement (URL)?
A. : https://www.contentful.com/resources/syntaxfm/

Q. What kind of swag (clothing, stickers, ...)?
A. : Socks

Q. Have you received swag from this?
A. : No

Q. How long did it take?
A

[2018-12-03 11:33] aslafy-z opened #193 "Add AddPoll swag"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : AddPoll

Q. Where have you seen the announcement (URL)?
A. :

Q. What kind of swag (clothing, stickers, ...)?
A. : clothing

Q. Have you received swag from this?
A. : No

Q. How long did it take?
A. : N/A

Q. Does it ship worldwide?
A. : Yes

Here's the form: https://www.addp

[2018-12-03 11:36] aslafy-z commented on #184
Haha, they come from various sources. Typically digging into Google, Medium and Twitter  using '+', quotes and google dorks to refine the search. Keywords like: giveaway, freebies, free t-shirt, free stickers, free developers and stuff x).
There also tons of freebies list that are not specialized into dev things but has some as JsBin and Vultr.

[2018-12-03 11:53] aslafy-z commented on #188
You're right @vikaspotluri123, I moved the config to spaces.

[2018-12-03 12:33] aslafy-z commented on #188
@vikaspotluri123 We have to edit https://github.com/swapagarwal/swag-for-dev/blob/master/.editorconfig#L4 if we go with tabs, or I'll revert the change.

[2018-12-03 12:48] aslafy-z opened #194 "Suggestion: Use Renovate instead of Greenkeeper"
- [x] I've checked that this isn't a duplicate issue.

Here some discussion about this:

- https://github.com/googleapis/nodejs-common/issues/59
- https://github.com/magento-research/pwa-studio/issues/286
- https://bugzilla.mozilla.org/show_bug.cgi?id=1409778

[2018-12-03 14:31] vikaspotluri123 commented on #188
Go ahead and edit the editorconfig file, that was added during hacktoberfest to limit the spread of files with a mix of tabs and spaces 😄

[2018-12-03 16:57] aslafy-z opened #195 "Add Codefresh Fixvember swag"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Codefresh

Q. Where have you seen the announcement (URL)?
A. : https://codefresh.io/fixvember/

Q. What kind of swag (clothing, stickers, ...)?
A. : clothing (t-shirt)

Q. Have you received swag from this?
A. : No

Q. How long did it take?
A. : N/A

Q. Does it ship worldwide?

[2018-12-03 17:31] aslafy-z opened #196 "Add SimbaChain swag"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : SimbaChain

Q. Where have you seen the announcement (URL)?
A. : https://simbachain.com/community/join-our-community/

Q. What kind of swag (clothing, stickers, ...)?
A. : clothing (t-shirt)

Q. Have you received swag from this?
A. : No

Q. How long did it take?
A. : N/A

Q. D

[2018-12-04 20:04] plibither8 commented on #64
Supremely sorry for the delay :neutral_face:! Certainly, this is not needed anymore. I'll close it.

[2018-12-04 20:04] #64 closed

[2018-12-05 07:13] aytekk opened #198 "GitKraken Swag"
- [ + ] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : GitKraken

Q. Where have you seen the announcement (URL)?
A. : https://www.gitkraken.com/invite/xhHK72Lk

Q. What kind of swag (clothing, stickers, ...)?
A. : Nintendo switch

Q. Have you received swag from this?
A. : No

Q. How long did it take?
A. : N/A

Q. Does it ship worldwide?
A. : Yes

--> If you're st

[2018-12-05 07:32] GuyKh commented on #198
Note that this link is referral.
Not sure this group's policy about that.

[2018-12-05 07:35] aytekk commented on #198
When you refer someone to GitKraken and they click your custom link to create a free account, you are both entered to win a Nintendo Switch.

Otherwise, you can't.

[2018-12-05 07:42] swapagarwal commented on #198
Thanks for bringing this up!
So we considered adding events / hacks / challenges. The reason for not including them was they are mostly competitive, whereas the current items on devSwag are more of an individual thing. If you do something, you get what was promised (no external factors involved).

---- On Wed, 05 Dec 2018 13:02:14 +0530 notifications@github.com wrote ----

Note that this link is r

[2018-12-05 09:40] ardaald opened #199 "Dropdown selector arrow not working"
## Issue regarding the website

- [x] I've checked that this isn't a duplicate issue.

In the dropdown menu for the difficulty level and the listing order the arrows are not clickable. It is working instead on the "Choose tags" button

[2018-12-05 10:01] ardaald opened #200 "Does devSwag need a new logo?"
- [x] I've checked that this isn't a duplicate issue.

I'm a design student, and i would like to contribute to the visual design and the logo of this project along with other the members of the community who are interested.

[2018-12-05 11:04] SemperDisco commented on #193
@aslafy-z Probably not. Have you tried filling in the form?

[2018-12-05 11:06] SemperDisco commented on #200
I think a logo would be sweet! I would like to be part of the process and offer feedback when you have some designs.

[2018-12-05 11:09] SemperDisco commented on #199
@ardaald Can I work on this issue?

[2018-12-05 11:36] aslafy-z commented on #193
Filled it, haven't got any news since then

[2018-12-05 12:04] aslafy-z commented on #174
So sad it's over :/

[2018-12-05 12:43] swapagarwal commented on #198
I'm not in favor of featuring it. What do you guys think? @aslafy-z @vikaspotluri123

[2018-12-05 13:19] arshadkazmi42 commented on #198
I am also not in favour of this. As I use this site only for the freebies, which I will get for sure, for doing something.
For competitive swags or lucky draws there are many other sites available. Let's keep devswag.io as it is.

[2018-12-05 13:51] ardaald commented on #199
@SemperDisco yes, thank you!

[2018-12-05 14:13] vikaspotluri123 commented on #174
😟

[2018-12-05 14:13] #174 closed

[2018-12-05 14:19] vikaspotluri123 commented on #198
I agree.

For now:

- Referral links are acceptable (because that's kind of the point of them), but if we start getting low-quality submissions just for the referral, we can always re-evaluate these guidelines.

- Submissions which have very low participation:"winner" ratio will be rejected (hacktoberfest can technically be considered a competition because there's a limited number of t-shirts, but

[2018-12-05 14:19] #198 closed

[2018-12-05 14:22] vikaspotluri123 commented on #199
I can't reproduce this! Could you please post your device + browser information as well as a screen shot? Thanks!

[2018-12-05 14:33] ardaald commented on #199
Basically these dropdown arrows are not selectable when i hover, so the menu doesn't drop down but you have to click on the text. It works perfectly instead for the "Choose tags" menu.
![untitled-4-01](https://user-images.githubusercontent.com/44159669/49520227-10cc9200-f8a3-11e8-8e7e-ad48d2954dc2.png)

[2018-12-05 14:35] ardaald commented on #200
![devswag-01](https://user-images.githubusercontent.com/44159669/49520362-69039400-f8a3-11e8-9c9b-01a23d29e4d5.png)

[2018-12-05 14:57] #164 closed

[2018-12-05 15:11] jishvi opened #201 "Add viral loops swag"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Viral Loops

Q. Where have you seen the announcement (URL)?
A. : https://vrlps.co/9fzpGHg/cp

Q. What kind of swag (clothing, stickers, ...)?
A. : Stickers, t-shirt, socks, etc

Q. Have you received swag from this?
A. : No

Q. How long did it take?
A. : N/A

Q. Does it ship w

[2018-12-05 15:52] vikaspotluri123 commented on #199
Aah, gotcha! It's just the dropdown arrows, not the dropdown itself 👍

[2018-12-05 15:56] vikaspotluri123 commented on #199
You just need to remove pointer events from the `:before` pseudoselector

[2018-12-05 16:38] ssiddhantsharma commented on #174
@aslafy-z @vikaspotluri123 I managed to snag it at the right time. Had it shipped to the US for my folks to bring over. All we needed to do was solve high school level c++/java problem and syntax errors. They have some pretty sweet t shirts!

[2018-12-05 18:42] ssiddhantsharma commented on #173
@aslafy-z Not working out man! I contacted their team, the promo ended way before. Also, the signup page is dead. Better close this issue.

[2018-12-05 18:43] ssiddhantsharma commented on #137
@aslafy-z The swag option is still open for some stick stickers only. Better not close it and reopen with only stickers added as a part of the swag from Operation Code.

[2018-12-05 18:46] ssiddhantsharma commented on #45
@vyaspranjal33 @shivdhwaj I got it within 2 weeks, the guys there are awesome. Want me to post some pics?

[2018-12-05 19:34] aslafy-z commented on #173
Thanks for the feedback. Closing it.

[2018-12-05 19:35] #173 closed

[2018-12-05 20:37] aslafy-z commented on #70
GitHub now supports settings title and more in issue template
https://help.github.com/articles/manually-creating-a-single-issue-template-for-your-repository/#adding-an-issue-template

[2018-12-05 20:45] vikaspotluri123 commented on #157
Is this good to close? I'm not entirely sure 👀

[2018-12-05 20:47] vikaspotluri123 commented on #117
We've refactored the gulpfile so this is no longer necessary 🙂

[2018-12-05 20:47] #117 closed

[2018-12-05 21:04] aslafy-z commented on #157
@swapagarwal still needs to address https://github.com/swapagarwal/swag-for-dev/issues/157#issuecomment-438903610
But yeah, the hellobar has been disabled.

[2018-12-06 01:21] swapagarwal commented on #45
@ssiddhantsharma Yeah sure! Why not? 😉

[2018-12-06 01:22] swapagarwal commented on #70
The label thing seems pretty useful.

[2018-12-06 01:36] swapagarwal commented on #201
@vikaspotluri123 Take a call (undisclosed referral) here 👀

[2018-12-06 01:43] swapagarwal commented on #101
@qhieu45 `dateAdded` is now available for all items!
A first proposal can be something like consider the latest 3 items added in the last 30 days as new and highlight them. Let's keep the numbers configurable and tweak with feedback from others.

[2018-12-06 01:45] vikaspotluri123 commented on #201
Welp my IP was banned? On it, just need a few mins 🏃‍♂️

[2018-12-06 01:54] vikaspotluri123 commented on #201
I originally thought this was fine - people wouldn't know about this unless we spread the word, and @jishvi was the one to tell us about it. However, now that I think about it, you can't get the swag unless you refer someone, and by us listing it on devSwag, that gives one person many referrals.

Overall, while I personally don't like referral links, I think they're completely acceptable, includin

[2018-12-06 01:56] swapagarwal commented on #179
Let's keep this open for now. If there are enough of these, we can create a separate section in the website.

[2018-12-06 01:57] #188 closed

[2018-12-06 02:32] vikaspotluri123 commented on #152
Did someone say more colors? How about ALL THE COLORS!
![image](https://user-images.githubusercontent.com/4383564/49557308-dbd53500-f8cc-11e8-9a92-f8236c3aeeee.png)

[2018-12-06 02:58] swapagarwal commented on #106
@sseficha Let us know if you need any help! :)

[2018-12-06 03:29] ssiddhantsharma commented on #172
@andreathniah @vikaspotluri123  @aslafy-z  I got it right the very first time, and it was a success but as I was contacting a past recipient of the swag from Indonesia. He told me he had to wait for 7 months for the swag to arrive. Well I guess they are a bit slow when it comes to S.E Asia.

[2018-12-06 03:30] swapagarwal commented on #176
Hey Siddhant. Let's not be aggressive. The open PRs don't guarantee anything. If we were 100% sure, it'd already have been merged! 😇

---- On Thu, 06 Dec 2018 08:57:06 +0530 notifications@github.com wrote ----

@aslafy-z Hey man, it is not working. I went through all the process and in the end the link for not there. I contacted them but no reply. Better remove this, or first try once for yourself

[2018-12-06 03:39] vikaspotluri123 commented on #200
Hey @ardaald do you want to create a PR to integrate it into the site?

@swapagarwal do you have any issues with the logo?

[2018-12-06 03:50] swapagarwal commented on #200
Current:
![](https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/155/smiling-face-with-sunglasses_1f60e.png)
Proposed:
![](https://user-images.githubusercontent.com/44159669/49520362-69039400-f8a3-11e8-9c9b-01a23d29e4d5.png)

Maybe increase the smile a little bit to increase the swag level (see current).
@plibither8 can provide more feedback here.

[2018-12-06 04:30] swapagarwal commented on #151
Possible future addition: Use [Netlify Identity](https://www.netlify.com/docs/identity/) to identify users and persist this data to be used across devices.

[2018-12-06 06:54] swapagarwal opened #203 "New Swag Opportunity"
Testing Zapier Integration

[2018-12-06 07:00] aslafy-z commented on #151
Let's pray for netlify to give us a free plan for teams :(

[2018-12-06 07:02] aslafy-z commented on #200
As it's a pretty simple logo, would be great to have a vectorised version of it, a SVG version.
Do someone known something about creating those?

[2018-12-06 07:07] aslafy-z commented on #176
I've personally been through it and they sent me a T-shirt.
I had to start a free trial,
Watch the videos and then play their game as I stated in the description. It's pretty hidden, you have to go to the old dashboard version. There is a link in their new dashboard to it.
And then you'll see a Play game button. The first journey in their game is about looking to another video and then have a free

[2018-12-06 09:33] ardaald commented on #200
Hey @aslafy-z @vikaspotluri123 @swapagarwal   here is the SVG version with a bigger smile! https://drive.google.com/open?id=1lTtb36JiVELPAwiMpXIVe0vCPI3rJfmk

[2018-12-06 11:37] aslafy-z commented on #193
Closing this one as [their contact form](https://www.addpoll.com/contact) is not working anymore (still uses recaptcha v1) and there is no activity on [their Twitter](https://twitter.com/addpoll) since 2015.

[2018-12-06 11:37] #193 closed

[2018-12-06 11:39] aslafy-z commented on #200
I think you should remove the text from the image so we can integrate it better where we want.

[2018-12-06 11:51] SemperDisco commented on #200
@ardaald Thank you! It looks better now.

[2018-12-06 11:52] SemperDisco commented on #200
@ardaald @vikaspotluri123 @swapagarwal If you guys approve the logo, can I add it to the website?

[2018-12-06 12:08] ardaald commented on #200
Here is the logo without the text,  in any case the font was Rockwell! https://drive.google.com/open?id=1mFxiac_nIFHUG2HdarRDhx2MniSV9ERB

[2018-12-06 13:12] ssiddhantsharma commented on #176
@aslafy-z Thanks for the information!

[2018-12-06 16:28] SemperDisco opened #206 "Show pointer cursor instead of default when hovering over filters"
## Issue regarding the website

- [x] I've checked that this isn't a duplicate issue.

I think it would be nice to show a pointer instead of the default cursor when hovering over the filters. With a pointer it is more clear that the filter is clickable.

[2018-12-06 16:30] vyaspranjal33 commented on #45
@swapagarwal Thank you so much for creating this Repo

[2018-12-06 16:49] #199 closed

[2018-12-06 16:51] vikaspotluri123 commented on #200
@SemperDisco only of @ardaald doesn't want to 😉

[2018-12-06 16:59] vikaspotluri123 commented on #206
Point of discussion (I have no preference): We're using native browser elements here so we shouldn't interfere with it as there's a reason for the design

[2018-12-06 17:05] SemperDisco commented on #206
I noticed that the tag select box does have a pointer. I think it would be neat if there is one way in which the same kind of elements respond to user interaction.

[2018-12-06 17:09] vikaspotluri123 commented on #206
Just FYI in terms of implementation, the tag select box is not native and uses the [Selectr](https://github.com/Mobius1/Selectr) library to allow for multiple selections - so standardizing could also include disabling the cursor for the tag selector

Again, I'm fine either way, it's just something to think about / discuss 🙂

[2018-12-06 18:42] ssiddhantsharma commented on #184
@swapagarwal I have some tricks to find cool swag items which even @aslafy-z misses at time. I use Linkedin, Instagram, Reddit and twitter and search on them by using various keywords he mentioned. I look for blogs and tweets and usually they have some companies mentioned in them. I plug those companies with a "+ free t-shirt/stickers/socks" in my search bar and viola! There is a ton of swag avail

[2018-12-06 21:30] berry120 commented on #152
Oh wow. That's definitely... all the colours.

[2018-12-06 21:34] berry120 commented on #203
...You mean there's no new swag opportunity? :(

[2018-12-06 21:36] berry120 commented on #201
Meh, this isn't really *dev* for swag, so it doesn't really belong IMHO. Referrals are a bit of a pain, and just result in spam.

[2018-12-06 21:38] berry120 commented on #196
👍  This is an easy t-shirt steal if it works.

[2018-12-06 21:41] berry120 commented on #176
Interesting, but doesn't really fit the bill for dev swag IMHO.

[2018-12-06 22:03] vikaspotluri123 commented on #201
I think we're all in agreement, so I'm closing this

[2018-12-06 22:03] #201 closed

[2018-12-06 22:58] SemperDisco commented on #206
I think either way is fine, the only important thing is that the filters are uniform in interaction. Who is qualified in making a decision about this?

[2018-12-07 01:38] vikaspotluri123 opened #207 "Add UTM Referral links to swag"
We should add a filter to our build pipeline that adds [UTM terms](https://www.launchdigitalmarketing.com/what-are-utm-codes/) to swag links so sites know devSwag sent the user

[2018-12-07 11:30] aslafy-z commented on #200
You can reduce the SVG size by using this website: https://jakearchibald.github.io/svgomg/

[2018-12-07 16:22] polyzen commented on #106
https://drafts.csswg.org/mediaqueries-5/#prefers-color-scheme

[2018-12-07 16:35] swapagarwal commented on #45
@vyaspranjal33 Cheers! ❤️

[2018-12-07 17:33] agarwalml commented on #200
Hey! I really appreciate the work on the site and fell upon this thread.I created some renditions for the logo. Would appreciate some feedback.
P.S. I've uploaded a PNG of the logos, but I have SVGs ready.
![devswag_concepts](https://user-images.githubusercontent.com/42957482/49663319-41aff100-fa74-11e8-8cbc-43d7a9fd38b2.png)

[2018-12-07 18:09] vikaspotluri123 commented on #200
Just putting this out there, if we get a new logo, we should probably have a new icon too! There's no mutual exclusion here 😊

[2018-12-07 18:12] plibither8 commented on #200
Hey Vikas, how are we differentiating _logo_ and _icon_ here?

[2018-12-07 18:13] vikaspotluri123 commented on #200
icon = square, logo = rectangular

So wherever we need something square, we use the icon, and everywhere else we use the logo!

[2018-12-07 18:20] agarwalml commented on #200
I agree. A logo needs to be responsive. The minimal ID can serve as a simple icon as well imo. Nothing too fancy

[2018-12-07 20:37] SemperDisco commented on #200
@agarwalml I like the first one, it is pretty clean.

Maybe we can also make an option which combines the logo from @ardaald with one of @agarwalml logos.

Is it possible to host some sort of poll to vote on which logo to use?

[2018-12-08 07:02] agarwalml commented on #200
@SemperDisco though it sounds like a good idea, don't you think by combining both logos & having 2 sticker based logos next to each other would over-do the design?

[2018-12-08 08:38] SemperDisco commented on #200
@agarwalml Maybe you are right. I'm no designer I was just throwing ideas out there.

@plibither8 We can use https://app.gh-polls.com/

[2018-12-08 08:57] SemperDisco commented on #206
I went ahead and added the pointer cursor. I made a pull request #209.

[2018-12-08 09:53] plibither8 commented on #200
Sure, that seems like a possible way to do it. Go ahead and create it :smile:

[2018-12-08 13:13] #94 closed

[2018-12-08 17:53] #206 closed

[2018-12-09 01:15] swapagarwal commented on #206
Thanks @SemperDisco! 👍

[2018-12-09 07:03] ssiddhantsharma opened #216 "Add opsdroid sticker pack!"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : opsdroid

Q. Where have you seen the announcement (URL)?
A. : https://medium.com/opsdroid/contributor-sticker-packs-738058ceda59

Q. What kind of swag (clothing, stickers, ...)?
A. :  Sticker pack (2-3 stickers)

Q. Have you received swag from this?
A. : Yes

Q. How long did

[2018-12-09 07:08] ssiddhantsharma opened #217 "Add alligator.io stickers!"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Alligator.io

Q. Where have you seen the announcement (URL)?
A. : https://alligator.io/write-for-us/

Q. What kind of swag (clothing, stickers, ...)?
A. :  Stickers (only 1)

Q. Have you received swag from this?
A. : Nopes!

Q. How long did it take?
A. : N/A

Q. Does it ship

[2018-12-09 10:34] agarwalml commented on #200
Since no one commented, here you go:

[![](https://api.gh-polls.com/poll/01CY98B1NFH40PAZV6RJ470PKC/%40arbaald%20sticker%20emoji)](https://api.gh-polls.com/poll/01CY98B1NFH40PAZV6RJ470PKC/%40arbaald%20sticker%20emoji/vote)
[![](https://api.gh-polls.com/poll/01CY98B1NFH40PAZV6RJ470PKC/%40agarwalml%20logo%20sticker%201)](https://api.gh-polls.com/poll/01CY98B1NFH40PAZV6RJ470PKC/%40agarwalml%20logo%20

[2018-12-09 17:41] plibither8 commented on #200
Pinging @swapagarwal

[2018-12-10 06:08] #30 closed

[2018-12-10 18:12] SemperDisco commented on #207
@vikaspotluri123 UTM terms are just URL parameters, right? So we have to add something `utm_source=SwagForDev` to all the urls. Do I understand that correctly?

Isn't it an idea to add the parameters in the pug template (https://github.com/swapagarwal/swag-for-dev/blob/1ec15b4744fe605e5f5f2dfff9c85647db837666/src/pug/includes/body.pug#L58)? We can just concatenate the parameters to the reference a

[2018-12-10 18:17] SemperDisco commented on #200
@agarwalml Your entry named logo sticker 1 is probably the winner, I don't think the poll will change drastically from this point. Could you make a (fav)icon of the logo?

[2018-12-10 19:12] vikaspotluri123 commented on #207
We should try to limit the amount of processing we do in the template; the template's responsible for outputting the data its provided, not necessarily mutating it

We already do some processing of the data, adding UTM terms to it could be done there.

https://github.com/swapagarwal/swag-for-dev/blob/1ec15b4744fe605e5f5f2dfff9c85647db837666/get-data.js#L3

[2018-12-10 19:46] SemperDisco commented on #207
What parameters should be added to the url?

[2018-12-11 05:53] vikaspotluri123 commented on #207
`utm_source`, `utm_campaign`, `utm_medium` iirc

[2018-12-11 12:01] SemperDisco commented on #207
Do you also know which values they should have?

[2018-12-11 12:08] vikaspotluri123 commented on #207
I'll be able to give you an answer at some point in time, but I'm not entirely sure when! I'm not actively OSSing right now, so this will be added to the backlog

[2018-12-11 12:56] Yash-Garg opened #219 "Add opsdroid swag"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : OpsDroid

Q. Where have you seen the announcement (URL)?
A. : On their Github repository

Q. What kind of swag (clothing, stickers, ...)?
A. : Stickers

Q. Have you received swag from this?
A. : Yes, I will receive it soon

Q. Does it ship worldwide?
A. : Yes

- You need to b

[2018-12-11 12:58] aslafy-z commented on #219
Duplicate of #216, please report in the existing issue.

[2018-12-11 12:58] #219 closed

[2018-12-11 12:59] Yash-Garg commented on #219
Ah, okay!

[2018-12-11 13:20] SemperDisco commented on #200
@agarwalml Could you also add the svg?

[2018-12-11 18:36] agarwalml commented on #200
Sharing the ID card logo as a favicon
https://drive.google.com/file/d/1J3Y3RP2oznG9TwSsECHwbI9J6fqzsyEp/view?usp=sharing

[2018-12-11 19:30] SemperDisco commented on #200
Yes, that is okay. Thank you for providing the assets.

[2018-12-12 01:36] swapagarwal opened #227 "Document the current architecture"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2420%20Funded-%2300A156.svg" />](https://issuehunt.io/r/swapagarwal/swag-for-dev/issues/227)

A newbie needs to learn a bit of gulp, pug, styl. The doc can cover all things end-to-end from data.json to Netlify deployment.
This is important for onboarding new core contributors.

---

<details>
<summary>
<b>IssueHunt Summary</

[2018-12-12 01:38] swapagarwal commented on #227
@aslafy-z You seem to be the best person to do this!

[2018-12-12 01:41] swapagarwal commented on #79
@vikaspotluri123 See if you get time?

[2018-12-12 13:55] swapagarwal commented on #200
Awesome! Let's get this integrated.

[2018-12-12 14:03] SemperDisco commented on #200
@swapagarwal I'm working on it! ;)

[2018-12-13 19:03] aslafy-z opened #230 "Suggestion: Change pre-commit lint hooks for pre-push"
_Originally posted by @vikaspotluri123 in https://github.com/swapagarwal/swag-for-dev/pull/224_

Follows-up https://github.com/swapagarwal/swag-for-dev/pull/224#discussion_r241193673

[2018-12-16 01:36] olessiap commented on #217
heyooo, I submitted a pull request for this [here](https://github.com/swapagarwal/swag-for-dev/pull/232)

Please let me know if I did it correctly, it's my first time!
Thank you,
Olessia

[2018-12-16 06:08] ssiddhantsharma commented on #217
@olessiap Thanks for the PR for my issue! Just check the comments on your PR and resolve them. You did great, welcome to the world of Open Source.

[2018-12-16 09:12] agarwalml commented on #200
Guys, any updates?

[2018-12-17 01:40] #217 closed

[2018-12-19 11:03] aslafy-z commented on #194
Greenkeeper glitches, we may want to switch to renovate @swapagarwal

![](https://i.imgur.com/TsulXMJ.jpg)

![](https://i.imgur.com/k0YJZpI.jpg)

[2018-12-22 04:35] aayushbisen commented on #216
Can I work on this?

[2019-01-03 15:19] #196 closed

[2019-01-03 15:51] berry120 opened #241 "Hackathon participant prizes?"
Discussion more than an issue, but should we include online Hackathons (available worldwide) where the hackathon has a participant prize?

For example:
https://alexamultimodal.devpost.com/

There's obviously bigger prizes to be had too, but this would seem to fit the requirement of "swag for dev" in that any valid entry will receive the prize.

Downside is that no-one would be able to verify this

[2019-01-04 14:01] aslafy-z commented on #194
Here's the related discussion: https://github.com/greenkeeperio/greenkeeper/issues/317

Thanks @plibither8

[2019-01-04 14:05] #192 closed

[2019-01-04 14:58] aslafy-z commented on #103
WebP support has been integrated. Closing this from now.

[2019-01-04 14:58] #103 closed

[2019-01-04 16:58] aayushbisen commented on #216
#242

[2019-01-05 09:19] Saksham-Saxena opened #243 "Issue with Simba chain"
## Issue with an existing swag opportunity

- [ ] I've checked that this isn't a duplicate issue.

Q. Which opportunity?
A. : Simba Chain

The Simba Chain swag is shipped only to United States.

[2019-01-06 11:56] AnushPatel commented on #241
I can confirm that Alexa Hackathons do give out the prizes but they are VERY slow in the processing

[2019-01-06 11:59] berry120 commented on #241
Oh yes, I've had prizes from them too but they're generally a couple of months after the Hackathon has ended. Obviously that means there's no way of verifying a *particular* Hackathon before it ends, we just have to go on the fact that others have given out in the past.

I guess it's similar to hacktoberfest in that regard.

[2019-01-07 14:37] sseficha commented on #151
I think it would cool, if hovering over the pictures was interactive and clicking on them substituted the roll of the link. Then the link you be something like this instead: Check if completed [ ] <-- checkbox. What do you think?

[2019-01-08 02:11] daneelrakow commented on #227
Hi there, looking to get my first open source contribution under my belt. Could you explain a bit more about what you're looking for?

Daneel

[2019-01-08 02:31] swapagarwal commented on #227
Hi Daneel

We are looking for a document that explains how the website is built so that new folks can contribute in a scalable way.
If your English is good and you know a little bit of gulp, pug, styl, netlify (don't worry; folks are here to help you out!), let us know. 😇

[2019-01-08 03:18] daneelrakow commented on #227
Well my English is good, but I don't know any of those :( well, I'll keep looking!

[2019-01-08 05:35] swapagarwal commented on #227
It's even better if you don't know these things. 😂
Your documentation would be targeted towards new contributors, so I think you'd do an amazing job of connecting with the audience.
The only thing required is that you would need to put in the effort (might be a couple of days, might be a few weeks) to understand the concepts and write a README that you wished it already existed.

[2019-01-08 14:06] daneelrakow commented on #227
Well, I suppose I could give it a shot!!

[2019-01-08 19:59] daneelrakow commented on #227
If you want to assign me to this one that  would be awesome! I've gotten started describing some of the files that I've looked through in a DOCUMENTATION.md file!

[2019-01-10 23:59] lalaithan opened #246 "Contentful giveaway has ended"
## Issue with an existing swag opportunity

- [x] I've checked that this isn't a duplicate issue.

Q. Which opportunity?
A. : Contentful

The Contentful sock giveaway has ended.

[2019-01-12 16:55] vikaspotluri123 commented on #178
Closing - https://github.com/swapagarwal/swag-for-dev/pull/180#issuecomment-453762882

[2019-01-12 16:55] #178 closed

[2019-01-14 12:57] aayushbisen commented on #216
I think we can close this now.

[2019-01-14 13:00] aslafy-z commented on #216
Fixes #216

[2019-01-14 13:00] #216 closed

[2019-01-16 23:04] aslafy-z opened #253 "Order alphabetically within difficulties (categories)"
## Issue regarding the website

- [x] I've checked that this isn't a duplicate issue.

When ordering by difficulty, items aren't shown in a alphabetical order. We might want to order alphabetically within each difficulty to keep it clean.

![2019-01-17-000331_756x245_scrot](https://user-images.githubusercontent.com/8191198/51284303-583e5600-19eb-11e9-9461-cae55867ffc1.png)

Steps to reproduce:
- S

[2019-01-17 07:01] greenkeeper[bot] opened #255 "An in-range update of gulp-responsive is breaking the build 🚨"
## The devDependency [gulp-responsive](https://github.com/mahnunchik/gulp-responsive) was updated from `2.12.0` to `2.13.0`.

🚨 [View failing branch](https://github.com/swapagarwal/swag-for-dev/compare/master...swapagarwal:greenkeeper%2Fgulp-responsive-2.13.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

gulp-responsiv

[2019-01-21 21:00] aslafy-z commented on #230
See https://github.com/theenadayalank/lint-prepush

[2019-01-25 06:45] etabakov opened #257 "NativeScript First-Time Contribution Program"
## Wild swag opportunity appeared!

- [X] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : [Progress Software](https://www.progress.com/)

Q. Where have you seen the announcement (URL)?
A. : [NativeScript First-Time Contribution Program](https://www.nativescript.org/blog/nativescript-first-time-contribution-contest-continued-and-extended)

Q. What kind of swag (clo

[2019-01-25 10:19] Yash-Garg commented on #257
Great!

[2019-01-25 16:58] #88 closed

[2019-01-25 16:58] #158 closed

[2019-01-30 15:26] #185 closed

[2019-01-30 17:06] #257 closed

[2019-01-31 09:31] aslafy-z commented on #176
Finally got the shirt! Had to ask again but they sent it to me!
It looks like that
https://banner2.kisspng.com/20180604/tbt/kisspng-t-shirt-funnel-hacking-sleeve-top-design-t-shirt-5b15e59a32c5e8.738916581528161690208.jpg

[2019-01-31 13:12] Yash-Garg commented on #246
@aslafy-z Issue should be closed now 👍

[2019-01-31 16:32] #184 closed

[2019-02-09 15:30] debsmita1 commented on #179
I am taking this up :)

[2019-02-09 17:59] Yash-Garg commented on #179
It's sad that it doesn't ships worldwide :(

[2019-02-09 18:02] debsmita1 commented on #179
okay :(

[2019-02-12 10:16] co16353sidak commented on #253
@aslafy-z would love to work on this if anyone isn't

[2019-02-12 14:33] vikaspotluri123 commented on #253
@co16353sidak go ahead 👍

[2019-02-12 19:14] co16353sidak commented on #253
I would love some clarification here as to how the ordering has to take place because as I can infer from the website the following:-

<img width="1146" alt="screenshot 2019-02-13 at 12 42 21 am" src="https://user-images.githubusercontent.com/35738138/52661510-3cfe3200-2f28-11e9-981c-3a81fd358aaa.png">

I don't seem to understand @aslafy-z 's issue here.

(_haven't tested locally._)
(@vikaspotluri

[2019-02-12 19:17] co16353sidak commented on #227
Hi, is anyone onto this or could I have a go?
@daneelrakow @swapagarwal

[2019-02-13 13:04] Yash-Garg commented on #227
@co16353sidak Afaik No one else is on this currently.

[2019-02-15 20:09] sidhyatikku opened #265 "Dribbble Free Sticker Pack"
## Wild swag opportunity appeared!

- [X] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Dribbble

Q. Where have you seen the announcement (URL)?
A. : [Dribbble Survey Popup](https://dribbble-feedback.typeform.com/to/WXhskq)

Q. What kind of swag (clothing, stickers, ...)?
A. : Sticker Pack

Q. Have you received swag from this?
A. : No

Q. How long did it take?
A

[2019-02-15 23:27] aslafy-z commented on #265
Thanks @sidhyatikku ! It took 6 weeks for my pack to arrive in France after I got the confirmation email. :-)

[2019-02-16 13:51] sidhyatikku commented on #265
@aslafy-z mine took 12 days 😄

[2019-02-16 14:00] Yash-Garg commented on #265
@sidhyatikku In which country do you live ?

[2019-02-16 14:02] sidhyatikku commented on #265
@Yash-Garg India

[2019-02-16 14:15] Yash-Garg commented on #265
Damn that is fast!

[2019-02-17 07:41] shakeabi opened #266 "Feat: Add 'last updated date' in the website"
## Issue regarding the website

- [ * ] I've checked that this isn't a duplicate issue.

A 'last updated on:' feature would be really helpful.

[2019-02-17 16:35] open-source-explorer commented on #266
@shakeabi Which are the files to work upon?

[2019-02-17 17:18] shakeabi commented on #266
@open-source-explorer index.js and body.pub.

[2019-02-18 02:12] swapagarwal commented on #266
@shakeabi Yep, that would indeed be really helpful. 💯

[2019-02-18 15:22] open-source-explorer commented on #266
@shakeabi @swapagarwal How to get the last updated date?

[2019-02-18 15:24] vikaspotluri123 commented on #266
@open-source-explorer were you looking to take a stab at implementing this PR?

You can get the "last updated" date by either using the `data.json` dates, or the javascript Date class.

[2019-03-10 13:26] AnushPatel commented on #265
They have run out of stickers :(

[2019-03-11 09:06] tonyvince commented on #265
Received sticker-pack in Germany within 1 week of filling survey.

[2019-03-13 05:26] ithompson4 commented on #266
Is this issues still open, I would like to work on it. Thank you.

[2019-03-16 11:33] #265 closed

[2019-03-25 20:51] greybax opened #269 "Codeship do not send t-shirts anymore"
## Issue with an existing swag opportunity

- [x] I've checked that this isn't a duplicate issue.

Q. Which opportunity?
A. : Codeship

I've got codeship swags yesterday and they do not send t-shirts anymore. Only stickers.

[2019-04-02 20:49] hexandcube commented on #269
I can confirm this. I received my stickers 2 weeks ago.

[2019-04-14 04:24] vmr1532 opened #270 "Create Google code-in swag oppertunity"
## Wild swag opportunity appeared!

- [ ] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : GOOGLE CODE IN

Q. Where have you seen the announcement (URL)?
A. : https://codein.withgoogle.com/archive/

Q. What kind of swag (clothing, stickers, ...)?
A. : TSHIRT,STICKERS

Q. Have you received swag from this?
A. : NO

Q. How long did it take?
A. : 1 MONTH

Q. Does it sh

[2019-04-14 04:28] Yash-Garg commented on #270
2019 one has not started yet, why creating an issue now?

[2019-04-14 04:29] vmr1532 commented on #270
just created this for reference for letting others know such opportunity exists

[2019-04-14 08:35] Yash-Garg commented on #270
Oh okay, great then !

[2019-04-19 04:34] KartSriv opened #271 "Wild swag opportunity appeared: Free Software Foundation Europe"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Free Software Foundation Europe

Q. Where have you seen the announcement (URL)?
A. : devRant

Q. What kind of swag (clothing, stickers, ...)?
A. : Stickers, Booklets, Posters, etc

Q. Have you received swag from this?
A. : Yes

Q. How long did it take?
A. : 2 Weeks

Q. Does i

[2019-04-20 09:10] vantezzen opened #272 "Mullvad Sticker link changed"
## Issue with an existing swag opportunity

- [x] I've checked that this isn't a duplicate issue.

Q. Which opportunity?
A.: Mullvad

The current Mullvad stickers link (https://www.mullvad.net/en/guides/mullvad-stickers-and-merchandise/) doesn't work anymore (404 - Not Found).
Mullvad does however still offer stickers through the process described in their blog article at https://mullvad.net/en/bl

[2019-04-20 09:49] swapagarwal commented on #272
Thanks Bennett for taking the time to report and fix this. 😇

[2019-04-20 09:50] #272 closed

[2019-04-24 10:11] tonyvince commented on #271
Received swag in Germany in 2 days

[2019-04-25 07:04] KartSriv commented on #269
I can confirm this too. Just got three stickers today.

[2019-04-25 07:07] KartSriv commented on #271
@tonyvince cause FSFE is based in Germany. Took two weeks to arrive in India. I actually submitted multiple times and I got two packages. You can try it.

[2019-05-05 06:37] sohailg commented on #176
Is it still available?

[2019-05-05 07:31] sohailg commented on #257
Is it still available?

[2019-05-08 18:08] Stevo99 commented on #175
Hey Im new to contributing.  Would love to help with the project.  What exactly do you need?

[2019-05-09 09:34] tonyvince opened #275 "DigitalOcean Currents Survey 2019"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. :  DigitalOcean

Q. Where have you seen the announcement (URL)?
A. : https://digitalocean.getfeedback.com/r/t382vCPz/

Q. What kind of swag (clothing, stickers, ...)?
A. : Sticker

Q. Have you received swag from this?
A. : Not Yet

Q. How long did it take?
A. : NA

Q. Does it s

[2019-05-09 09:42] swapagarwal commented on #275
Broadcasted this to our 1000+ newsletter subscribers in the morning. 🙂
Seems like this would be short-lived so not adding it to the website.

[2019-05-09 10:31] sidhyatikku commented on #270
@vmr1532 this seems misleading. Imo you should've created a post after 2019 GCI started.

[2019-05-09 11:49] KartSriv commented on #271
@swapagarwal I actually thought you abandoned this repo until I saw your mail today.

[2019-05-09 11:50] KartSriv commented on #275
Thanks, @tonyvince! Just filled the form today.

[2019-05-10 14:57] Yash-Garg commented on #275
Filled it, thanks @tonyvince <3

[2019-05-15 08:04] KartSriv commented on #271
@swapagarwal what's up with not responding to this issue?

[2019-05-23 17:41] TorRydberg opened #277 "Open links in new tab."
- [x] I've checked that this isn't a duplicate issue.

It's easy for users to get lost on sites that redirect when opening links. Would it be ok to add functionality that opens swag opportunities in a new tab? I have a fix ready to go.

[2019-05-23 17:46] swapagarwal commented on #277
Makes sense. Please go ahead!

---- On Thu, 23 May 2019 23:11:23 +0530 notifications@github.com wrote ----

 I've checked that this isn't a duplicate issue.

It's easy for users to get lost on sites that redirect when opening links. Would it be ok to add functionality that opens swag opportunities in a new tab? I have a fix ready to go.

—
You are receiving this because you are subscribed to this

[2019-05-23 17:52] TorRydberg commented on #277
Done and done.

[2019-05-23 18:02] #277 closed

[2019-05-23 18:03] swapagarwal commented on #277
🚀

[2019-05-25 15:02] KartSriv commented on #271
@swapagarwal I lost hope on this repo.

[2019-05-27 10:16] aslafy-z commented on #271
Please don't, sorry for not responding promptly!
We need to add this the list, are you up to open a PR for it?
Thank you!

[2019-05-27 13:37] #269 closed

[2019-05-27 16:50] KartSriv commented on #271
@aslafy-z Okay, I'll create a PR :+1:

[2019-05-27 17:12] aslafy-z commented on #175
Hi @Stevo99, thanks for your interest! The 2018 Code-In edition is over. We'll wait for 2019 edition and see what we can do :wink:
Closing this from now.

[2019-05-27 17:12] #175 closed

[2019-05-27 17:14] aslafy-z commented on #270
Closing this as it's a duplicate of #175

Thanks anyway @vmr1532

[2019-05-27 17:14] #270 closed

[2019-05-27 17:16] aslafy-z commented on #176
I updated the links in OP. It looks that it's still open.

[2019-05-27 18:04] aslafy-z commented on #266
Linked to #215

[2019-05-27 18:10] aslafy-z commented on #253
@co16353sidak

[2019-05-27 19:01] aslafy-z opened #286 "Add navigation bar"
Add a bootstrap navbar which will enable page viewers to maneuver the webpages.
`<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">DevSwag</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="na

[2019-05-27 19:05] #230 closed

[2019-05-27 19:14] #255 closed

[2019-05-27 19:20] aslafy-z commented on #194
@swapagarwal What do you think of that switch? Greenkeeper did its greenkeeper one more time https://github.com/swapagarwal/swag-for-dev/pull/276

[2019-05-30 01:39] KartSriv commented on #271
PR approved.
Waiting for merger.

[2019-05-30 07:23] gatarelib commented on #195
It's no longer available

[2019-05-30 07:48] gatarelib opened #287 "✨ Stackbit Swag ✨"
## Wild swag opportunity appeared!

- [X] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : [Stackbit](http://stackbit.com)

Q. Where have you seen the announcement (URL)?
A. : [Swag Form](https://docs.google.com/forms/d/e/1FAIpQLScbrv5cQlX7xx-W2h66r1FsJp_uZw5OPNby1OUR0WelG_lPXw/viewform?usp=send_form)

Q. What kind of swag (clothing, stickers, ...)?
A. : T-Shirt an

[2019-05-30 08:09] aslafy-z commented on #195
Closing this from now

[2019-05-30 08:09] #195 closed

[2019-05-30 08:43] swapagarwal commented on #287
It'd be great if you could mention the source as well, i.e. where / how did you find it? This is to ensure that the form is legit and not just trying to collect data. 😇

[2019-05-30 08:58] swapagarwal commented on #275
@zac-garby @vikaspotluri123 The form is still open. Should we merge this?

[2019-05-30 09:15] gatarelib commented on #287
I get your concern,
I asked them on twitter, I can send you a screenshot if you like

[2019-05-30 09:17] gatarelib commented on #287
![stackbit](https://user-images.githubusercontent.com/29035759/58622661-ccabce80-82d4-11e9-8d7b-a3255ff31f22.png)

[2019-05-30 09:21] swapagarwal commented on #287
Please remove the bit.ly link.

[2019-05-30 09:24] gatarelib commented on #287
On it

[2019-05-30 09:28] swapagarwal commented on #287
@gatarelib Thanks for taking the time to contribute! ❤️
I just have one last concern, regarding the last item in the issue template: It seems more like a personalized offering, i.e. it's not available to the public. What are your thoughts on this?

[2019-05-30 09:34] gatarelib commented on #287
I thought so too, until I came across this [tweet](https://twitter.com/stackbithq/status/1104094100855259136) from Stackbit

[2019-05-30 09:38] swapagarwal commented on #287
Awesome! 💯

[2019-05-30 10:00] zac-garby commented on #275
I would say so. Not sure how much longer it will be open for.

[2019-05-30 23:50] vikaspotluri123 commented on #275
I don't see any issues 👍

[2019-06-01 08:55] #271 closed

[2019-06-07 19:25] ashannon1990 commented on #286
If this task is still available, I'd like to help with it.

[2019-06-09 00:39] vikaspotluri123 commented on #286
@ashannon1990 go for it!

[2019-06-12 13:03] Ishaan28malik opened #288 "Waffle.io swag"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Waffle.io

Q. Where have you seen the announcement (URL)?
A. : On there Website

Q. What kind of swag (clothing, stickers, ...)?
A. : Stickers

Q. Have you received swag from this?
A. : Yes

Q. How long did it take?
A. : a month

Q. Does it ship worldwide?
A. : Yup

- [x] I'v

[2019-06-12 13:05] Ishaan28malik opened #289 "Jetbrains"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Jetbrains

Q. Where have you seen the announcement (URL)?
A. :
https://surveys.jetbrains.com/s3/Get-your-complimentary-JetBrains-stickers

Q. What kind of swag (clothing, stickers, ...)?
A. : Stickers

Q. Have you received swag from this?
A. : Yes

Q. How long did it take?
A.

[2019-06-12 13:09] Yash-Garg commented on #289
Can u provide the link ?

[2019-06-12 17:50] aslafy-z commented on #288
The website looks to be offline :/

[2019-06-13 01:34] V0lk3n commented on #289
https://surveys.jetbrains.com/s3/Get-your-complimentary-JetBrains-stickers

[2019-06-13 01:35] V0lk3n commented on #289
I've send the request of those stickers right now, let you know if i will receive them :)

[2019-06-13 19:36] Ishaan28malik commented on #289
U will be receiving them as I received them so pls update this to the
website and except the issue .

On Thu, 13 Jun 2019 07:05 Volken, <notifications@github.com> wrote:

[2019-06-15 16:41] Souvik-py opened #290 "Google Cloud Platform Quest Leader 2019"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Google

Q. Where have you seen the announcement (URL)?
A. : http://tiny.cc/qwiklabs-hero

Q. What kind of swag (clothing, stickers, ...)?
A. : Probably Stickers (They haven't mentioned)

Q. Have you received swag from this?
A. : Not Yet

Q. How long did it take?
A. : Not Yet

[2019-06-17 17:13] Ishaan28malik commented on #288
No it's online and received them recently @aslafy-z

[2019-06-17 17:14] Ishaan28malik commented on #288
Yes you are write @aslafy-z it's being taken over now , so don't know the updates

[2019-06-17 17:14] #288 closed

[2019-06-18 16:31] zeeshanofficial commented on #275
Looks like it's closed. 🚪

[2019-06-18 17:10] #275 closed

[2019-06-20 14:33] aayushbisen commented on #287
Hey @swapagarwal should we merge this?

[2019-06-20 14:52] swapagarwal commented on #287
Have you received this swag?

---- On Thu, 20 Jun 2019 20:03:43 +0530 notifications@github.com wrote ----

Hey @swapagarwal should we merge this?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-06-20 14:54] aayushbisen commented on #287
No.

[2019-06-21 05:05] swapagarwal commented on #287
@aayushbisen Let's wait for someone to confirm they received it.
@gatarelib Have you received this swag? 😇

[2019-06-21 05:14] gatarelib commented on #287
Not yet, will update you when I do so

[2019-06-21 06:36] shanirub commented on #287
Hi there,
I've received two letters with stickers, but sadly no shirts.

[2019-06-21 07:08] gatarelib commented on #287
Thx for the info
Tees are not assured due to shipping fees

[2019-06-21 19:09] Anant016 commented on #290
I think this is fake since the form is not collecting any of our info- such as mail id, address or even phone no.

[2019-06-22 20:19] swapagarwal commented on #290
Closing this as swag items aren't mentioned. 🙁

[2019-06-22 20:19] #290 closed

[2019-06-23 02:30] Souvik-py commented on #290
You'll receive exclusive GCP goodies straightaway from Google..

[2019-06-24 17:10] Anant016 commented on #290
I completed more than what mentioned there, submit google form, but didn't receive any acknowledgment message nor any response

[2019-06-24 17:40] Souvik-py commented on #290
Wait till 30th of this month.. they will roll out the further details after deadline..

[2019-06-25 15:41] Souvik-py opened #291 "Puzzelfry"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Puzzelfry

Q. Where have you seen the announcement (URL)?
A. : https://puzzlefry.com/hextris-brain-game/

Q. What kind of swag (clothing, stickers, ...)?
A. : T-shirt

Q. Have you received swag from this?
A. : Yes

Q. How long did it take?
A. : According to them It'll take 6

[2019-07-02 17:05] #291 closed

[2019-07-02 18:11] wulforr commented on #287
The form is no longer available

[2019-07-02 19:57] #287 closed

[2019-07-02 19:58] aslafy-z commented on #287
Thanks for reporting @wulforr. Thanks for the opportunity @gatarelib!

[2019-07-03 11:18] Souvik-py commented on #290
Hi @Anant016 , hope you got your mail to redeem the swag..

[2019-07-06 09:58] Hardik500 commented on #286
Is this still open?

[2019-07-06 15:23] vikaspotluri123 commented on #286
@Hardik500 I'm going to give @ashannon1990 a few days before opening the opportunity to you 😄

[2019-07-07 10:02] V0lk3n commented on #289
Didnt receive it yet so...

[2019-07-07 11:43] aslafy-z commented on #289
I opened a PR implementing this swag offer. Do not hesitate to propose change if needed.

[2019-07-07 20:57] #289 closed

[2019-07-07 20:58] aslafy-z commented on #289
It's live now at https://devswag.io

[2019-07-08 14:48] ashannon1990 commented on #286
@vikaspotluri123 you can open it for @Hardik500, I am currently working on my final project for school, so I need to focus my time on that.

[2019-07-11 14:20] Souvik-py opened #295 "30 Days on Google Cloud Platform"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Google

Q. Where have you seen the announcement (URL)?
A. : https://twitter.com/GoogleDevsIN/status/1146678521630081024

Q. What kind of swag (clothing, stickers, ...)?
A. : T-shirt

Q. Have you received swag from this?
A. : No

Q. How long did it take?
A. : NA

Q. Does it sh

[2019-07-11 15:28] jordanmcdougall commented on #179
Confirmed shipping to UK.

[2019-07-16 19:50] gonpeche commented on #286
hi! is this feature being develop by @Hardik500 ? If not, I would be happy to assist.

[2019-07-23 01:28] thethomasz commented on #253
@aslafy-z I think I've got a working solution to this issue. Is it okay for me to write a PR for it? If so, are there any conventions I should follow on branch naming or PR format?

[2019-07-23 02:15] vikaspotluri123 commented on #253
@thethomasz feel free to PR, I've assigned you to the issue 😄 We don't have any specifics you need to follow 👍

[2019-07-23 02:25] thethomasz commented on #253
Awesome, thanks @vikaspotluri123!

[2019-07-23 02:26] thethomasz commented on #253
#296

[2019-07-27 12:17] #253 closed

[2019-07-27 16:05] robotshateme commented on #287
Hmm still haven't received.

[2019-07-29 14:58] vikaspotluri123 opened #297 "Add autoprefixer to build system"
As part of this, we also need to remove prefixed code

_Originally posted by @aslafy-z in https://github.com/swapagarwal/swag-for-dev/pull/264_

[2019-07-29 15:03] plibither8 commented on #297
Fairly simple, we can use one of the two ways: PostCSS or a direct autoprefixing module. If we use PostCSS, we can use other plugins to optimise CSS output and ease development.

[2019-07-31 13:35] #295 closed

[2019-08-04 10:58] Rensykes commented on #266
Hello, I would like to try to help if this is open

[2019-08-04 15:36] vikaspotluri123 commented on #266
@Rensykes go for it!

[2019-08-05 10:01] roshanadh opened #298 "Remove Mullvad swag opportunity"
## Issue with an existing swag opportunity

- [x] I've checked that this isn't a duplicate issue.

Q. Which opportunity?
A. :  Mullvad

Mullvad does not send out stickers anymore. They will mail you back informing that they only handout stickers at conferences or other events

[2019-08-20 19:20] PoorPocketsMcNewHold opened #300 "IPFS Swag package."
## Wild swag opportunity appeared! :o

- [✔️] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : IPFS

Q. Where have you seen the announcement (URL)?
A. : https://github.com/ipfs/community/#swag

Q. What kind of swag (clothing, stickers, ...)?
A. : I´ve received a T-shirt with the IPFS logo, and 50 IPFS logo stickers.

Q. Have you received swag from this?
A. : Yes.

[2019-08-22 15:11] wale-bant commented on #286
Hi, i'd like to implement this feature if it's still up for grabs. Thanks.

[2019-08-22 15:16] Hardik500 commented on #286
Yeah sure go for it.

[2019-08-23 04:19] Soundug commented on #300
@PoorPocketsMcNewHold The swag is a sticker as mentioned in the Readme, how did you manage to get a t-shirt?

[2019-08-24 08:51] PoorPocketsMcNewHold commented on #300
![BURST20190824102618103](https://user-images.githubusercontent.com/13170204/63634719-9a530880-c65a-11e9-9937-05a70564d1e8.jpg)
Well as you can see, I’ve did get one with that set of Stickers.
Our conversation went a bit like this:

Despite i’m a user of IPFS myself, I’m not a dev who has used this technology (You can check this, by looking to my profile), so I was indeed surprised (But extremely

[2019-08-26 12:54] #297 closed

[2019-08-28 07:48] lucasqueiroz opened #302 "Remove Twilio opportunity"
## Remove Twilio opportunity

- [x] I've checked that this isn't a duplicate issue.

Q. Which opportunity?
A. : Twilio

As [this page](https://twilioquest.typeform.com/to/QmjGjr) describes, Twilio is not sending a T-Shirt for Twilio Quest anymore.

[2019-08-29 14:09] #302 closed

[2019-08-30 10:39] shanirub opened #304 "DigitalOcean Currents Survey Open Source 2019"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : DigitalOcean

Q. Where have you seen the announcement (URL)?
A. : https://digitalocean.getfeedback.com/r/p44ADlqG/

Q. What kind of swag (clothing, stickers, ...)?
A. : a sticker ("a limited edition open source "Sammy Shark" sticker!")

Q. Have you received swag from this?
A.

[2019-08-30 11:56] Pradyumn-S commented on #286
Is it still open? I'd like to implement it.

[2019-08-31 02:57] vikaspotluri123 commented on #286
@wale-bant are you currently working on this? If not, I'll assign @Pradyumn-S 😄

[2019-09-01 12:40] aslafy-z commented on #194
Hello @swapagarwal. Can you get an eye on it?

[2019-09-01 17:21] swapagarwal commented on #194
Let's switch to Renovate. Greenkeeper is a pain anyway.

[2019-09-07 19:32] imarchit19 commented on #298
Yes, they reply, they are not sending out stickers anymore. They currently only hand out stickers at conferences and other events where they attend.

[2019-09-18 15:42] santiblanko commented on #298
sexo anall que rico

[2019-09-25 18:14] GuyKh opened #307 "DigitalOcean Hacktoberfest 2019 opportunity"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : DigitalOceal

Q. Where have you seen the announcement (URL)?
A. : https://hacktoberfest.digitalocean.com/

Q. What kind of swag (clothing, stickers, ...)?
A. : Clothing

Q. Have you received swag from this?
A. : no

Q. How long did it take?
A. : --

Q. Does it ship worldwide?

[2019-09-25 19:03] ZAfricanDev opened #308 "Remove JetBrains opportunity"
## Issue with an existing swag opportunity

- [ X] I've checked that this isn't a duplicate issue.

Q. Which opportunity?
A. : Jetbrains

Jetbrains Swag no longer offered, they will be updating their swag offerings according to their site.
<img width="1195" alt="Screen Shot 2019-09-25 at 9 02 33 PM" src="https://user-images.githubusercontent.com/55801467/65631459-dd94f400-dfd7-11e9-8770-2cc556d0e5

[2019-09-26 09:33] alistairholmes opened #310 "Hacktoberfest 2019 CircleCI swag"
## Circle CI Swag!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Circle CI

Q. Where have you seen the announcement (URL)?
A. : https://circleci-public.github.io/hacktoberfest/?mkt_tok=eyJpIjoiT1RSbE5qZGhNRGMwTVRSaSIsInQiOiJKQW9cL0d1eUxaTTdkTTZCK0hxUDlIZGs3dklGXC9La2E5R3FxS0dwWnREcmZXcGVxZ05DOThTMUtSNFlXdXhPK0tBNXhZNXhNcEsyYUtjSVVZTFhWRm9JY2M0NHpxbU9cL1d5

[2019-09-27 13:29] crweiner commented on #271
It seems like the FSFE doesn't really want to be listed here. Clicking the link from devswag.io as a refer redirects you to here: https://fsfe.org/contribute/spreadtheword-freebie.html

[2019-09-28 13:19] swapagarwal commented on #12
Closing as it's no longer a Markdown list.

[2019-09-28 13:19] #12 closed

[2019-09-28 13:47] swapagarwal commented on #307
Merged in #306

[2019-09-28 13:47] #307 closed

[2019-09-28 13:49] swapagarwal commented on #308
Thanks for notifying! Updated.

[2019-09-28 13:49] #308 closed

[2019-09-28 13:51] swapagarwal commented on #310
Awesome! Can you submit a PR?

[2019-09-28 15:23] alistairholmes commented on #310
Sure will do :wink:

[2019-09-28 16:30] swapagarwal commented on #79
Closed in #228

[2019-09-28 16:30] #79 closed

[2019-09-28 16:31] vikaspotluri123 commented on #79
Did we want to add visual testing?

[2019-09-28 16:32] vikaspotluri123 commented on #298
closed in #228, thanks!

[2019-09-28 16:32] #298 closed

[2019-09-28 16:33] swapagarwal commented on #79
It's probably over-engineering at this point. 😅
The most active time is October only, and the rest of the year is pretty much unhappening (as we saw last year!).

[2019-09-29 14:10] aslafy-z commented on #300
Thanks @PoorPocketsMcNewHold. Could you please open a PR for it? Thanks!

[2019-09-29 14:28] swapagarwal commented on #271
@crweiner Thanks for notifying! I've removed it in https://github.com/swapagarwal/swag-for-dev/commit/a66c6cacfb3a51b6f026f973cd7c61a9f0471c77.

[2019-09-29 14:33] aslafy-z opened #314 "Hacktoberfest 2019: Hasura"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Hasura

Q. Where have you seen the announcement (URL)?
A. : https://blog.hasura.io/hasura-joins-hacktoberfest-2019/

Q. What kind of swag (clothing, stickers, ...)?
A. : clothing, stickers

Q. Have you received swag from this?
A. : no

Q. How long did it take?
A. : N/A

Q. Do

[2019-09-29 14:34] aslafy-z opened #315 "Hacktoberfest 2019: Operation Code"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Operation Code

Q. Where have you seen the announcement (URL)?
A. : https://github.com/OperationCode/START_HERE

Q. What kind of swag (clothing, stickers, ...)?
A. : clothing, stickers

Q. Have you received swag from this?
A. : no

Q. How long did it take?
A. : N/A

Q. Does i

[2019-09-29 14:37] aslafy-z opened #316 "Hacktoberfest 2019: Accord Project"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Accord Project

Q. Where have you seen the announcement (URL)?
A. : https://www.accordproject.org/events/hacktoberfest-2019/

Q. What kind of swag (clothing, stickers, ...)?
A. : stickers, clothing

Q. Have you received swag from this?
A. : no

Q. How long did it take?
A. : N

[2019-09-29 14:38] aslafy-z opened #317 "Hacktoberfest 2019: Uno"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Uno

Q. Where have you seen the announcement (URL)?
A. : https://platform.uno/uno-is-joining-hacktoberfest-2019/

Q. What kind of swag (clothing, stickers, ...)?
A. : clothing, non-disclosed

Q. Have you received swag from this?
A. : no

Q. How long did it take?
A. : N/A

Q.

[2019-09-29 14:41] aslafy-z opened #318 "Hacktoberfest 2019: MayaData (OpenEBS & Litmus)"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : MayaData

Q. Where have you seen the announcement (URL)?
A. : https://twitter.com/mayadata_inc/status/1177725829138305029

Q. What kind of swag (clothing, stickers, ...)?
A. : TBD

Q. Have you received swag from this?
A. : no

Q. How long did it take?
A. : N/A

Q. Does it shi

[2019-09-29 14:45] aslafy-z opened #319 "Hacktoberfest 2019: Appwrite"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Appwrite

Q. Where have you seen the announcement (URL)?
A. : https://medium.com/appwrite-io/hacktoberfest-2019-is-almost-here-lets-celebrate-it-together-24b311236dd

Q. What kind of swag (clothing, stickers, ...)?
A. : stickers, badges

Q. Have you received swag from this?
A

[2019-09-29 14:53] aslafy-z opened #320 "Hacktoberfest 2019: Umbraco"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Umbraco

Q. Where have you seen the announcement (URL)?
A. : https://umbraco.com/blog/hacktoberfest-2019/

Q. What kind of swag (clothing, stickers, ...)?
A. : TBD

Q. Have you received swag from this?
A. : no

Q. How long did it take?
A. : N/A

Q. Does it ship worldwide?
A.

[2019-09-29 15:00] aslafy-z opened #321 "Hacktoberfest 2019: Kong"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Kong

Q. Where have you seen the announcement (URL)?
A. : https://twitter.com/thekonginc/status/1172269515884912640

Q. What kind of swag (clothing, stickers, ...)?
A. : TBD

Q. Have you received swag from this?
A. : no

Q. How long did it take?
A. : N/A

Q. Does it ship worl

[2019-09-29 15:03] aslafy-z opened #322 "Hacktoberfest 2019: LBRYio"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : LBRYio

Q. Where have you seen the announcement (URL)?
A. : https://lbry.com/news/hacktoberfest-2019

Q. What kind of swag (clothing, stickers, ...)?
A. : clothing

Q. Have you received swag from this?
A. : no

Q. How long did it take?
A. : N/A

Q. Does it ship worldwide?
A.

[2019-09-29 15:14] #176 closed

[2019-09-29 15:14] aslafy-z commented on #176
Closing as it's not dev swag.

[2019-09-29 15:18] aslafy-z commented on #207
Here is Google help details: https://support.google.com/analytics/answer/1033863?hl=en#parameters

[2019-09-30 02:15] krishnakakade1999 opened #324 "Digitalocean survey to get stickers"
## Wild swag opportunity appeared!

- [ ] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : digitalocean

Q. Where have you seen the announcement (URL)?
A. : https://digitalocean.getfeedback.com/r/p44ADlqG/

Q. What kind of swag (clothing, stickers, ...)?
A. : stickers smmay shark sticker

Q. Have you received swag from this?
A. : i applied today

Q. How long did it

[2019-09-30 02:17] vikaspotluri123 commented on #324
Closing as a duplicate of #304 😄 Thanks!

[2019-09-30 02:17] #324 closed

[2019-09-30 15:27] crashoverloaded opened #326 "Hacktoberfest 2019 : Parity"
## Wild swag opportunity appeared!

- [ Yes ] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Parity Technologies

Q. Where have you seen the announcement (URL)?
A. : https://www.parity.io/hacktoberfest-2019-parity/

Q. What kind of swag (clothing, stickers, ...)?
A. : Limited edition gym bag

Q. Have you received swag from this?
A. : No

Q. How long did it take?

[2019-10-01 02:05] harishkotra commented on #266
Since there was no significant update or PR for this, I went ahead and made a PR #328

[2019-10-01 07:04] MasterKN48 commented on #320
I want to take this issue.

[2019-10-01 08:35] fzs1994 opened #329 "BlockStack Swag"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : BlockStack

Q. Where have you seen the announcement (URL)?
A. : https://community.blockstack.org/stickers

Q. What kind of swag (clothing, stickers, ...)?
A. : Stickers

Q. Have you received swag from this?
A. : Not yet, but it's shipped. I got tracking id from them.

Q. How

[2019-10-01 08:55] bamanczak opened #330 "Google Assistant Swag is paused"
## Issue with an existing swag opportunity

- [x] I've checked that this isn't a duplicate issue.

Q. Which opportunity?
A. : Google Assistant

As the page linked with the swag describes:

![image](https://user-images.githubusercontent.com/8224947/65948064-cde33880-e439-11e9-873d-c9d15e98f79e.png)

[2019-10-01 09:48] aslafy-z opened #333 "Setup metadata tags (OpenGraph)"
## Issue regarding the website

- [x] I've checked that this isn't a duplicate issue.

Currently the website doesn't have any Sharing tags (OpenGraph, Twitter...)
When I share it, it shows the 7PHP logo every time which is not pretty.

We should add some metadata tags with an image in order to have a clean share preview.

Tools:
https://metatags.io/
https://htmlhead.dev/

[2019-10-01 10:02] #300 closed

[2019-10-01 10:05] aslafy-z opened #334 "Add alphabetical check to the CI tests"
_Originally posted by @swapagarwal in https://github.com/swapagarwal/swag-for-dev/pull/331#discussion_r329973678_

[2019-10-01 13:20] vikaspotluri123 commented on #334
@aslafy-z could you update the ref? 😉

[2019-10-01 14:02] ritesh-pandey commented on #286
Is the issue still open? @wale-bant hasn't replied. I'd like to take it up.

[2019-10-01 14:03] vikaspotluri123 commented on #286
Go for it @ritesh-pandey

[2019-10-01 14:18] aslafy-z opened #337 "Website: Change the text header"
## Issue regarding the website

Change the text headers to match the new "directives".

(All of them ship worldwide!)

[2019-10-01 14:41] swapagarwal opened #338 "Website: Change default sorting to newest first"
## Issue regarding the website

- [x] I've checked that this isn't a duplicate issue.

Let's change the default sorting from alphabetical to newest first so that new opportunities are easily discoverable. 🙂

[2019-10-01 15:27] aslafy-z opened #340 "Change 404ing links to webarchive"
Instead of using the Google Search cache, we should use the web.archive.org project at http://web.archive.org/

[2019-10-01 17:41] greenkeeper[bot] opened #344 "An in-range update of cross-env is breaking the build 🚨"
## The devDependency [cross-env](https://github.com/kentcdodds/cross-env) was updated from `6.0.0` to `6.0.1`.

🚨 [View failing branch](https://github.com/swapagarwal/swag-for-dev/compare/master...swapagarwal:greenkeeper%2Fcross-env-6.0.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

cross-env is a devDependency of thi

[2019-10-01 20:34] duydosomething commented on #320
Submitted #346 :)

[2019-10-01 21:43] #344 closed

[2019-10-02 00:23] sarscode commented on #333
Hello, @swapagarwal may I fix this?

[2019-10-02 02:24] vikaspotluri123 commented on #333
@sarscode go for it!

[2019-10-02 07:28] GuyKh commented on #318
It's `MyData.io`
Opened a PR: #348

[2019-10-02 08:25] versavale commented on #338
Can I try this?

[2019-10-02 12:23] aslafy-z commented on #194
@swapagarwal Can you install the Renovate app on the repo and delete the Greenkeeper one? Thanks!

[2019-10-02 14:01] maybebored commented on #337
Hi what do you mean by text headers? I feel a screenshot would help.

[2019-10-02 14:16] Yash-Garg commented on #337
![Capture](https://user-images.githubusercontent.com/33605526/66051856-38d16400-e54d-11e9-9449-32cc5ee1ba2d.PNG)

He means to change the last line in this screenshot i.e **All of them ship worldwide!**

[2019-10-02 14:48] sarscode commented on #333
Thanks, @vikaspotluri123 I have submitted a PR.

[2019-10-02 15:01] #330 closed

[2019-10-02 16:34] greenkeeper[bot] opened #353 "An in-range update of cross-env is breaking the build 🚨"
## The devDependency [cross-env](https://github.com/kentcdodds/cross-env) was updated from `6.0.2` to `6.0.3`.

🚨 [View failing branch](https://github.com/swapagarwal/swag-for-dev/compare/master...swapagarwal:greenkeeper%2Fcross-env-6.0.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

cross-env is a devDependency of thi

[2019-10-02 17:21] swapagarwal commented on #337
Which ones do not?

[2019-10-02 17:22] Yash-Garg commented on #337
Codeship doesn't xD

[2019-10-02 17:38] swapagarwal commented on #337
Yes, and that's why we have mentioned that in the description.

[2019-10-02 17:39] Yash-Garg commented on #337
Yeah, i know. Blame @aslafy-z for issue xP

[2019-10-02 18:09] swapagarwal commented on #194
Done.

[2019-10-02 19:04] rchavarria commented on #314
Hi! I'll take this one. I'll update last year Hasura's entry.

[2019-10-02 19:08] crweiner commented on #320
Umbraco has asked not to be on these swag lists, see [here](https://github.com/crweiner/hacktoberfest-swag-list/issues/44#issuecomment-535131859) for links to tweets from some of the devs who don't like what we do....

[2019-10-02 19:41] #353 closed

[2019-10-03 05:43] NaveenDA opened #357 "Add ngx-bootstrap/Valor Software Hacktoberfest 2019 swag"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Valor software

Q. Where have you seen the announcement (URL)?
A. : https://valor-software.com/articles/hacktoberfest-2019-is-coming-and-ngx-bootstrap-strives-for-your-attention.html

Q. What kind of swag (clothing, stickers, ...)?
A.: sticker, pen, notebook, phone stand

Q.

[2019-10-03 14:33] gpjacobs opened #360 "Squashtoberfest 2019 (Magento / Adobe)"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Magento / Adobe

Q. Where have you seen the announcement (URL)?
A. : https://opensource.adobe.com/squashtoberfest/

Q. What kind of swag (clothing, stickers, ...)?
A. : clothing

Q. Have you received swag from this?
A. : no

Q. How long did it take?
A. : N/A

Q. Does it ship

[2019-10-03 20:01] swapagarwal commented on #340
Or we can just skip checking the items tagged as expired.

Originally posted by @Glennmen in https://github.com/swapagarwal/swag-for-dev/pull/362#issuecomment-538082559

[2019-10-03 20:04] Glennmen commented on #340
I noticed you are already using cloudfront for image caching so that shouldn't be an issue, only issue would be that `Check it out` will link to an non existing page but then again this isn't abnormal for expired events.

[2019-10-04 00:09] vikaspotluri123 commented on #340
FWIW _we_ don't use cloudfront, our host (Netlify) does this for us. This does bring up an interesting question - should we add the downloaded assets to the build cache, so we only need to download new ones 🤔

[2019-10-04 06:11] itnug987 commented on #338
@swapagarwal Can I work on this issue?

[2019-10-04 07:10] Glennmen commented on #340
@vikaspotluri123 Good point, not sure about the build/deploy fase. But is it okay to skip expired events in the testing fase?

[2019-10-04 13:30] vikaspotluri123 commented on #340
I'm waiting for @swapagarwal to get back to me - we discussed it when working on #228 and ultimately decided against it

[2019-10-04 13:31] vikaspotluri123 commented on #338
@itnug987 #343 is already in progress

[2019-10-04 13:32] aslafy-z opened #363 "Hacktoberfest 2019: Devfolio"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Devfolio

Q. Where have you seen the announcement (URL)?
A. : https://devfolio.co/blog/hacktoberfest-2019-devfolio/

Q. What kind of swag (clothing, stickers, ...)?
A. : clothing, stickers

Q. Have you received swag from this?
A. : no

Q. How long did it take?
A. : N/A

Q. Do

[2019-10-04 14:09] aslafy-z opened #364 "Hacktoberfest 2019: JabRef"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : JabRef

Q. Where have you seen the announcement (URL)?
A. : https://www.jabref.org/hacktoberfest/2019.html

Q. What kind of swag (clothing, stickers, ...)?
A. : clothing, stickers

Q. Have you received swag from this?
A. : no

Q. How long did it take?
A. : N/A

Q. Does it shi

[2019-10-04 14:10] aslafy-z commented on #322
Updated with the official article!

[2019-10-04 14:17] #338 closed

[2019-10-04 15:20] #320 closed

[2019-10-04 15:40] #316 closed

[2019-10-04 15:44] aslafy-z commented on #329
Closed as per https://github.com/swapagarwal/swag-for-dev/pull/335#issuecomment-538419706

[2019-10-04 15:44] #329 closed

[2019-10-04 15:45] vikaspotluri123 opened #366 "Reduce website loading jank"
With #343, we updated the default sort order of the swag - from alphabetical to newest first. We didn't update the order that the swag is listed at build time. This leads to jank:

![jank](https://user-images.githubusercontent.com/4383564/66220890-7f30db00-e693-11e9-8904-3e4404be1e30.gif)

The solution to this is to update the `get-data` script we use to return the swag list, sorted by date.

http

[2019-10-04 15:46] aslafy-z opened #367 "Hacktoberfest 2019: Sense/Net"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Sense/Net

Q. Where have you seen the announcement (URL)?
A. : https://community.sensenet.com/blog/2019/10/01/hacktoberfest-is-here

Q. What kind of swag (clothing, stickers, ...)?
A. : clothing

Q. Have you received swag from this?
A. : no

Q. How long did it take?
A. : N/A

[2019-10-04 15:47] aslafy-z opened #368 "Hacktoberfest 2019: QMK"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : QMK

Q. Where have you seen the announcement (URL)?
A. : https://hacktoberfest.qmk.fm/

Q. What kind of swag (clothing, stickers, ...)?
A. : clothing

Q. Have you received swag from this?
A. : no

Q. How long did it take?
A. : N/A

Q. Does it ship worldwide?
A. : Dunno

- [x]

[2019-10-04 16:15] #357 closed

[2019-10-04 16:29] aslafy-z opened #369 "Hacktoberfest 2019: LadyBug"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : LadyBug

Q. Where have you seen the announcement (URL)?
A. : https://discourse.ladybug.tools/t/celebrate-hacktoberfest-2019-with-ladybug-tools/7314

Q. What kind of swag (clothing, stickers, ...)?
A. : stickers

- [x] I've checked that the promotion is legit.
- [x] I've check

[2019-10-04 16:31] aslafy-z opened #371 "Hacktoberfest 2019: SAP"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : SAP

Q. Where have you seen the announcement (URL)?
A. : https://blogs.sap.com/2019/10/04/lets-code-share-and-learn.-calling-abapers-to-next-edition-of-hacktoberfest/

Q. What kind of swag (clothing, stickers, ...)?
A. : accessories

- [x] I've checked that the promotion is l

[2019-10-04 16:34] swapagarwal commented on #101
Changed default sorting to show new items first.

[2019-10-04 16:34] #101 closed

[2019-10-04 16:37] swapagarwal commented on #304
This survey has ended.

[2019-10-04 16:37] #304 closed

[2019-10-04 16:38] swapagarwal commented on #310
Added!

[2019-10-04 16:38] #310 closed

[2019-10-04 16:39] swapagarwal commented on #340
As discussed, we shall be removing the entries containing 404ing links from data.json

[2019-10-04 16:39] #340 closed

[2019-10-04 18:03] Akashd7 opened #372 "Hacktoberfest 2019: Adobe"
## Wild swag opportunity appeared!

- [✔ ] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Adobe

Q. Where have you seen the announcement (URL)?
A. :https://community.magento.com/t5/Magento-DevBlog/Squashtoberfest-2019/ba-p/143694

Q. What kind of swag (clothing, stickers, ...)?
A. : Stickers & T-Shirt

Q. Have you received swag from this?
A. : Yes

Q. Does it shi

[2019-10-04 18:03] Akashd7 commented on #372
Create five PRs on either Adobe or Magento repositories during the month of October. Adobe team will file an issue in November in this repo listing out qualifiying contributors’ handles in the file with further instructions to get the swags.

[2019-10-04 18:11] Akashd7 opened #373 "Hacktoberfest 2019: Python Discord"
## Wild swag opportunity appeared!

- [✔ ] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Python Discord

Q. Where have you seen the announcement (URL)?
A. : https://www.reddit.com/r/Python/comments/dbj0vh/python_discord_hacktoberfest_2019/

Q. What kind of swag (clothing, stickers, ...)?
A. : Tshirt or 1 Year JetBrains License

Q. Have you received swag from thi

[2019-10-04 19:36] ayoola-solomon commented on #317
@aslafy-z do you mind if I work on this?

[2019-10-04 20:01] vikaspotluri123 commented on #317
@ayoola-solomon I've assigned you to this, thanks!

[2019-10-04 20:02] vikaspotluri123 commented on #372
Closing as a duplicate of #360 😄

[2019-10-04 20:02] #372 closed

[2019-10-05 01:49] aslafy-z opened #375 "Update Gulp configuration to use Browserlist configuration for Autoprefixer"
[code]

see: https://app.netlify.com/sites/peaceful-chandrasekhar-efde8e/deploys/5d97f6112a9869000891008f

[2019-10-05 09:51] swapagarwal opened #385 "Run tests faster"
- [x] I've checked that this isn't a duplicate issue.

Right now, it takes around 2-3 minutes to run all the tests. Brainstorm on how can we achieve the same in seconds.

[2019-10-05 11:51] skokalin commented on #375
Hi. Can I take this?

[2019-10-05 12:46] sarscode opened #387 "Update README other NPM scripts"
- [ ] I've checked that this isn't a duplicate issue.

Update the README to include other scripts like `build` and `test`.
For example, the `test` script should be run to test code. If this is explicitly stated in the DOCs, it will help prevent contributors from submitting PRs with lots of failing tests.

[2019-10-05 17:32] FarhiaM commented on #387
Hi, I would like to work on this 😊

[2019-10-05 17:51] vikaspotluri123 commented on #387
I think this will be covered in #76 /cc @aslafy-z

[2019-10-05 22:43] #337 closed

[2019-10-05 23:48] aslafy-z opened #393 "Difficulty label gets distorted with long titles"
## Issue regarding the website

- [x] I've checked that this isn't a duplicate issue.

Difficulty indicator gets distorted on mobile with long titles :

![Screenshot_20191006_014007_com android chrome](https://user-images.githubusercontent.com/8191198/66262144-51ef4480-e7db-11e9-8b7a-6d0e5689b9ba.jpg)

Chime on Android

[2019-10-06 00:48] mpaarating commented on #393
I'll start working on this.

[2019-10-06 03:35] vikaspotluri123 commented on #194
Closing, renovate has been set up and is working. We will probably update the configuration to auto-merge if CI passes without a PR in the future

[2019-10-06 03:35] #194 closed

[2019-10-06 03:37] vikaspotluri123 commented on #373
Closing as per @swapagarwal's comment in the corresponding PR

[2019-10-06 03:37] #373 closed

[2019-10-06 20:12] Prabhman opened #396 "Alexa New Swag Opportunity"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Amazon Alexa Developers

Q. Where have you seen the announcement (URL)?
A. : https://developer.amazon.com/en-IN/alexa/alexa-skills-kit/alexa-developer-skill-promotion

Q. What kind of swag (clothing, stickers, ...)?
A. : Clothing

Q. Have you received swag from this?
A. : no

[2019-10-07 15:13] maybebored commented on #227
Hi do take a look at the Pull Request and let me know what else you'd like to add.

[2019-10-07 19:45] CoderJolly commented on #371
What is this issue about, can @aslafy-z pls explain it ?

[2019-10-08 19:22] r4zorgeek commented on #366
@vikaspotluri123 Hey I am new to open source. Can I take this issue?

[2019-10-08 19:37] vikaspotluri123 commented on #366
@r4zorgeek someone has already opened a PR for this. If they don't respond in the next day or so, I'll let you know that you can work on it

[2019-10-08 19:38] r4zorgeek commented on #366
@vikaspotluri123 Thank You.

[2019-10-08 19:56] danimart1991 opened #402 "Add Xamarin Hacktoberfest 2019"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Xamarin

Q. Where have you seen the announcement (URL)?
A. : https://devblogs.microsoft.com/xamarin/hacktoberfest-2019-xamarin-edition/

Q. What kind of swag (clothing, stickers, ...)?
A. : clothing, stickers, trophy

Q. Have you received swag from this?
A. : no

Q. How long

[2019-10-08 23:24] #319 closed

[2019-10-09 00:16] aslafy-z opened #405 "Don't test dataset if it haven't changed"
- [x] I've checked that this isn't a duplicate issue.

It might be good idea to avoid technical PRs being blocked by broken swag ones that need to be rebased.

Get a list of the files that changed in current branch since the base branch split:

[code]

[2019-10-09 00:19] aslafy-z opened #406 "Hacktoberfest 2019: Aqua"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Aqua

Q. Where have you seen the announcement (URL)?
A. : https://blog.aquasec.com/aqua-open-source-security-hacktoberfest

Q. What kind of swag (clothing, stickers, ...)?
A. : clothing, stickers, books

- [x] I've checked that the promotion is legit.
- [x] I've checked that

[2019-10-09 01:14] vikaspotluri123 commented on #314
closed in #356

[2019-10-09 01:14] #314 closed

[2019-10-09 01:15] #318 closed

[2019-10-09 01:16] #367 closed

[2019-10-09 01:18] #317 closed

[2019-10-09 01:21] vikaspotluri123 commented on #405
I thought part of the reason for testing them was to make sure they're still active?

[2019-10-09 10:33] anhek opened #407 "Home Page Redesign"
- [X] I've checked that this isn't a duplicate issue.

Hello,
I'm doing the #hacktoberfest and I'd like to propose a visual redesign for the home page.

In my opinion the website right now is a bit bland, I'd like to add more swag to the landing page, to give it a fresh and clean style. I'm planning to leave the html structure untouched as much as possible.

I'll fork the repo and work on the rede

[2019-10-09 10:34] swapagarwal commented on #407
Hi @anhek! It'll be great if you could post a sketch / mock of the redesign here to get feedback from the community. 😇

[2019-10-09 10:35] anhek commented on #407
Alright I'll do that :)

[2019-10-09 12:42] maybebored commented on #406
Working on this :)

[2019-10-09 14:12] mpaarating commented on #369
I can work on this

[2019-10-09 14:57] maybebored commented on #385
I'm not sure what you mean by run all the tests. I saw one test file. Examining the code in `data.spec.js` it seems we are checking for a 200 response for:
1. reference url of swag event
2. image url of swag event

_Personally I think checking for the validity of the image url is redundant, we could always render something fallback if the image could not be loaded._

However to tackle the issue I

[2019-10-09 15:03] vikaspotluri123 commented on #385
What @swapagarwal means is these tests can be parallelized. For example, sites go down at times, so we have to wait 6.5s before the test fails. During those 6.5s, none of the other tests can run.

What we'd like to do is run multiple tests at once, e.g. test 3 opportunities at the same time. That way, if one of the links fails, we'll still have 2 runners pushing forward.

2-3 minutes is considered

[2019-10-09 17:22] aslafy-z opened #411 "Hacktoberfest 2019: CodingBlocks"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : CodingBlocks

Q. Where have you seen the announcement (URL)?
A. : https://blog.codingblocks.com/2019/cb-hacktoberfest-2019/

Q. What kind of swag (clothing, stickers, ...)?
A. : clothing, bag

- [x] I've checked that the promotion is legit.
- [x] I've checked that it's still

[2019-10-09 17:34] aslafy-z commented on #387
Might be covered by https://github.com/swapagarwal/swag-for-dev/pull/398 also. I think we have to sync on that point. Maybe wait for it to be merged and then I'll complete it.

[2019-10-09 17:38] #402 closed

[2019-10-09 17:48] aslafy-z commented on #92
Let's bump that one. There are still some points to PR.

[2019-10-09 17:49] aslafy-z commented on #407
Related: https://github.com/swapagarwal/swag-for-dev/issues/92 https://github.com/swapagarwal/swag-for-dev/issues/108

[2019-10-09 17:49] aslafy-z commented on #108
Related to https://github.com/swapagarwal/swag-for-dev/issues/407

[2019-10-09 17:49] aslafy-z commented on #92
Related to https://github.com/swapagarwal/swag-for-dev/issues/407

[2019-10-09 17:57] aslafy-z opened #412 "Issue with swag image links style"
## Issue regarding the website

- [x] I've checked that this isn't a duplicate issue.

Following #336, the UI behavior changed. swag images are now underlined as other links when not hovered. When they are, hovered, the line goes away for both the image link and the text link (`Check it out`). Also, it reacts to the card hovering, not the links.

![2019-10-09 19_57_52-Window](https://user-images.g

[2019-10-09 18:17] driver-by commented on #411
I'd like to contribute. Will add soon.

[2019-10-09 18:44] AlexandruBuhai commented on #412
I would like to work on this. Is the intended behavior for the image to not to have an underline?

[2019-10-09 18:51] #364 closed

[2019-10-09 18:53] #406 closed

[2019-10-09 20:01] driver-by commented on #385
Hey guys, I've tried to use mocha.parallel and it worked pretty good! I've just added a PR #415.
Let me know if it's ok.

[2019-10-09 22:11] c-kaieong opened #416 "Wild swag opportunity appeared for PagerDuty"
## Wild swag opportunity appeared!

- [ ] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : PagerDuty

Q. Where have you seen the announcement (URL)?
A. : https://community.pagerduty.com/t/free-pagerduty-stickers-are-back-and-here-to-stay/4520

Q. What kind of swag (clothing, stickers, ...)?
A. : stickers

- [ ] I've checked that the promotion is legit.
- [ ] I've c

[2019-10-10 07:08] aslafy-z opened #418 "Hacktoberfest 2019: Globo.com"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Globo.com

Q. Where have you seen the announcement (URL)?
A. : https://opensource.globo.com/hacktoberfest/

Q. What kind of swag (clothing, stickers, ...)?
A. : clothing

- [x] I've checked that the promotion is legit.
- [x] I've checked that it's still available to the publi

[2019-10-10 08:01] AlexandruBuhai commented on #418
I would like to contribute

[2019-10-10 08:27] hugovk commented on #418
camiseta exclusiva a ser entregue dentro
do território brasileiro.

Google Translate:

exclusive t-shirt to be delivered within
the Brazilian territory.

[2019-10-10 08:45] AlexandruBuhai commented on #418
@hugovk is right, seems to just be in Brazil. Should I add it with the text `Delivery only in Brazil` or not since the swag must be able to be shipped worldwide?

[2019-10-10 08:46] maybebored commented on #387
Assign this to me, once #398 is merged. I'll update the readme to resolve this issue and also add a link to ARCHITECTURE.md from #398.

[2019-10-10 13:25] anhek commented on #407
Hello :)

Here's the sketch as previously asked.

 I restructured the layout to give it a better readability. My first intention was to create a logo but I've found out someone already worked on this part, so I imported the chosen one (from the poll that was made back in December).

I aimed to create a visual style that is playful and colorful (e.g for the background tags colors) as getting swag i

[2019-10-10 16:03] #418 closed

[2019-10-10 18:46] sanjpareek commented on #412
Hi, I am a beginner at OS. I am interested in fixing this bug. I tried running this project locally but am encountering errors when running gulp command.

Node: v6.5.0
npm: 3.10.3

/Users/sanjanapareek/personal/swag-for-dev/node_modules/del/index.js:55
module.exports = async (patterns, {force, dryRun, cwd = process.cwd(), ...options} = {}) => {

[2019-10-10 23:11] vikaspotluri123 commented on #412
@sanjpareek yep, node v6 was deprecated in April. You're best off upgrading to v10.x or v8.x

[2019-10-10 23:17] vikaspotluri123 commented on #366
@r4zorgeek I've assigned you

[2019-10-12 01:47] Souvik-py opened #424 "Postman swags"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Postman

Q. Where have you seen the announcement (URL)?
A. : https://www.surveymonkey.com/r/8SKGPCG

Q. What kind of swag (clothing, stickers, ...)?
A. : T-shirts, socks, mug, stickers

Q. Have you received swag from this?
A. : No

Q. How long did it take?
A. : NA

Q. Does it

[2019-10-12 01:49] Souvik-py commented on #424
I would like to contribute a PR for this issue.

[2019-10-12 01:50] vikaspotluri123 commented on #424
It looks like the swag is not guaranteed, can you confirm?

[2019-10-12 01:58] Souvik-py commented on #424
I think they will choose random winners for the prizes..

[2019-10-12 03:13] vikaspotluri123 commented on #424
/cc @aslafy-z I think we've decided to only allow opportunities that have fixed odds

[2019-10-12 04:26] Souvik-py commented on #424
okey then, I'm closing this issue. Thanks for your time..

[2019-10-12 04:26] #424 closed

[2019-10-12 10:15] peterjgrainger opened #425 "Add Strawberry Swag: https://github.com/strawberry-graphql/strawberry"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Any

Q. Where have you seen the announcement (URL)?
A. : https://twitter.com/patrick91/status/1178952690300272640?s=19

Q. What kind of swag (clothing, stickers, ...)?
A. : Stickers

Q. Have you received swag from this?
A. : No

Q. How long did it take?
A. : n/a

Q. Does it s

[2019-10-12 10:15] peterjgrainger commented on #425
I'll work on this :)

[2019-10-12 14:31] swapagarwal commented on #407
This looks great! I've posted it in the Telegram group for feedback from the community. 😇

[2019-10-12 14:53] Yash-Garg commented on #407
Looks amazing ! Good work 🔥

[2019-10-12 19:51] OpeOnikute commented on #326
Hello @aslafy-z, I want to add this.

[2019-10-13 09:19] Richu98 opened #430 "Add Accord Swag Opportunity"
## Wild swag opportunity appeared!

- [ ] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Accord Project

Q. Where have you seen the announcement (URL)?
A. : https://www.accordproject.org/events/hacktoberfest-2019/

Q. What kind of swag (clothing, stickers, ...)?
A. : T-Shirts and Stickers

Q. Have you received swag from this?
A. : No

Q. How long did it take?
A.

[2019-10-13 09:21] #430 closed

[2019-10-14 00:34] jrwiegand commented on #375
@vikaspotluri123 I believe this issue can be closed. Thanks for approving the PR.

[2019-10-14 01:09] vikaspotluri123 commented on #375
@jrwiegand this will be closed once your PR gets merged 😄 We usually wait for at least 2 approvals before merging them

[2019-10-14 07:27] #375 closed

[2019-10-14 07:31] aslafy-z commented on #326
Closed with #428

[2019-10-14 07:31] #326 closed

[2019-10-14 08:47] aslafy-z commented on #407
#351

[2019-10-14 11:55] jrwiegand commented on #375
@vikaspotluri123 Okay. I was not sure why the PR had not been merged since you had approved it. Thanks again.

[2019-10-14 11:59] jrwiegand commented on #368
@aslafy-z @vikaspotluri123 Would you all be fine with me opening another PR for this one as it seems the current PR (#370) has staled?

[2019-10-14 12:53] aslafy-z commented on #375
@jrwiegand Hello, as @vikaspotluri123 said, we usually wait for a second approval before merging.

[2019-10-14 13:12] jrwiegand commented on #375
@aslafy-z That makes sense to me. 😄

[2019-10-14 14:15] #315 closed

[2019-10-14 14:16] #360 closed

[2019-10-14 16:12] swapagarwal commented on #407
Some feedback:
- Oh gosh the ui looks cleaner
- This is lit 🔥🔥
- Looks 🔥
- Cool
@anhek Let's go ahead! 💯

[2019-10-14 16:47] r4zorgeek commented on #366
@vikaspotluri123 When I am running gulp command this error is coming. Can you please help me with this?
![Screenshot 2019-10-14 at 10 15 40 PM](https://user-images.githubusercontent.com/14335686/66768519-5f3dba80-eed0-11e9-9952-8947148ea067.png)

[2019-10-14 16:49] vikaspotluri123 commented on #366
It looks like something failed to download. If you run it again, it will probably work

[2019-10-14 16:50] r4zorgeek commented on #366
@vikaspotluri123 I have tried it multiple times still same error.

[2019-10-14 20:28] anhek commented on #407
Thank you for the feedbacks 🤓
My laptop just died today (need to bring it Wednesday for reparation), I’ll restart the integration work on another laptop and I’ll stay in touch with you guys 👌

[2019-10-15 12:17] r4zorgeek commented on #366
@vikaspotluri123 Hey can you please help the error is still on.

[2019-10-15 13:26] vikaspotluri123 commented on #366
Are you working on the latest version of mater?

[2019-10-15 17:36] KillMonger1 opened #435 "Operation Code marked 'EASY'"
## Issue with an existing swag opportunity

- [x] I've checked that this isn't a duplicate issue.

Q. Which opportunity?
A. : Operation Code

The Operation Code Swag opportunity is marked as easy. I feel that resolving 3 issues or merging 2 PR's aren't less than 'medium' difficulty for any newbie.

[2019-10-15 22:40] aslafy-z commented on #166
Updated today

[2019-10-15 23:31] #385 closed

[2019-10-15 23:59] aslafy-z commented on #407
Dark mode draft https://github.com/swapagarwal/swag-for-dev/pull/214

[2019-10-16 02:53] shakeabi opened #439 "Add "done with this swag" checkbox to each swag"
## Issue regarding the website

- [x] I've checked that this isn't a duplicate issue.

Add "done with this swag" checkbox ( and store the data in the localstorage ) to each swag so that we can see which swags we've completed. This is particularly useful during hacktoberfest.

[2019-10-16 02:55] vikaspotluri123 commented on #439
Duplicate of #151 😉

[2019-10-16 02:55] #439 closed

[2019-10-16 03:04] shakeabi commented on #439
sry :'(

[2019-10-17 15:52] r4zorgeek commented on #366
@vikaspotluri123 yes sir, still the same issue.

[2019-10-17 20:17] aslafy-z opened #441 "Hacktoberfest 2019: Flutterwave"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Flutterwave

Q. Where have you seen the announcement (URL)?
A. : https://twitter.com/Ace_KYD/status/1183738026511519745

Q. What kind of swag (clothing, stickers, ...)?
A. : clothing

- [x] I've checked that the promotion is legit.
- [x] I've checked that it's still available

[2019-10-17 20:19] aslafy-z opened #442 "Hacktoberfest 2019: Les tilleuls"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Les tilleuls

Q. Where have you seen the announcement (URL)?
A. : https://les-tilleuls.coop/fr/blog/article/celebrate-hacktoberfest-with-api-platform

Q. What kind of swag (clothing, stickers, ...)?
A. : clothing

- [x] I've checked that the promotion is legit.
- [x] I've che

[2019-10-18 01:37] wuworkshop commented on #435
Just submitted a quick PR for this one.

[2019-10-18 05:48] kyle-copeland commented on #442
I'd like to contribute and add this

[2019-10-18 06:01] kyle-copeland commented on #441
I'd like to grab this one as well

[2019-10-18 07:22] #435 closed

[2019-10-18 07:26] aslafy-z opened #447 "Fix image generation"
This upgrade changed the way images are generated in some way. The generated images aren't the same. We might need to adjust some settings.

_Originally posted by @aslafy-z in https://github.com/swapagarwal/swag-for-dev/pull/440#issuecomment-543343226_

[2019-10-20 15:16] henriquepjv opened #452 "Docker"
- [ ] I've checked that this isn't a duplicate issue.

[2019-10-20 15:20] henriquepjv commented on #452
I saw that there is an already created [PR](https://github.com/swapagarwal/swag-for-dev/pull/76) for docker configurations from 2018. But i made a simpler solution because I want to contribute but I dont want to install all the dependencies on my pc.
May i create a PR with my solution?
Thanks :smiley:

[2019-10-20 15:35] aslafy-z commented on #452
Hello @henriquepjv
Can you have a try over #76?

[code]
and follow up at: https://github.com/aslafy-z/swag-for-dev/blob/add-dockerfile/CONTRIBUTING.md#start-using-docker

It's now ready and needs reviews

[2019-10-20 17:46] KiranAkadas opened #453 "Sense/Net difficulty set to 'easy'"
## Issue with an existing swag opportunity

- [x] I've checked that this isn't a duplicate issue.

Q. Which opportunity?
A. : Sense/Net

I feel that making a pull request to a repo isn't that easy for a beginner and that the swag opportunity needs to be marked at a 'medium' level

[2019-10-20 18:15] swapagarwal commented on #453
You can send a documentation PR as well and from the blog, it need not be merged to count.

[2019-10-20 18:15] #453 closed

[2019-10-20 22:04] #368 closed

[2019-10-23 16:57] sanjpareek commented on #366
@r4zorgeek I was facing the same issue. There was one dependency which was not being installed with npm install and I had to do it manually - acorn@^6.0.0. Here are the steps I followed which fixed it for me:

npm cache clean -f
npm install acorn@^6.0.0
npm install
gulp

[2019-10-24 12:53] #412 closed

[2019-10-25 22:46] #442 closed

[2019-10-25 22:47] #441 closed

[2019-10-26 11:02] anabellaspinelli commented on #363
Hello! I can add this if nobody else is doing it. Will create a PR today 😉

[2019-10-26 11:37] #363 closed

[2019-10-27 09:17] brkn opened #460 "New swag: Facebook/Docusaurus"
## Wild swag opportunity appeared!

- [x] I've checked that this isn't a duplicate issue.

Q. Which company offers it?
A. : Facebook

Q. Where have you seen the announcement (URL)?
A. : [Docusaurus github issue#1834](https://github.com/facebook/docusaurus/issues/1834)

Q. What kind of swag (clothing, stickers, ...)?
A.

Q. Have you received swag from this?
A. : No

Q. How long did it take?
A. : _N

[2019-10-27 11:28] aslafy-z opened #461 "Rephrase Xamarin description"
## Issue regarding the website

- [x] I've checked that this isn't a duplicate issue.

Need to be rephrased

[2019-10-27 13:15] r4zorgeek commented on #366
@sanjpareek Thanks for your comment. I tried those commands but still not fixed.

[2019-10-27 13:27] aslafy-z commented on #366
@r4zorgeek

Make sure you are using at least node 10, check with `node -v` (you can use nvm: https://gist.github.com/d2s/372b5943bce17b964a79 to install these versions).

Then, start from the beginning:
[code]

It works for us, it should work for you

[2019-10-27 13:48] ajitsinghkaler commented on #447
@aslafy-z Can I work on this.

[2019-10-27 15:18] aslafy-z commented on #447
Nice, I assigned it to you. Have a look to the linked description :arrow_up:

[2019-10-28 05:24] ajitsinghkaler commented on #447
I need to know the change we need to make to the images. Can you please attach some screenshots. I downgraded the gulp-responsive version but the images were still the same.

[2019-10-29 16:21] ajitsinghkaler commented on #447
@aslafy-z This is not an image generation issue most of it occurs because most images are not 300*300 so for that either we can change the CSS or reduce the size of images to width:300 px. I'm making both changes please review and tell which is more appropriate.

[2019-10-29 16:40] ajitsinghkaler commented on #447
What you think is an appropriate solution I can create a pull request for that.

[2019-10-29 22:12] aslafy-z commented on #461
Closed with https://github.com/swapagarwal/swag-for-dev/commit/4c2fb9a728d89783c04b426ccfef88ceee9b8475

[2019-10-29 22:12] #461 closed

[2019-10-29 22:21] pannapat commented on #104
Is this still available to take on?

[2019-10-29 22:33] aslafy-z commented on #104
Hello @pannapat, it's yours! I'll assign you. We have a stale PR at https://github.com/swapagarwal/swag-for-dev/pull/124, please take a look.

[2019-10-30 03:55] pannapat commented on #104
Thanks a lot! Please allow me to look into this for a couple of days.

[2019-10-30 19:54] #460 closed

[2019-10-30 22:26] #411 closed

[2019-10-30 22:27] #425 closed

[2019-11-03 09:17] KillMonger1 opened #468 "Remove HacktoberFest related Swags"
## Issue with an existing swag opportunity

- [x] I've checked that this isn't a duplicate issue.

Q. Which opportunity?
A. : Many

There are many Hacktoberfest related Swag opportunities which seem to have expired as HacktoberFest has ended. Why not remove all those.

[2019-11-03 16:50] swapagarwal commented on #468
Yes, we need to add the "expired" tag to all such items.

[2019-11-18 09:30] manan2501 commented on #468
check PR #473

[2019-11-20 15:38] aayushbisen commented on #369
@aslafy-z We can close this issue! 😁

[2019-11-20 17:33] #369 closed

[2019-11-25 09:17] itguymax commented on #104
@anhek  the swag-for-dev website is not updated i thought to contribute to some features. anyone here?

[2019-11-25 09:22] itguymax commented on #104
is this still open?

[2019-11-25 09:25] itguymax commented on #227
hi is this still open?

[2019-11-25 14:15] Yash-Garg commented on #104
Great idea 👍

[2019-11-25 15:09] pannapat commented on #104
I’ve been working on this issue! Sorry for not keeping you all posted

On Mon, Nov 25, 2019 at 8:15 AM Yash Garg <notifications@github.com> wrote:

[2019-11-25 23:18] pannapat commented on #104
@aslafy-z May I ask why we have a stale PR at #124?

[2019-11-25 23:20] pannapat commented on #104
@anhek Should I fork a repo from yours? instead of https://github.com/swapagarwal/swag-for-dev?

[2019-11-25 23:31] anhek commented on #104
Yes, you should fork my repo which contains the redesign :)

[2019-11-25 23:48] pannapat commented on #104
And just branch out from master?

[2019-11-25 23:49] anhek commented on #104
Yep, the master branch is the final version of the redesign